.Marquee_marqueeContainer__GSmm4 {
  --marquee-animation-direction: normal;
  --marquee-animation-duration: 60s;
  --marquee-animation-play-state: running;
  --marquee-animation: Marquee_marqueeFrames__WsEH6
    var(--marquee-animation-duration) linear infinite;
  --marquee-item-gap: 12px;
  --marquee-margin-inline: calc(-1 * var(--section-padding-horizontal));
  --marquee-padding-y: 50px;
  --marquee-gradient-percent: 0;
  padding: var(--marquee-padding-y) 0;
  contain: paint;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-inline: var(--marquee-margin-inline);
  -webkit-mask-image: linear-gradient(
    to right,
    #0000,
    #000 var(--marquee-gradient-percent),
    #000 calc(100% - var(--marquee-gradient-percent)),
    #0000
  );
  mask-image: linear-gradient(
    to right,
    #0000,
    #000 var(--marquee-gradient-percent),
    #000 calc(100% - var(--marquee-gradient-percent)),
    #0000
  );
}
@media (min-width: 600px) {
  .Marquee_marqueeContainer__GSmm4 {
    --marquee-gradient-percent: 15%;
  }
}
@media (min-width: 1300px) {
  .Marquee_marqueeContainer__GSmm4 {
    --marquee-margin-inline: -40px;
  }
}
.Marquee_marqueeContainer__GSmm4:hover {
  --marquee-animation-play-state: paused;
}
.Marquee_marqueeContainer__GSmm4:focus-within {
  --marquee-animation: none;
  contain: none;
  overflow-x: scroll;
  touch-action: pan-x;
}
.Marquee_marqueeRow__IIbiD {
  position: relative;
  font-size: 0;
}
.Marquee_marqueePlaceholder__WjDDz {
  display: flex;
  opacity: 0;
}
@keyframes Marquee_marqueeFrames__WsEH6 {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-50% - var(--marquee-item-gap) / 2));
  }
}
.Marquee_marquee__jTJ0o {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  gap: var(--marquee-item-gap);
}
@media (prefers-reduced-motion: no-preference) {
  .Marquee_marquee__jTJ0o {
    animation: var(--marquee-animation);
    animation-direction: var(--marquee-animation-direction);
    animation-play-state: var(--marquee-animation-play-state);
  }
}
.Marquee_marquee__jTJ0o.Marquee_reverse__DIAKr,
html[dir="rtl"] .Marquee_marqueeContainer__GSmm4 {
  --marquee-animation-direction: reverse;
}
html[dir="rtl"] .Marquee_marquee__jTJ0o.Marquee_reverse__DIAKr {
  --marquee-animation-direction: normal;
}
