.template_templateScreenshots__zz5jK {
  margin-top: 36px;
  margin-bottom: 48px;
}
.template_template__E5VkR {
  margin: auto;
}
.template_templateHeader___GL6l {
  flex-flow: row wrap;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 12px;
}
.template_demoFrame__Yv95v {
  width: 100%;
  box-shadow: var(--shadow-300);
}
.template_demoFrame__Yv95v iframe {
  border-radius: 8px;
  border: 1px solid var(--color-border-base);
}
.template_templateHeaderContainer__yGFxj {
  display: flex;
  flex: 1 0 100%;
  padding-right: 0;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 16px;
}
@media (min-width: 1080px) {
  .template_templateHeaderContainer__yGFxj {
    margin-bottom: 16px;
    flex: 1 0 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}
.template_templateHeaderLeft__3fnxN {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.template_templateFooter__mYRI2 {
  position: sticky;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 12px;
  width: calc(100% + 44px);
  transform: translateX(-22px);
  bottom: 0;
  left: 0;
  background: #fff;
  margin-top: 64px;
  border-top: 1px solid var(--color-border-base);
  gap: 10px;
  flex-direction: row;
  z-index: 2;
}
@media screen and (max-width: 374px) {
  .template_templateFooter__mYRI2 {
    flex-direction: column;
  }
}
@media (min-width: 1080px) {
  .template_templateFooterTest__VAWAD,
  .template_templateFooter__mYRI2 {
    display: none;
  }
}
@media (min-width: 375px) {
  .template_templateFooterTest__VAWAD {
    flex-direction: row;
  }
}
.template_templateFooter__mYRI2 .template_templatePageCtaContainer__YVsZB {
  margin-top: auto;
  display: flex;
  justify-content: center;
  width: 100%;
}
.template_templateFooter__mYRI2 .template_templatePageCtaContainer__YVsZB * {
  flex-grow: 1;
}
.template_templateDescription__vpU8D {
  display: flex;
  flex-flow: column;
  column-gap: 120px;
  row-gap: 36px;
}
@media (min-width: 1080px) {
  .template_templateDescription__vpU8D {
    flex-flow: row wrap;
  }
}
.template_templateDescription__vpU8D header {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: calc(100% - 370px);
  flex-direction: column;
}
.template_templateHeaderCta__2Fnch {
  display: none;
}
.template_templateContentContainer__Ov74t {
  display: flex;
  gap: 24px;
  margin-top: 24px;
  flex-direction: column;
  width: 100%;
}
.template_templateCtaContainer__2jAR2 {
  display: flex;
  gap: 10px;
  flex-shrink: 0;
  align-items: center;
}
.template_templateDescriptionTest__WHtHM {
  display: flex;
  flex-flow: column;
  column-gap: 120px;
  row-gap: 16px;
}
.template_templateScreenshotsTest__Uq8Z8 {
  z-index: 1;
}
@media (min-width: 1080px) {
  .template_templateHeaderCta__2Fnch {
    display: inline-block;
    flex-shrink: 0;
  }
}
@media (min-width: 840px) {
  .template_templateContentContainer__Ov74t {
    flex-direction: row;
  }
  .template_templateDescriptionTest__WHtHM {
    width: 34%;
  }
  .template_templateScreenshotsTest__Uq8Z8 {
    width: 66%;
  }
}
.template_readMoreContainer__4ekEN {
  position: relative;
}
.template_readMoreContent__3Bq_C {
  overflow: hidden;
}
.template_readMoreGradient__XxdWC {
  background: linear-gradient(#fff0, #fff 85%);
  height: 40px;
  margin-top: -40px;
  position: absolute;
  width: 100%;
  pointer-events: none;
}
.template_readMoreLink__NVJpo {
  color: var(--color-gray-400);
  font-weight: var(--font-weight-semibold);
}
.template_readMoreLink__NVJpo:hover {
  color: var(--color-black);
}
.marketplaceDetailCategories_categoryIcon__EiZ36 {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}
.marketplaceDetailCategories_inlineLinks__J_xGV {
  margin: 4px auto;
  flex-flow: row wrap;
  display: flex;
  gap: 6px;
}
.marketplaceDetailCategories_inlineLinks__J_xGV li {
  display: inline-flex;
}
.socialShare_share__JZdeS {
  display: flex;
  flex-direction: column;
}
@media (min-width: 840px) {
  .socialShare_share__JZdeS {
    flex-direction: row;
  }
}
.socialShare_share__JZdeS ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.socialShare_share__JZdeS li {
  list-style: none;
  color: var(--text-color-medium);
  margin-right: 6px;
}
.socialShare_variantTwitter__i_6Jt:hover {
  color: #1d9bf0;
}
.socialShare_variantLinkedIn__BVtw4:hover {
  color: #2867b2;
}
.socialShare_variantFacebook__IeIlD:hover {
  color: #1877f2;
}
.socialShare_variantEmail__0yJ6y:hover {
  color: var(--text-color-dark);
}
.socialShare_youtube__XakZy {
  color: var(--text-color-medium);
  margin-top: 20px;
}
.socialShare_youtube__XakZy:hover {
  color: red;
}
.socialShare_youtubeText__QuCi8 {
  font-size: var(--font-size-150);
  line-height: 18px;
  padding-right: 4px;
}
@media (min-width: 840px) {
  .socialShare_youtube__XakZy {
    margin-top: 0;
    margin-left: 20px;
  }
}
.templateDetail_templateDetails__RWVzC {
  display: flex;
  flex-direction: column;
  gap: 36px;
  width: 250px;
}
.templateDetail_footer__HCzBK {
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-decoration: none;
}
.templateDetail_categoryIcon__JEWT5 {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}
.templateDetail_inlineLinks__2QKYl {
  margin: 4px auto;
  flex-flow: row wrap;
  display: flex;
  gap: 6px;
}
.templateDetail_inlineLinks__2QKYl li {
  display: inline-flex;
}
.templateDetail_links__01agD {
  list-style-type: none;
  margin: 4px auto;
  width: 100%;
  display: block;
}
.templateDetail_links__01agD li {
  padding: 2px 0;
  display: flex;
  flex-direction: row;
  gap: 4px;
  flex: 1 0 100%;
  width: 100%;
  text-decoration: none;
  word-break: break-all;
}
.templateDetail_links__01agD li a {
  text-decoration: none;
}
.templateDetail_termsLink__L2yVQ {
  padding-bottom: 36px;
}
.templateDuplicateCta_templatePageCtaContainer__9CLyb {
  margin-top: auto;
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
}
.templateDuplicateCta_templatePageCtaContainerCenter__6yJiL {
  align-self: center;
  display: flex;
  justify-content: center;
}
.templateDuplicateCta_templatePageCtaContainerLeft__xU46q {
  margin-top: auto;
  align-self: flex-start;
  display: flex;
  justify-content: flex-start;
}
.templateDuplicateCta_templatesButton__fQ1N7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.templateDuplicateCta_templatesMeta__d0kP9 {
  font: var(--typography-sans-200-bold-font);
  letter-spacing: var(--typography-sans-200-bold-letter-spacing);
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
  gap: 4px;
  opacity: 0.5;
}
.templateViewCta_templatePageCtaContainerCenter__WKQ06 {
  align-self: center;
  justify-content: center;
  display: flex;
}
.templateViewCta_templatePageCtaContainer__F2nxk {
  margin-top: auto;
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
}
.templateViewCta_templatePageCtaContainerLeft__ri_By {
  margin-top: auto;
  align-self: flex-start;
  display: flex;
  justify-content: flex-start;
}
.templateViewCta_templatesButton__msl_u {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.templateViewCta_templatesMeta__2paM6 {
  font: var(--typography-sans-200-bold-font);
  letter-spacing: var(--typography-sans-200-bold-letter-spacing);
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
  gap: 4px;
  opacity: 0.5;
}
.Divider_dividerVertical__DAy3k {
  border: 1px solid var(--color-border-base);
  height: 100%;
}
.Divider_dividerHorizontal__kSSaN {
  height: 1px;
  outline: none;
  border: none;
  margin: 0 auto;
  padding: 0;
  display: block;
  width: 100%;
  border-top: 1px solid var(--color-border-base);
}
.TemplateModal_modalTrigger__Oe4dT {
  display: contents;
}
.TemplateModal_modalBackdrop__4gby3 {
  position: fixed;
  inset: 0;
  z-index: var(--z-index-lightbox);
  background: #00000040;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
}
@media (min-width: 1080px) {
  .TemplateModal_modalBackdrop__4gby3 {
    justify-content: center;
    padding: 0 4vw;
  }
}
.TemplateModal_modalBackdrop__4gby3[hidden] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  display: block;
  visibility: hidden;
}
@keyframes TemplateModal_backgroundFadeOut__ny0kV {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.TemplateModal_modalBackdropNoAnimate__quvg0 {
  animation: TemplateModal_backgroundFadeOut__ny0kV 0ms ease-out;
  animation-fill-mode: forwards;
}
.TemplateModal_modalBackdropFadeOut__zxkBL {
  animation: TemplateModal_backgroundFadeOut__ny0kV 0.25s ease-out;
  animation-fill-mode: forwards;
}
.TemplateModal_modalContent__vpiRM {
  background: var(--color-background-base);
  width: 100%;
  max-width: 1200px;
  overflow: scroll;
  box-sizing: border-box;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  border: 1px solid #0000001a;
  box-shadow: 0 2px 7px #0003;
  position: absolute;
  inset: 0;
  margin-top: unset;
}
@media (min-width: 1080px) {
  .TemplateModal_modalContent__vpiRM {
    position: relative;
    height: calc(100vh - 115px);
    margin-top: 20px;
  }
}
.TemplateModalControls_modalControls__P931K {
  padding: 8px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: var(--color-background-base);
}
.TemplateModalControls_modalControlContainer__1o_N0 {
  display: flex;
  gap: 24px;
  align-items: center;
}
.TemplateModalControls_modalControls__P931K[hidden] {
  display: none;
}
.DynamicModal_trigger__F5_LZ {
  display: "contents";
}
.analyticsScrollPoint_analyticsScrollPoint__EZ4T_ {
  display: inline;
}
