@layer front-ui-components {
  .StatsRow_statsRow__g3IUo {
    margin-block: 0;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-32);
    inline-size: -moz-fit-content;
    inline-size: fit-content;
    background-color: var(--color-background-base);
    border: 4px solid var(--color-background-surface-accent-muted);
    border-radius: var(--border-radius-500);
    padding-block: var(--spacing-24);
    padding-inline: var(--spacing-32);
  }
  @media (min-width: 1080px) {
    .StatsRow_statsRow__g3IUo {
      padding-block: var(--spacing-32);
      padding-inline: var(--spacing-48);
    }
  }
  .StatsRow_media__EqraM {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .StatsRow_media__EqraM img,
  .StatsRow_media__EqraM svg {
    display: block;
    max-block-size: 40px;
    inline-size: auto;
    flex-shrink: 0;
  }
  .StatsRow_stats__kHQe1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-24);
    text-align: center;
  }
  @media (min-width: 840px) {
    .StatsRow_stats__kHQe1:has(> :nth-child(2)):not(:has(> :nth-child(3))) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (min-width: 840px) {
    .StatsRow_stats__kHQe1:has(> :nth-child(3)):not(:has(> :nth-child(4))) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (min-width: 840px) {
    .StatsRow_stats__kHQe1:has(> :nth-child(4)) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (min-width: 1080px) {
    .StatsRow_stats__kHQe1:has(> :nth-child(4)) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  .StatsRow_description__wU1hR {
    text-wrap: balance;
  }
  .block_block__NZ57K {
    position: relative;
    flex: 1 1;
    container-type: inline-size;
    --color-card-body-text: var(--color-card-body-block-text);
  }
}
@layer front-ui-components {
  .block_block__NZ57K:has(.block_blockClickableRegion__2hgxG):after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background-color: #0000;
    box-shadow: var(--shadow-200);
    opacity: 0;
    pointer-events: none;
    will-change: opacity;
    transition-property: opacity;
    transition-timing-function: var(--motion-global-fade-out-timing-function);
    transition-duration: var(--motion-global-fade-out-duration);
  }
  .block_block__NZ57K:has(
      .block_blockClickableRegion__2hgxG
    ):focus-within:after,
  .block_block__NZ57K:has(.block_blockClickableRegion__2hgxG):hover:after,
  .block_block__NZ57K:has(.block_blockClickableRegion__2hgxG:active):after {
    opacity: 1;
    transition-timing-function: var(--motion-global-fade-in-timing-function);
    transition-duration: var(--motion-global-fade-in-duration);
  }
  .block_blockIsSurfaceBase__LSebb,
  .block_blockIsSurfaceNeutral__kaFDX {
    border-radius: var(--border-card-radius);
  }
  .block_blockIsSurfaceBase__LSebb {
    border: 1px solid var(--color-card-border);
  }
  .block_blockIsSurfaceNeutral__kaFDX {
    border: 2px solid var(--color-background-surface-neutral);
  }
  .block_blockStack__NQPhA {
    display: flex;
    flex-direction: column;
    block-size: 100%;
    border-radius: inherit;
    overflow: clip;
  }
  .block_blockContent__QSAYI {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
    max-inline-size: 540px;
    flex: 1 1 100%;
  }
  :where(.surfaceBase) .block_blockContent__QSAYI {
    padding-block-start: var(--spacing-card-padding-block-start-block);
    padding-block-end: var(--spacing-card-padding-block-end-block);
    padding-inline: var(--spacing-card-padding-inline-block);
  }
  @container surface style(--surface-type: surfaceBase) {
    .block_blockContent__QSAYI {
      padding-block-start: var(--spacing-card-padding-block-start-block);
      padding-block-end: var(--spacing-card-padding-block-end-block);
      padding-inline: var(--spacing-card-padding-inline-block);
    }
  }
  :where(.surfaceNeutral) .block_blockContent__QSAYI {
    padding-block-start: var(--spacing-card-padding-block-start-block);
    padding-block-end: var(--spacing-card-padding-block-end-block);
    padding-inline: var(--spacing-card-padding-inline-block);
  }
  @container surface style(--surface-type: surfaceNeutral) {
    .block_blockContent__QSAYI {
      padding-block-start: var(--spacing-card-padding-block-start-block);
      padding-block-end: var(--spacing-card-padding-block-end-block);
      padding-inline: var(--spacing-card-padding-inline-block);
    }
  }
  .block_descriptionList__HOzrY {
    padding-inline-start: 1.25em;
  }
  .block_blockLogo__u7NSx {
    mix-blend-mode: multiply;
    max-inline-size: 120px;
  }
  .block_blockLogo__u7NSx > * {
    inline-size: auto;
    block-size: 28px;
  }
  .block_blockFigure__G9Mqi {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    gap: var(--spacing-80);
    flex: 1 1 100%;
  }
  .block_blockBlockquote__LFVvC {
    font: var(
      --typography-card-quote-font-computed,
      var(--typography-card-quote-font)
    );
    letter-spacing: var(
      --typography-card-quote-letter-spacing-computed,
      var(--typography-card-quote-letter-spacing)
    );
    margin: 0;
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    hanging-punctuation: first;
  }
  @media (min-width: 600px) {
    .block_blockBlockquote__LFVvC {
      --typography-card-quote-font-computed: var(
        --typography-card-quote-sm-font
      );
      --typography-card-quote-letter-spacing-computed: var(
        --typography-card-quote-sm-letter-spacing
      );
    }
  }
  @media (min-width: 840px) {
    .block_blockBlockquote__LFVvC {
      --typography-card-quote-font-computed: var(
        --typography-card-quote-md-font,
        var(--typography-card-quote-sm-font)
      );
      --typography-card-quote-letter-spacing-computed: var(
        --typography-card-quote-md-letter-spacing,
        var(--typography-card-quote-sm-letter-spacing)
      );
    }
  }
  @media (min-width: 1080px) {
    .block_blockBlockquote__LFVvC {
      --typography-card-quote-font-computed: var(
        --typography-card-quote-lg-font,
        var(
          --typography-card-quote-md-font,
          var(--typography-card-quote-sm-font)
        )
      );
      --typography-card-quote-letter-spacing-computed: var(
        --typography-card-quote-lg-letter-spacing,
        var(
          --typography-card-quote-md-letter-spacing,
          var(--typography-card-quote-sm-letter-spacing)
        )
      );
    }
  }
  @media (min-width: 1280px) {
    .block_blockBlockquote__LFVvC {
      --typography-card-quote-font-computed: var(
        --typography-card-quote-xl-font,
        var(
          --typography-card-quote-lg-font,
          var(
            --typography-card-quote-md-font,
            var(--typography-card-quote-sm-font)
          )
        )
      );
      --typography-card-quote-letter-spacing-computed: var(
        --typography-card-quote-xl-letter-spacing,
        var(
          --typography-card-quote-lg-letter-spacing,
          var(
            --typography-card-quote-md-letter-spacing,
            var(--typography-card-quote-sm-letter-spacing)
          )
        )
      );
    }
  }
  @media (min-width: 1440px) {
    .block_blockBlockquote__LFVvC {
      --typography-card-quote-font-computed: var(
        --typography-card-quote-xxl-font,
        var(
          --typography-card-quote-xl-font,
          var(
            --typography-card-quote-lg-font,
            var(
              --typography-card-quote-md-font,
              var(--typography-card-quote-sm-font)
            )
          )
        )
      );
      --typography-card-quote-letter-spacing-computed: var(
        --typography-card-quote-xxl-letter-spacing,
        var(
          --typography-card-quote-xl-letter-spacing,
          var(
            --typography-card-quote-lg-letter-spacing,
            var(
              --typography-card-quote-md-letter-spacing,
              var(--typography-card-quote-sm-letter-spacing)
            )
          )
        )
      );
    }
  }
  @supports not (hanging-punctuation: first) {
    .block_blockBlockquote__LFVvC {
      text-indent: -0.8ch;
    }
  }
  .block_blockBlockquote__LFVvC > :first-child:before {
    content: open-quote;
  }
  .block_blockBlockquote__LFVvC > :last-child:after {
    content: close-quote;
  }
  .block_blockClickableRegion__2hgxG {
    position: absolute;
    inset: 0;
  }
  .block_blockFigCaption__poBqz {
    font: var(
      --typography-global-meta-font-computed,
      var(--typography-global-meta-font)
    );
    letter-spacing: var(
      --typography-global-meta-letter-spacing-computed,
      var(--typography-global-meta-letter-spacing)
    );
  }
  @media (min-width: 600px) {
    .block_blockFigCaption__poBqz {
      --typography-global-meta-font-computed: var(
        --typography-global-meta-sm-font
      );
      --typography-global-meta-letter-spacing-computed: var(
        --typography-global-meta-sm-letter-spacing
      );
    }
  }
  @media (min-width: 840px) {
    .block_blockFigCaption__poBqz {
      --typography-global-meta-font-computed: var(
        --typography-global-meta-md-font,
        var(--typography-global-meta-sm-font)
      );
      --typography-global-meta-letter-spacing-computed: var(
        --typography-global-meta-md-letter-spacing,
        var(--typography-global-meta-sm-letter-spacing)
      );
    }
  }
  @media (min-width: 1080px) {
    .block_blockFigCaption__poBqz {
      --typography-global-meta-font-computed: var(
        --typography-global-meta-lg-font,
        var(
          --typography-global-meta-md-font,
          var(--typography-global-meta-sm-font)
        )
      );
      --typography-global-meta-letter-spacing-computed: var(
        --typography-global-meta-lg-letter-spacing,
        var(
          --typography-global-meta-md-letter-spacing,
          var(--typography-global-meta-sm-letter-spacing)
        )
      );
    }
  }
  @media (min-width: 1280px) {
    .block_blockFigCaption__poBqz {
      --typography-global-meta-font-computed: var(
        --typography-global-meta-xl-font,
        var(
          --typography-global-meta-lg-font,
          var(
            --typography-global-meta-md-font,
            var(--typography-global-meta-sm-font)
          )
        )
      );
      --typography-global-meta-letter-spacing-computed: var(
        --typography-global-meta-xl-letter-spacing,
        var(
          --typography-global-meta-lg-letter-spacing,
          var(
            --typography-global-meta-md-letter-spacing,
            var(--typography-global-meta-sm-letter-spacing)
          )
        )
      );
    }
  }
  @media (min-width: 1440px) {
    .block_blockFigCaption__poBqz {
      --typography-global-meta-font-computed: var(
        --typography-global-meta-xxl-font,
        var(
          --typography-global-meta-xl-font,
          var(
            --typography-global-meta-lg-font,
            var(
              --typography-global-meta-md-font,
              var(--typography-global-meta-sm-font)
            )
          )
        )
      );
      --typography-global-meta-letter-spacing-computed: var(
        --typography-global-meta-xxl-letter-spacing,
        var(
          --typography-global-meta-xl-letter-spacing,
          var(
            --typography-global-meta-lg-letter-spacing,
            var(
              --typography-global-meta-md-letter-spacing,
              var(--typography-global-meta-sm-letter-spacing)
            )
          )
        )
      );
    }
  }
  .block_blockMedia__tgELR {
    --block-media-border-radius: var(--border-radius-700);
    --block-media-box-shadow: var(--shadow-200);
    --block-media-border-color: #00000008;
    overflow: clip;
  }
  .block_blockMedia__tgELR img,
  .block_blockMedia__tgELR video {
    display: block;
    max-inline-size: 100%;
    block-size: auto;
  }
  .block_blockStats__IVGWu {
    display: flex;
    gap: var(--spacing-16);
  }
  :where(.surfaceBase) .block_mediaShadowMedium__PlDGh {
    outline: 1px solid var(--block-media-border-color);
    box-shadow: var(--block-media-box-shadow);
  }
  @container surface style(--surface-type: surfaceBase) {
    .block_mediaShadowMedium__PlDGh {
      outline: 1px solid var(--block-media-border-color);
      box-shadow: var(--block-media-box-shadow);
    }
  }
  :where(.surfaceNeutral) .block_mediaShadowMedium__PlDGh {
    outline: 1px solid var(--block-media-border-color);
    box-shadow: var(--block-media-box-shadow);
  }
  @container surface style(--surface-type: surfaceNeutral) {
    .block_mediaShadowMedium__PlDGh {
      outline: 1px solid var(--block-media-border-color);
      box-shadow: var(--block-media-box-shadow);
    }
  }
  :where(.surfaceBase) .block_mediaPlacementLeft__wXgqU {
    border-start-end-radius: var(--block-media-border-radius);
    margin-inline-end: var(--spacing-card-padding-inline-block);
  }
  @container surface style(--surface-type: surfaceBase) {
    .block_mediaPlacementLeft__wXgqU {
      border-start-end-radius: var(--block-media-border-radius);
      margin-inline-end: var(--spacing-card-padding-inline-block);
    }
  }
  :where(.surfaceNeutral) .block_mediaPlacementLeft__wXgqU {
    border-start-end-radius: var(--block-media-border-radius);
    margin-inline-end: var(--spacing-card-padding-inline-block);
  }
  @container surface style(--surface-type: surfaceNeutral) {
    .block_mediaPlacementLeft__wXgqU {
      border-start-end-radius: var(--block-media-border-radius);
      margin-inline-end: var(--spacing-card-padding-inline-block);
    }
  }
  :where(.surfaceBase) .block_mediaPlacementCenter__3TeZf {
    border-radius: var(--block-media-border-radius);
    margin-inline-end: var(--spacing-card-padding-inline-block);
    margin-inline-start: var(--spacing-card-padding-inline-block);
    margin-block-end: var(--spacing-card-padding-block-end-block);
  }
  @container surface style(--surface-type: surfaceBase) {
    .block_mediaPlacementCenter__3TeZf {
      border-radius: var(--block-media-border-radius);
      margin-inline-end: var(--spacing-card-padding-inline-block);
      margin-inline-start: var(--spacing-card-padding-inline-block);
      margin-block-end: var(--spacing-card-padding-block-end-block);
    }
  }
  :where(.surfaceNeutral) .block_mediaPlacementCenter__3TeZf {
    border-radius: var(--block-media-border-radius);
    margin-inline-end: var(--spacing-card-padding-inline-block);
    margin-inline-start: var(--spacing-card-padding-inline-block);
    margin-block-end: var(--spacing-card-padding-block-end-block);
  }
  @container surface style(--surface-type: surfaceNeutral) {
    .block_mediaPlacementCenter__3TeZf {
      border-radius: var(--block-media-border-radius);
      margin-inline-end: var(--spacing-card-padding-inline-block);
      margin-inline-start: var(--spacing-card-padding-inline-block);
      margin-block-end: var(--spacing-card-padding-block-end-block);
    }
  }
  :where(.surfaceBase) .block_mediaPlacementRight__6o28Y {
    border-start-start-radius: var(--block-media-border-radius);
    margin-inline-start: var(--spacing-card-padding-inline-block);
  }
  @container surface style(--surface-type: surfaceBase) {
    .block_mediaPlacementRight__6o28Y {
      border-start-start-radius: var(--block-media-border-radius);
      margin-inline-start: var(--spacing-card-padding-inline-block);
    }
  }
  :where(.surfaceNeutral) .block_mediaPlacementRight__6o28Y {
    border-start-start-radius: var(--block-media-border-radius);
    margin-inline-start: var(--spacing-card-padding-inline-block);
  }
  @container surface style(--surface-type: surfaceNeutral) {
    .block_mediaPlacementRight__6o28Y {
      border-start-start-radius: var(--block-media-border-radius);
      margin-inline-start: var(--spacing-card-padding-inline-block);
    }
  }
  @container (min-width: 720px) {
    .block_blockStack__NQPhA.block_directionRow__Enme4 {
      flex-direction: row;
      justify-content: flex-start;
    }
    .block_directionRow__Enme4
      .block_blockContent__QSAYI:has(~ .block_blockMedia__tgELR) {
      flex: 1 1;
      max-inline-size: none;
    }
    .block_directionRow__Enme4 .block_blockMedia__tgELR {
      flex: 1 1;
    }
    :where(.surfaceBase)
      .block_directionRow__Enme4
      .block_mediaPlacementLeft__wXgqU {
      border-start-start-radius: var(--block-media-border-radius);
      align-self: end;
      margin-block-start: var(--spacing-card-padding-block-start-block);
    }
    @container surface style(--surface-type: surfaceBase) {
      .block_directionRow__Enme4 .block_mediaPlacementLeft__wXgqU {
        border-start-start-radius: var(--block-media-border-radius);
        align-self: end;
        margin-block-start: var(--spacing-card-padding-block-start-block);
      }
    }
    :where(.surfaceNeutral)
      .block_directionRow__Enme4
      .block_mediaPlacementLeft__wXgqU {
      border-start-start-radius: var(--block-media-border-radius);
      align-self: end;
      margin-block-start: var(--spacing-card-padding-block-start-block);
    }
    @container surface style(--surface-type: surfaceNeutral) {
      .block_directionRow__Enme4 .block_mediaPlacementLeft__wXgqU {
        border-start-start-radius: var(--block-media-border-radius);
        align-self: end;
        margin-block-start: var(--spacing-card-padding-block-start-block);
      }
    }
    :where(.surfaceBase)
      .block_directionRow__Enme4
      .block_mediaPlacementCenter__3TeZf {
      align-self: center;
      margin-block-start: var(--spacing-card-padding-block-start-block);
    }
    @container surface style(--surface-type: surfaceBase) {
      .block_directionRow__Enme4 .block_mediaPlacementCenter__3TeZf {
        align-self: center;
        margin-block-start: var(--spacing-card-padding-block-start-block);
      }
    }
    :where(.surfaceNeutral)
      .block_directionRow__Enme4
      .block_mediaPlacementCenter__3TeZf {
      align-self: center;
      margin-block-start: var(--spacing-card-padding-block-start-block);
    }
    @container surface style(--surface-type: surfaceNeutral) {
      .block_directionRow__Enme4 .block_mediaPlacementCenter__3TeZf {
        align-self: center;
        margin-block-start: var(--spacing-card-padding-block-start-block);
      }
    }
    :where(.surfaceBase)
      .block_directionRow__Enme4
      .block_mediaPlacementRight__6o28Y {
      align-self: end;
      margin-block-start: var(--spacing-card-padding-block-start-block);
    }
    @container surface style(--surface-type: surfaceBase) {
      .block_directionRow__Enme4 .block_mediaPlacementRight__6o28Y {
        align-self: end;
        margin-block-start: var(--spacing-card-padding-block-start-block);
      }
    }
    :where(.surfaceNeutral)
      .block_directionRow__Enme4
      .block_mediaPlacementRight__6o28Y {
      align-self: end;
      margin-block-start: var(--spacing-card-padding-block-start-block);
    }
    @container surface style(--surface-type: surfaceNeutral) {
      .block_directionRow__Enme4 .block_mediaPlacementRight__6o28Y {
        align-self: end;
        margin-block-start: var(--spacing-card-padding-block-start-block);
      }
    }
  }
}
.Video_video__KYz0l {
  display: block;
  width: 100%;
  height: auto;
}
.Video_videoAspectRatio__qVTeE {
  aspect-ratio: var(--video-aspect-ratio);
}
.kombiBlockCarousel_stories_visuallyHidden__wh8po {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.block_iconAsLogo__7Xx3H > * {
  block-size: var(--graphic-icon-size, 28px);
  inline-size: auto;
}
@layer front-ui-components {
  .card_card__hR6CQ {
    inline-size: 100%;
    border-radius: var(--border-radius-700);
    border: 1px solid var(--color-card-border);
    background-color: var(--color-card-background);
    position: relative;
    outline: #0000 solid var(--decoration-focus-ring-outline-thickness);
    outline-offset: var(--decoration-focus-ring-outline-offset);
    transition: outline-color var(--motion-global-fade-out-duration)
      var(--motion-global-fade-out-timing-function);
  }
  .card_card__hR6CQ:has(.card_cardAnchor__xsVOe):after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background-color: #0000;
    box-shadow: var(--shadow-200);
    opacity: 0;
    pointer-events: none;
    will-change: opacity;
    transition-property: opacity;
    transition-timing-function: var(--motion-global-fade-out-timing-function);
    transition-duration: var(--motion-global-fade-out-duration);
  }
  .card_card__hR6CQ:has(.card_cardAnchor__xsVOe):focus-within:after,
  .card_card__hR6CQ:has(.card_cardAnchor__xsVOe):hover:after,
  .card_card__hR6CQ:has(.card_cardAnchor__xsVOe:active):after {
    opacity: 1;
    transition-timing-function: var(--motion-global-fade-in-timing-function);
    transition-duration: var(--motion-global-fade-in-duration);
  }
  .card_card__hR6CQ:has(.card_cardAnchor__xsVOe:focus-visible) {
    outline-color: var(--color-interaction-focus-ring);
    transition: outline-color var(--motion-global-fade-in-duration)
      var(--motion-global-fade-in-timing-function);
  }
  .card_cardAnchor__xsVOe {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: 100%;
    block-size: 100%;
    text-decoration: none;
    outline: none;
  }
  .card_cardAnchor__xsVOe:active,
  .card_cardAnchor__xsVOe:focus,
  .card_cardAnchor__xsVOe:hover,
  .card_cardAnchor__xsVOe:visited {
    text-decoration: none;
  }
  .card_cardBody__NmxT_,
  .card_cardContext__snbW_,
  .card_cardLogo__Ha8xt,
  .card_cardMeta__IkqBQ,
  .card_cardTitle__zo4Kt {
    margin-block-end: var(--spacing-8);
    padding-inline: var(--spacing-card-padding-inline);
  }
  @media (min-width: 600px) {
    .card_cardBody__NmxT_,
    .card_cardContext__snbW_,
    .card_cardLogo__Ha8xt,
    .card_cardMeta__IkqBQ,
    .card_cardTitle__zo4Kt {
      padding-inline: var(
        --spacing-card-padding-inline-sm,
        var(--spacing-card-padding-inline)
      );
    }
  }
  @media (min-width: 840px) {
    .card_cardBody__NmxT_,
    .card_cardContext__snbW_,
    .card_cardLogo__Ha8xt,
    .card_cardMeta__IkqBQ,
    .card_cardTitle__zo4Kt {
      padding-inline: var(
        --spacing-card-padding-inline-md,
        var(
          --spacing-card-padding-inline-sm,
          var(--spacing-card-padding-inline)
        )
      );
    }
  }
  @media (min-width: 1080px) {
    .card_cardBody__NmxT_,
    .card_cardContext__snbW_,
    .card_cardLogo__Ha8xt,
    .card_cardMeta__IkqBQ,
    .card_cardTitle__zo4Kt {
      padding-inline: var(
        --spacing-card-padding-inline-lg,
        var(
          --spacing-card-padding-inline-md,
          var(
            --spacing-card-padding-inline-sm,
            var(--spacing-card-padding-inline)
          )
        )
      );
    }
  }
  @media (min-width: 1280px) {
    .card_cardBody__NmxT_,
    .card_cardContext__snbW_,
    .card_cardLogo__Ha8xt,
    .card_cardMeta__IkqBQ,
    .card_cardTitle__zo4Kt {
      padding-inline: var(
        --spacing-card-padding-inline-xl,
        var(
          --spacing-card-padding-inline-lg,
          var(
            --spacing-card-padding-inline-md,
            var(
              --spacing-card-padding-inline-sm,
              var(--spacing-card-padding-inline)
            )
          )
        )
      );
    }
  }
  @media (min-width: 1440px) {
    .card_cardBody__NmxT_,
    .card_cardContext__snbW_,
    .card_cardLogo__Ha8xt,
    .card_cardMeta__IkqBQ,
    .card_cardTitle__zo4Kt {
      padding-inline: var(
        --spacing-card-padding-inline-xxl,
        var(
          --spacing-card-padding-inline-xl,
          var(
            --spacing-card-padding-inline-lg,
            var(
              --spacing-card-padding-inline-md,
              var(
                --spacing-card-padding-inline-sm,
                var(--spacing-card-padding-inline)
              )
            )
          )
        )
      );
    }
  }
  .card_cardBody__NmxT_:last-child,
  .card_cardContext__snbW_:last-child,
  .card_cardLogo__Ha8xt:last-child,
  .card_cardMeta__IkqBQ:last-child,
  .card_cardTitle__zo4Kt:last-child {
    margin-block-end: var(--spacing-24);
  }
  .card_cardMedia__dG2VH {
    line-height: 0;
    overflow: hidden;
    border-start-start-radius: inherit;
    border-start-end-radius: inherit;
  }
  .card_cardMedia__dG2VH > img {
    inline-size: 100%;
    block-size: auto;
    object-fit: cover;
    object-position: center;
    display: block;
    aspect-ratio: var(--aspect-ratio, 16/10);
  }
  .card_cardMediaInset__Uw5JH {
    padding-inline: var(--spacing-card-padding-inline);
  }
  @media (min-width: 600px) {
    .card_cardMediaInset__Uw5JH {
      padding-inline: var(
        --spacing-card-padding-inline-sm,
        var(--spacing-card-padding-inline)
      );
    }
  }
  @media (min-width: 840px) {
    .card_cardMediaInset__Uw5JH {
      padding-inline: var(
        --spacing-card-padding-inline-md,
        var(
          --spacing-card-padding-inline-sm,
          var(--spacing-card-padding-inline)
        )
      );
    }
  }
  @media (min-width: 1080px) {
    .card_cardMediaInset__Uw5JH {
      padding-inline: var(
        --spacing-card-padding-inline-lg,
        var(
          --spacing-card-padding-inline-md,
          var(
            --spacing-card-padding-inline-sm,
            var(--spacing-card-padding-inline)
          )
        )
      );
    }
  }
  @media (min-width: 1280px) {
    .card_cardMediaInset__Uw5JH {
      padding-inline: var(
        --spacing-card-padding-inline-xl,
        var(
          --spacing-card-padding-inline-lg,
          var(
            --spacing-card-padding-inline-md,
            var(
              --spacing-card-padding-inline-sm,
              var(--spacing-card-padding-inline)
            )
          )
        )
      );
    }
  }
  @media (min-width: 1440px) {
    .card_cardMediaInset__Uw5JH {
      padding-inline: var(
        --spacing-card-padding-inline-xxl,
        var(
          --spacing-card-padding-inline-xl,
          var(
            --spacing-card-padding-inline-lg,
            var(
              --spacing-card-padding-inline-md,
              var(
                --spacing-card-padding-inline-sm,
                var(--spacing-card-padding-inline)
              )
            )
          )
        )
      );
    }
  }
  .card_cardMediaInset__Uw5JH > img {
    border-radius: var(--border-radius-300);
  }
  .card_cardContext__snbW_ {
    display: block;
  }
  .card_cardLogo__Ha8xt {
    display: flex;
    align-items: center;
    margin-block: var(--spacing-24);
    margin-inline: 0;
  }
  .card_cardLogo__Ha8xt > img {
    max-inline-size: 120px;
    max-block-size: 28px;
    inline-size: auto;
    block-size: auto;
    object-fit: contain;
  }
  .card_cardMedia__dG2VH + .card_cardBody__NmxT_,
  .card_cardMedia__dG2VH + .card_cardContext__snbW_,
  .card_cardMedia__dG2VH + .card_cardMeta__IkqBQ,
  .card_cardMedia__dG2VH + .card_cardTitle__zo4Kt {
    margin-block-start: var(--spacing-24);
  }
  .cardCompact_cardCompact__W2i4I {
    position: relative;
    border-radius: var(--border-card-radius);
    border: var(--border-width-1) solid var(--color-card-border);
    background-color: var(--color-card-background);
    outline: #0000 solid var(--decoration-focus-ring-outline-thickness);
    outline-offset: var(--decoration-focus-ring-outline-offset);
    transition: outline-color var(--motion-global-fade-out-duration)
      var(--motion-global-fade-out-timing-function);
    align-content: space-between;
    padding-inline: var(--spacing-card-padding-inline);
    padding-block-start: var(--spacing-card-padding-block-start);
    padding-block-end: var(--spacing-card-padding-block-end);
  }
}
@layer front-ui-components {
  @media (min-width: 600px) {
    .cardCompact_cardCompact__W2i4I {
      padding-inline: var(
        --spacing-card-padding-inline-sm,
        var(--spacing-card-padding-inline)
      );
    }
  }
  @media (min-width: 840px) {
    .cardCompact_cardCompact__W2i4I {
      padding-inline: var(
        --spacing-card-padding-inline-md,
        var(
          --spacing-card-padding-inline-sm,
          var(--spacing-card-padding-inline)
        )
      );
    }
  }
  @media (min-width: 1080px) {
    .cardCompact_cardCompact__W2i4I {
      padding-inline: var(
        --spacing-card-padding-inline-lg,
        var(
          --spacing-card-padding-inline-md,
          var(
            --spacing-card-padding-inline-sm,
            var(--spacing-card-padding-inline)
          )
        )
      );
    }
  }
  @media (min-width: 1280px) {
    .cardCompact_cardCompact__W2i4I {
      padding-inline: var(
        --spacing-card-padding-inline-xl,
        var(
          --spacing-card-padding-inline-lg,
          var(
            --spacing-card-padding-inline-md,
            var(
              --spacing-card-padding-inline-sm,
              var(--spacing-card-padding-inline)
            )
          )
        )
      );
    }
  }
  @media (min-width: 1440px) {
    .cardCompact_cardCompact__W2i4I {
      padding-inline: var(
        --spacing-card-padding-inline-xxl,
        var(
          --spacing-card-padding-inline-xl,
          var(
            --spacing-card-padding-inline-lg,
            var(
              --spacing-card-padding-inline-md,
              var(
                --spacing-card-padding-inline-sm,
                var(--spacing-card-padding-inline)
              )
            )
          )
        )
      );
    }
  }
  @media (min-width: 600px) {
    .cardCompact_cardCompact__W2i4I {
      padding-block-start: var(
        --spacing-card-padding-block-start-sm,
        var(--spacing-card-padding-block-start)
      );
    }
  }
  @media (min-width: 840px) {
    .cardCompact_cardCompact__W2i4I {
      padding-block-start: var(
        --spacing-card-padding-block-start-md,
        var(
          --spacing-card-padding-block-start-sm,
          var(--spacing-card-padding-block-start)
        )
      );
    }
  }
  @media (min-width: 1080px) {
    .cardCompact_cardCompact__W2i4I {
      padding-block-start: var(
        --spacing-card-padding-block-start-lg,
        var(
          --spacing-card-padding-block-start-md,
          var(
            --spacing-card-padding-block-start-sm,
            var(--spacing-card-padding-block-start)
          )
        )
      );
    }
  }
  @media (min-width: 1280px) {
    .cardCompact_cardCompact__W2i4I {
      padding-block-start: var(
        --spacing-card-padding-block-start-xl,
        var(
          --spacing-card-padding-block-start-lg,
          var(
            --spacing-card-padding-block-start-md,
            var(
              --spacing-card-padding-block-start-sm,
              var(--spacing-card-padding-block-start)
            )
          )
        )
      );
    }
  }
  @media (min-width: 1440px) {
    .cardCompact_cardCompact__W2i4I {
      padding-block-start: var(
        --spacing-card-padding-block-start-xxl,
        var(
          --spacing-card-padding-block-start-xl,
          var(
            --spacing-card-padding-block-start-lg,
            var(
              --spacing-card-padding-block-start-md,
              var(
                --spacing-card-padding-block-start-sm,
                var(--spacing-card-padding-block-start)
              )
            )
          )
        )
      );
    }
  }
  @media (min-width: 600px) {
    .cardCompact_cardCompact__W2i4I {
      padding-block-end: var(
        --spacing-card-padding-block-end-sm,
        var(--spacing-card-padding-block-end)
      );
    }
  }
  @media (min-width: 840px) {
    .cardCompact_cardCompact__W2i4I {
      padding-block-end: var(
        --spacing-card-padding-block-end-md,
        var(
          --spacing-card-padding-block-end-sm,
          var(--spacing-card-padding-block-end)
        )
      );
    }
  }
  @media (min-width: 1080px) {
    .cardCompact_cardCompact__W2i4I {
      padding-block-end: var(
        --spacing-card-padding-block-end-lg,
        var(
          --spacing-card-padding-block-end-md,
          var(
            --spacing-card-padding-block-end-sm,
            var(--spacing-card-padding-block-end)
          )
        )
      );
    }
  }
  @media (min-width: 1280px) {
    .cardCompact_cardCompact__W2i4I {
      padding-block-end: var(
        --spacing-card-padding-block-end-xl,
        var(
          --spacing-card-padding-block-end-lg,
          var(
            --spacing-card-padding-block-end-md,
            var(
              --spacing-card-padding-block-end-sm,
              var(--spacing-card-padding-block-end)
            )
          )
        )
      );
    }
  }
  @media (min-width: 1440px) {
    .cardCompact_cardCompact__W2i4I {
      padding-block-end: var(
        --spacing-card-padding-block-end-xxl,
        var(
          --spacing-card-padding-block-end-xl,
          var(
            --spacing-card-padding-block-end-lg,
            var(
              --spacing-card-padding-block-end-md,
              var(
                --spacing-card-padding-block-end-sm,
                var(--spacing-card-padding-block-end)
              )
            )
          )
        )
      );
    }
  }
  .cardCompact_cardCompact__W2i4I:has(
      .cardCompact_cardCompactAnchor___7vu2
    ):after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background-color: #0000;
    box-shadow: var(--shadow-200);
    opacity: 0;
    pointer-events: none;
    will-change: opacity;
    transition-property: opacity;
    transition-timing-function: var(--motion-global-fade-out-timing-function);
    transition-duration: var(--motion-global-fade-out-duration);
  }
  .cardCompact_cardCompact__W2i4I:has(
      .cardCompact_cardCompactAnchor___7vu2
    ):focus-within:after,
  .cardCompact_cardCompact__W2i4I:has(
      .cardCompact_cardCompactAnchor___7vu2
    ):hover:after,
  .cardCompact_cardCompact__W2i4I:has(
      .cardCompact_cardCompactAnchor___7vu2:active
    ):after {
    opacity: 1;
    transition-timing-function: var(--motion-global-fade-in-timing-function);
    transition-duration: var(--motion-global-fade-in-duration);
  }
  .cardCompact_cardCompact__W2i4I:has(
    .cardCompact_cardCompactAnchor___7vu2:focus-visible
  ) {
    outline-color: var(--color-interaction-focus-ring);
    transition: outline-color var(--motion-global-fade-in-duration)
      var(--motion-global-fade-in-timing-function);
  }
  .cardCompact_cardCompactAnchor___7vu2 {
    position: absolute;
    inset: 0;
    text-decoration: none;
    outline: none;
  }
  .cardCompact_cardCompactAnchor___7vu2:active,
  .cardCompact_cardCompactAnchor___7vu2:focus,
  .cardCompact_cardCompactAnchor___7vu2:hover,
  .cardCompact_cardCompactAnchor___7vu2:visited {
    text-decoration: none;
  }
  .cardCompact_cardCompactAnchor___7vu2:focus-visible {
    outline: none;
  }
  .cardCompact_cardCompactTitleArrow__tWhco {
    margin-inline-start: var(--spacing-4);
  }
  .cardCompact_cardCompactTitle__zZaHK {
    inline-size: var(--card-compact-title-width);
  }
  @media (min-width: 600px) {
    .cardCompact_cardCompactTitle__zZaHK {
      inline-size: var(
        --card-compact-title-width-sm,
        var(--card-compact-title-width)
      );
    }
  }
  @media (min-width: 840px) {
    .cardCompact_cardCompactTitle__zZaHK {
      inline-size: var(
        --card-compact-title-width-md,
        var(--card-compact-title-width-sm, var(--card-compact-title-width))
      );
    }
  }
  @media (min-width: 1080px) {
    .cardCompact_cardCompactTitle__zZaHK {
      inline-size: var(
        --card-compact-title-width-lg,
        var(
          --card-compact-title-width-md,
          var(--card-compact-title-width-sm, var(--card-compact-title-width))
        )
      );
    }
  }
  @media (min-width: 1280px) {
    .cardCompact_cardCompactTitle__zZaHK {
      inline-size: var(
        --card-compact-title-width-xl,
        var(
          --card-compact-title-width-lg,
          var(
            --card-compact-title-width-md,
            var(--card-compact-title-width-sm, var(--card-compact-title-width))
          )
        )
      );
    }
  }
  @media (min-width: 1440px) {
    .cardCompact_cardCompactTitle__zZaHK {
      inline-size: var(
        --card-compact-title-width-xxl,
        var(
          --card-compact-title-width-xl,
          var(
            --card-compact-title-width-lg,
            var(
              --card-compact-title-width-md,
              var(
                --card-compact-title-width-sm,
                var(--card-compact-title-width)
              )
            )
          )
        )
      );
    }
  }
}
.agentPrompts_emphasized__cDT8N {
  background-color: var(--color-campaigns-agents-launch-blue-900);
}
.agentPrompts_multipleIcons__3khQH + .agentPrompts_multipleIcons__3khQH {
  margin-inline-start: calc(var(--spacing-20) * -1);
}
.MarketoHero_hero__7p9Ig {
  position: relative;
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-end;
  gap: 24px;
}
@media (min-width: 840px) {
  .MarketoHero_hero__7p9Ig {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 420px;
    align-items: flex-start;
    gap: 56px;
    width: min(1200px, 94vw);
    margin-left: 50%;
    transform: translateX(-50%);
    transform-origin: center;
  }
}
.MarketoHero_header__i267x {
  --ai-hero-header-max-width: 740px;
  text-align: center;
  width: 100%;
  padding-bottom: 24px;
}
@media (min-width: 840px) {
  .MarketoHero_header__i267x {
    text-align: start;
    padding-bottom: 80px;
    max-width: var(--ai-hero-header-max-width);
  }
}
.MarketoHero_eyebrow__1zRy9 {
  font: var(--typography-sans-100-semibold-font);
  letter-spacing: var(--typography-sans-100-semibold-letter-spacing);
  display: inline-flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}
@media (min-width: 600px) {
  .MarketoHero_eyebrow__1zRy9 {
    font: var(--typography-sans-150-semibold-font);
    letter-spacing: var(--typography-sans-150-semibold-letter-spacing);
  }
}
.MarketoHero_eyebrow__1zRy9:empty {
  display: none;
}
.MarketoHero_icon__jP1Tq {
  --color-icon-background: var(--color-blue-100);
  --ai-hero-icon-size: 22px;
  --ai-hero-icon-padding: 5px;
  --ai-hero-icon-border-radius: var(--border-radius-400);
  --ai-hero-icon-width-and-height: calc(
    var(--ai-hero-icon-size) + var(--ai-hero-icon-padding) * 2
  );
  display: inline-block;
  background: var(--color-icon-background);
  border-radius: var(--ai-hero-icon-border-radius);
  width: var(--ai-hero-icon-width-and-height);
  height: var(--ai-hero-icon-width-and-height);
  padding: var(--ai-hero-icon-padding);
}
@media (min-width: 600px) {
  .MarketoHero_icon__jP1Tq {
    --ai-hero-icon-size: 32px;
    --ai-hero-icon-padding: 8px;
    --ai-hero-icon-border-radius: var(--border-radius-500);
  }
}
.MarketoHero_title__vk_6H {
  font: var(--typography-sans-700-bold-font);
  letter-spacing: var(--typography-sans-700-bold-letter-spacing);
  text-wrap: balance;
  margin-top: 12px;
  margin-bottom: 8px;
}
@media (min-width: 600px) {
  .MarketoHero_title__vk_6H {
    font: var(--typography-sans-800-bold-font);
    letter-spacing: var(--typography-sans-800-bold-letter-spacing);
    margin-bottom: 12px;
  }
}
@media (min-width: 840px) {
  .MarketoHero_title__vk_6H {
    font: var(--typography-sans-900-bold-font);
    letter-spacing: var(--typography-sans-900-bold-letter-spacing);
  }
}
.MarketoHero_subtitle__tnH4U {
  font: var(--typography-sans-300-medium-font);
  letter-spacing: var(--typography-sans-300-medium-letter-spacing);
  margin-bottom: 16px;
  text-wrap: balance;
}
@media (min-width: 600px) {
  .MarketoHero_subtitle__tnH4U {
    font: var(--typography-sans-400-medium-font);
    letter-spacing: var(--typography-sans-400-medium-letter-spacing);
    margin-bottom: 20px;
  }
}
.MarketoHero_cta__JtRki {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
@media (min-width: 600px) {
  .MarketoHero_cta__JtRki {
    justify-content: center;
  }
}
@media (min-width: 840px) {
  .MarketoHero_cta__JtRki {
    justify-content: flex-start;
  }
}
.MarketoHero_heroAsset__dBugn {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}
@media (min-width: 1080px) {
  .MarketoHero_heroAsset__dBugn {
    margin: 0;
  }
}
.MarketoHero_formContainer__cQLbQ {
  padding: 20px;
  background-color: var(--color-background-surface-neutral);
  border-radius: 12px;
  border: 2px solid var(--color-background-surface-neutral);
}
.buttonGrid_buttonGrid__4RJ7D {
  display: flex;
}
.buttonGrid_buttonItem__ObAb9 {
  margin-inline-start: 15px;
}
.buttonGrid_buttonItem__ObAb9:first-child {
  margin-inline-start: 0;
}
.contentfulAsset_image__cZ0Nl {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.contentfulAsset_video__OyfPY {
  max-width: 960px;
}
