.NotionCalendarTile_container__2bO6R {
  --tile-height: 56px;
  --tile-border-radius: 4.5px;
  --tile-border-width: 7px;
  background-color: var(--tile-background-color);
  border-left: var(--tile-border-width) solid var(--tile-border-color);
  border-radius: var(--tile-border-radius);
  display: flex;
  height: var(--tile-height);
  left: var(--tile-x);
  opacity: 0;
  position: absolute;
  top: var(--tile-y);
  transform: translateY(calc(var(--tile-height) / 3));
  transition:
    opacity 0.25s linear 0.2s,
    transform 0.5s cubic-bezier(0.25, 1, 0.33, 1) 0.2s;
  width: calc(var(--tile-height) + var(--tile-border-width));
  overflow: hidden;
}
.NotionCalendarTile_container__2bO6R:before {
  background-color: var(--tile-border-color);
  content: "";
  height: 100%;
  -webkit-mask-image: var(--tile-spritesheet);
  mask-image: var(--tile-spritesheet);
  -webkit-mask-position: calc(
    -1 * (var(--tile-spritesheet-index) - 1) * var(--tile-height)
  );
  mask-position: calc(
    -1 * (var(--tile-spritesheet-index) - 1) * var(--tile-height)
  );
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  width: 100%;
}
@media (min-width: 600px) {
  .NotionCalendarTile_container__2bO6R {
    --tile-height: 80px;
    --tile-border-radius: 6.5px;
    --tile-border-width: 10px;
    left: var(--tile-sm-x, var(--tile-x));
    top: var(--tile-sm-y, var(--tile-y));
  }
}
.NotionCalendarTile_ball__2S7oh {
  --tile-border-color: #ffb600;
  --tile-background-color: #fff4cb;
  --tile-spritesheet-index: 1;
}
.NotionCalendarTile_bike__4EUDI {
  --tile-border-color: #03c1ba;
  --tile-background-color: #ddfcfa;
  --tile-spritesheet-index: 2;
}
.NotionCalendarTile_block__VSguk {
  --tile-border-color: #03c1ba;
  --tile-background-color: #ddfcfa;
  --tile-spritesheet-index: 3;
}
.NotionCalendarTile_bullets__hmh5t {
  --tile-border-color: #ffb600;
  --tile-background-color: #fff4cb;
  --tile-spritesheet-index: 4;
}
.NotionCalendarTile_cat__bkkDV {
  --tile-border-color: #ff2937;
  --tile-background-color: #ffebe3;
  --tile-spritesheet-index: 5;
}
.NotionCalendarTile_checklist__sj5yq {
  --tile-border-color: #a361ff;
  --tile-background-color: #f7e5ff;
  --tile-spritesheet-index: 6;
}
.NotionCalendarTile_checkmark__xUFWq {
  --tile-border-color: #a361ff;
  --tile-background-color: #f7e5ff;
  --tile-spritesheet-index: 7;
}
.NotionCalendarTile_clock__1JB8V {
  --tile-border-color: #ff6522;
  --tile-background-color: #ffe9d3;
  --tile-spritesheet-index: 8;
}
.NotionCalendarTile_coffee__RczNN {
  --tile-border-color: #ff6522;
  --tile-background-color: #ffe9d3;
  --tile-spritesheet-index: 9;
}
.NotionCalendarTile_documents__Uf4qb {
  --tile-border-color: #03c1ba;
  --tile-background-color: #ddfcfa;
  --tile-spritesheet-index: 10;
}
.NotionCalendarTile_doggo__fyTYm {
  --tile-border-color: #fe2a36;
  --tile-background-color: #ffebe3;
  --tile-spritesheet-index: 11;
}
.NotionCalendarTile_laptop__Mphdp {
  --tile-border-color: #19a0ea;
  --tile-background-color: #e1f9ff;
  --tile-spritesheet-index: 12;
}
.NotionCalendarTile_animatedIn__Gsr6i {
  opacity: 1;
  transform: translateY(0);
}
.NotionCalendarTileContainer_container__KVX_V {
  --layout-gutter-and-vw-remainder: calc(
    var(--layout-gutter) + max(0px, (100vw - var(--layout-max)) / 2)
  );
  bottom: -32px;
  display: flex;
  justify-content: center;
  margin-left: calc(-1 * var(--layout-gutter-and-vw-remainder));
  margin-right: calc(-1 * var(--layout-gutter-and-vw-remainder));
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  width: 100vw;
}
.NotionCalendarTileContainer_heroContainer__xHsVG {
  height: 499px;
}
@media (min-width: 600px) {
  .NotionCalendarTileContainer_heroContainer__xHsVG {
    height: 507px;
  }
}
.NotionCalendarTileContainer_sectionContainer__2A9Z2 {
  height: 348px;
}
@media (min-width: 600px) {
  .NotionCalendarTileContainer_sectionContainer__2A9Z2 {
    height: 316px;
  }
}
.NotionCalendarTileContainer_stage__ozkrX {
  position: relative;
  min-width: 455px;
}
@media (min-width: 600px) {
  .NotionCalendarTileContainer_stage__ozkrX {
    min-width: 1440px;
  }
}
.notionStartupPricingCalculator_block__VIHGK {
  position: relative;
  contain: paint;
  border-radius: var(--border-card-radius);
  border: 1px solid var(--color-border-base);
  padding: var(--block-padding);
  background-color: var(--color-background-base);
  transition: box-shadow 0.2s;
}
.notionStartupPricingCalculator_block__VIHGK:focus-within,
.notionStartupPricingCalculator_block__VIHGK:hover {
  box-shadow: var(--shadow-200);
}
.notionStartupPricingCalculator_calculatorLabel__x613S {
  font: var(--typography-sans-200-bold-font);
  letter-spacing: var(--typography-sans-200-bold-letter-spacing);
  margin: 0;
  margin-bottom: var(--spacing-12);
}
@media (min-width: 840px) {
  .notionStartupPricingCalculator_calculatorLabel__x613S {
    margin-bottom: var(--spacing-24);
  }
}
.notionStartupPricingCalculator_interactive__mWRI7 {
  display: grid;
  column-gap: 0;
  row-gap: var(--interactive-row-gap);
}
.notionStartupPricingCalculator_tools__N1EgY {
  display: contents;
}
.notionStartupPricingCalculator_input__vrc0c {
  display: var(--input-display);
  padding: var(--input-padding);
}
.notionStartupPricingCalculator_output__hongU {
  display: var(--output-display);
  padding: var(--output-padding);
}
.notionStartupPricingCalculator_toolCheckbox__BOEqG {
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-8);
  cursor: pointer;
  padding: var(--spacing-4) 0;
}
.notionStartupPricingCalculator_toolCheckbox__BOEqG input {
  margin-top: var(--spacing-4);
  accent-color: var(--color-blue-600);
}
.notionStartupPricingCalculator_toolLabelText__gpYfZ {
  font: var(--typography-sans-200-semibold-font);
  letter-spacing: var(--typography-sans-200-semibold-letter-spacing);
}
.notionStartupPricingCalculator_toolPrice__Lk0Hv {
  color: var(--color-text-muted);
  margin-inline-start: var(--spacing-4);
  font: var(--typography-sans-50-regular-font);
  letter-spacing: var(--typography-sans-50-regular-letter-spacing);
  display: none;
}
.notionStartupPricingCalculator_teamLabel__9JXtM {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
@media (min-width: 1080px) {
  .notionStartupPricingCalculator_teamLabel__9JXtM {
    gap: 4px;
  }
}
@media (min-width: 600px) {
  .notionStartupPricingCalculator_teamLabel__9JXtM {
    margin-bottom: auto;
  }
}
.notionStartupPricingCalculator_teamInput__Z5HAV {
  padding: 6px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: var(--color-gray-100);
  width: 100%;
}
.notionStartupPricingCalculator_teamInput__Z5HAV[type="number"]::-webkit-inner-spin-button,
.notionStartupPricingCalculator_teamInput__Z5HAV[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
  cursor: pointer;
}
.notionStartupPricingCalculator_savingsLabel__fG9Ys {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
@media (min-width: 1080px) {
  .notionStartupPricingCalculator_savingsLabel__fG9Ys {
    gap: 10px;
  }
}
.notionStartupPricingCalculator_pricingLink__7LFTR {
  padding-top: var(--spacing-24);
  margin: 0;
  text-align: center;
}
@media (min-width: 1280px) {
  .notionStartupPricingCalculator_extraSpacing__UFpDG
    .notionStartupPricingCalculator_toolLabel__sep2f {
    flex-direction: column;
    align-items: flex-start;
  }
  .notionStartupPricingCalculator_extraSpacing__UFpDG input {
    margin-top: var(--spacing-4);
  }
  .notionStartupPricingCalculator_extraSpacing__UFpDG
    .notionStartupPricingCalculator_toolCheckbox__BOEqG {
    align-items: flex-start;
  }
}
.notionStartupPricingCalculator_themeDark__0LhAN.notionStartupPricingCalculator_block__VIHGK {
  background-color: var(--color-background-surface-neutral);
  border: none;
}
.notionStartupPricingCalculator_themeDark__0LhAN
  .notionStartupPricingCalculator_teamInput__Z5HAV {
  background-color: var(--color-white);
}
.notionStartupPricingCalculator_variantDivider__Vvw1f {
  --block-padding: var(--spacing-24);
  --interactive-row-gap: 6px;
  --input-display: contents;
  --output-display: contents;
  --label-border-top: 1px solid var(--color-border-base);
  --label-margin-top: 22px;
  --label-padding-top: 18px;
}
@media (min-width: 600px) {
  .notionStartupPricingCalculator_variantDivider__Vvw1f {
    --block-padding: 36px var(--spacing-40) 30px;
  }
}
.notionStartupPricingCalculator_variantDivider__Vvw1f
  .notionStartupPricingCalculator_interactive__mWRI7 {
  grid-auto-flow: row;
  grid-template-columns: repeat(1, auto);
}
@media (min-width: 1080px) {
  .notionStartupPricingCalculator_variantDivider__Vvw1f
    .notionStartupPricingCalculator_interactive__mWRI7 {
    grid-template-columns: repeat(2, auto);
  }
}
@media (min-width: 1280px) {
  .notionStartupPricingCalculator_variantDivider__Vvw1f
    .notionStartupPricingCalculator_interactive__mWRI7 {
    grid-template-columns: repeat(3, auto);
  }
}
.notionStartupPricingCalculator_variantDivider__Vvw1f
  .notionStartupPricingCalculator_teamLabel__9JXtM {
  border-top: var(--label-border-top);
  margin-top: var(--label-margin-top);
}
.notionStartupPricingCalculator_variantDivider__Vvw1f
  .notionStartupPricingCalculator_savingsLabel__fG9Ys,
.notionStartupPricingCalculator_variantDivider__Vvw1f
  .notionStartupPricingCalculator_teamLabel__9JXtM {
  padding-top: var(--label-padding-top);
}
.notionStartupPricingCalculator_variantDivider__Vvw1f
  .notionStartupPricingCalculator_teamInput__Z5HAV {
  font: var(--typography-sans-500-bold-font);
  letter-spacing: var(--typography-sans-500-bold-letter-spacing);
}
@media (min-width: 600px) {
  .notionStartupPricingCalculator_variantDivider__Vvw1f
    .notionStartupPricingCalculator_teamInput__Z5HAV {
    font: var(--typography-sans-600-bold-font);
    letter-spacing: var(--typography-sans-600-bold-letter-spacing);
  }
}
@media (min-width: 840px) {
  .notionStartupPricingCalculator_variantDivider__Vvw1f
    .notionStartupPricingCalculator_teamInput__Z5HAV {
    font: var(--typography-sans-700-bold-font);
    letter-spacing: var(--typography-sans-700-bold-letter-spacing);
  }
}
@media (min-width: 1080px) {
  .notionStartupPricingCalculator_variantDivider__Vvw1f
    .notionStartupPricingCalculator_teamInput__Z5HAV {
    max-width: 240px;
  }
}
.notionStartupPricingCalculator_variantDivider__Vvw1f
  .notionStartupPricingCalculator_annualSavings__Bpzkq,
.notionStartupPricingCalculator_variantDivider__Vvw1f
  .notionStartupPricingCalculator_monthlySavings__Uvwon {
  border-top: none;
  margin-top: 0;
}
@media (min-width: 1080px) {
  .notionStartupPricingCalculator_variantDivider__Vvw1f
    .notionStartupPricingCalculator_monthlySavings__Uvwon {
    border-top: var(--label-border-top);
    margin-top: var(--label-margin-top);
  }
}
.notionStartupPricingCalculator_variantDivider__Vvw1f
  .notionStartupPricingCalculator_annualSavings__Bpzkq {
  grid-column: 1;
}
@media (min-width: 1080px) {
  .notionStartupPricingCalculator_variantDivider__Vvw1f
    .notionStartupPricingCalculator_annualSavings__Bpzkq {
    grid-column: 2;
  }
}
@media (min-width: 1280px) {
  .notionStartupPricingCalculator_variantDivider__Vvw1f
    .notionStartupPricingCalculator_annualSavings__Bpzkq {
    grid-column: 3;
    border-top: var(--label-border-top);
    margin-top: var(--label-margin-top);
  }
}
.notionStartupPricingCalculator_variantDivider__Vvw1f
  .notionStartupPricingCalculator_savingsOutput__B4Cue {
  font: var(--typography-sans-500-bold-font);
  letter-spacing: var(--typography-sans-500-bold-letter-spacing);
}
@media (min-width: 600px) {
  .notionStartupPricingCalculator_variantDivider__Vvw1f
    .notionStartupPricingCalculator_savingsOutput__B4Cue {
    font: var(--typography-sans-600-bold-font);
    letter-spacing: var(--typography-sans-600-bold-letter-spacing);
  }
}
@media (min-width: 840px) {
  .notionStartupPricingCalculator_variantDivider__Vvw1f
    .notionStartupPricingCalculator_savingsOutput__B4Cue {
    font: var(--typography-sans-700-bold-font);
    letter-spacing: var(--typography-sans-700-bold-letter-spacing);
  }
}
.notionStartupPricingCalculator_variantBlock__3iQUW {
  --block-padding: var(--spacing-24);
  --interactive-row-gap: var(--spacing-16);
  --input-display: flex;
  --input-padding: var(--spacing-4);
  --output-display: flex;
  --output-padding: var(--spacing-24);
  --output-flex-direction: column;
  --output-gap: var(--spacing-24);
  --checkbox-hang-offset: calc((var(--spacing-20)) * -1);
}
@media (min-width: 600px) {
  .notionStartupPricingCalculator_variantBlock__3iQUW {
    --block-padding: var(--spacing-24);
    --interactive-grid-columns: repeat(2, 1fr);
    --interactive-row-gap: var(--spacing-24);
  }
}
@media (min-width: 1080px) {
  .notionStartupPricingCalculator_variantBlock__3iQUW {
    --interactive-grid-columns: repeat(12, 1fr);
    --input-padding: var(--spacing-24);
  }
}
.notionStartupPricingCalculator_variantBlock__3iQUW
  .notionStartupPricingCalculator_interactive__mWRI7 {
  grid-template-columns: var(--interactive-grid-columns);
  grid-column-gap: var(--spacing-24);
}
.notionStartupPricingCalculator_variantBlock__3iQUW
  .notionStartupPricingCalculator_input__vrc0c {
  flex-direction: column;
  gap: 0;
}
@media (min-width: 1080px) {
  .notionStartupPricingCalculator_variantBlock__3iQUW
    .notionStartupPricingCalculator_input__vrc0c {
    display: grid;
    grid-template-columns: subgrid;
    column-gap: var(--spacing-24);
    grid-column: 1/-1;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: calc(var(--input-padding) * -1);
  }
}
.notionStartupPricingCalculator_variantBlock__3iQUW
  .notionStartupPricingCalculator_teamInput__Z5HAV {
  font: var(--typography-sans-500-bold-font);
  letter-spacing: var(--typography-sans-500-bold-letter-spacing);
  background: var(--color-white);
  max-width: 240px;
  cursor: pointer;
  transition:
    box-shadow 0.2s cubic-bezier(0.645, 0.045, 0.355, 1),
    border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
@media (min-width: 600px) {
  .notionStartupPricingCalculator_variantBlock__3iQUW
    .notionStartupPricingCalculator_teamInput__Z5HAV {
    font: var(--typography-sans-600-bold-font);
    letter-spacing: var(--typography-sans-600-bold-letter-spacing);
  }
}
@media (min-width: 840px) {
  .notionStartupPricingCalculator_variantBlock__3iQUW
    .notionStartupPricingCalculator_teamInput__Z5HAV {
    font: var(--typography-sans-700-bold-font);
    letter-spacing: var(--typography-sans-700-bold-letter-spacing);
  }
}
.notionStartupPricingCalculator_variantBlock__3iQUW
  .notionStartupPricingCalculator_teamInput__Z5HAV:hover {
  box-shadow: var(--shadow-100);
  border-color: var(--color-blue-600);
}
.notionStartupPricingCalculator_variantBlock__3iQUW
  .notionStartupPricingCalculator_teamInput__Z5HAV:focus:hover {
  cursor: text;
}
@media (min-width: 1080px) {
  .notionStartupPricingCalculator_variantBlock__3iQUW
    .notionStartupPricingCalculator_toolCheckbox__BOEqG {
    grid-column: span 4;
    position: relative;
    left: var(--checkbox-hang-offset);
  }
}
.notionStartupPricingCalculator_variantBlock__3iQUW
  .notionStartupPricingCalculator_output__hongU {
  flex-direction: var(--output-flex-direction);
  background-color: var(--color-gray-100);
  border-radius: var(--border-card-radius);
  gap: var(--spacing-16);
}
@media (min-width: 840px) {
  .notionStartupPricingCalculator_variantBlock__3iQUW
    .notionStartupPricingCalculator_output__hongU {
    gap: var(--spacing-24);
  }
}
@media (min-width: 1080px) {
  .notionStartupPricingCalculator_variantBlock__3iQUW
    .notionStartupPricingCalculator_output__hongU {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1/-1;
  }
}
.notionStartupPricingCalculator_variantBlock__3iQUW
  .notionStartupPricingCalculator_output__hongU
  .notionStartupPricingCalculator_savingsLabel__fG9Ys,
.notionStartupPricingCalculator_variantBlock__3iQUW
  .notionStartupPricingCalculator_output__hongU
  .notionStartupPricingCalculator_teamLabel__9JXtM {
  grid-column: span 4;
  font: var(--typography-sans-200-semibold-font);
  letter-spacing: var(--typography-sans-200-semibold-letter-spacing);
}
@media (min-width: 1280px) {
  .notionStartupPricingCalculator_variantBlock__3iQUW
    .notionStartupPricingCalculator_output__hongU
    .notionStartupPricingCalculator_savingsLabel__fG9Ys,
  .notionStartupPricingCalculator_variantBlock__3iQUW
    .notionStartupPricingCalculator_output__hongU
    .notionStartupPricingCalculator_teamLabel__9JXtM {
    flex: 1 1;
  }
}
.notionStartupPricingCalculator_variantBlock__3iQUW
  .notionStartupPricingCalculator_savingsOutput__B4Cue {
  font: var(--typography-sans-500-bold-font);
  letter-spacing: var(--typography-sans-500-bold-letter-spacing);
}
@media (min-width: 600px) {
  .notionStartupPricingCalculator_variantBlock__3iQUW
    .notionStartupPricingCalculator_savingsOutput__B4Cue {
    font: var(--typography-sans-600-bold-font);
    letter-spacing: var(--typography-sans-600-bold-letter-spacing);
  }
}
@media (min-width: 840px) {
  .notionStartupPricingCalculator_variantBlock__3iQUW
    .notionStartupPricingCalculator_savingsOutput__B4Cue {
    font: var(--typography-sans-700-bold-font);
    letter-spacing: var(--typography-sans-700-bold-letter-spacing);
  }
}
.notionStartupPricingCalculator_toolCheckbox__BOEqG
  input:checked
  + .notionStartupPricingCalculator_toolLabel__sep2f
  .notionStartupPricingCalculator_toolPrice__Lk0Hv {
  display: inline-block;
}
.BlockCustomer_wrapper__Dz6cO {
  padding: var(--spacing-block-s) var(--spacing-block-m);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  margin: 0;
  gap: 30px;
  border-radius: 12px;
  overflow: hidden;
}
@media (min-width: 600px) {
  .BlockCustomer_wrapper__Dz6cO {
    padding: var(--spacing-block-m) var(--spacing-block-l);
  }
}
.BlockCustomer_wrapper__Dz6cO.BlockCustomer_large__19JaZ {
  flex-direction: row;
}
.BlockCustomer_content__N2MMO {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 100px;
}
.BlockCustomer_medium__14eTd .BlockCustomer_content__N2MMO {
  row-gap: 30px;
}
.BlockCustomer_large__19JaZ .BlockCustomer_content__N2MMO {
  flex-basis: calc(50% - 30px);
}
.BlockCustomer_secondaryAsset__1GJ3b {
  position: relative;
  height: 40px;
}
.BlockCustomer_small__ZCxJD .BlockCustomer_secondaryAsset__1GJ3b {
  height: 30px;
}
.BlockCustomer_image__s_Gpg {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  height: 100%;
  width: auto;
  object-position: top left;
}
.BlockSectionHeader_wrapper__suPEQ {
  display: flex;
  flex-direction: column;
  position: relative;
}
.BlockSectionHeader_titleAlignCenter__ir5SG {
  text-align: center;
}
.BlockSectionHeader_content__Qgd2x {
  padding-bottom: 24px;
  flex-basis: 100%;
  white-space: pre-line;
}
.BlockSectionHeader_illustration__iMRX0 ~ .BlockSectionHeader_content__Qgd2x {
  padding-bottom: 0;
}
.BlockSectionHeader_cta__OC_tE {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  align-items: center;
  gap: 16px;
}
.BlockSectionHeader_titleAlignCenter__ir5SG .BlockSectionHeader_cta__OC_tE {
  justify-content: center;
}
.BlockSectionHeader_illustration__iMRX0 {
  position: relative;
  display: flex;
  justify-content: center;
  align-self: flex-end;
  z-index: 10;
  margin-top: 0;
  margin-right: 20px;
}
.BlockSectionHeader_illustrationPositionStart__NGGjZ
  .BlockSectionHeader_illustration__iMRX0 {
  align-self: flex-start;
  margin-left: 20px;
  margin-right: unset;
}
.BlockSectionHeader_illustrationAlignCenter__fRsn9
  .BlockSectionHeader_illustration__iMRX0,
.BlockSectionHeader_illustrationAlignInner__fIQoe
  .BlockSectionHeader_illustration__iMRX0 {
  margin-right: 5%;
  padding-right: 20px;
}
.BlockSectionHeader_illustrationPositionStart__NGGjZ.BlockSectionHeader_illustrationAlignCenter__fRsn9
  .BlockSectionHeader_illustration__iMRX0,
.BlockSectionHeader_illustrationPositionStart__NGGjZ.BlockSectionHeader_illustrationAlignInner__fIQoe
  .BlockSectionHeader_illustration__iMRX0 {
  margin-left: 5%;
  padding-left: 20px;
}
.BlockSectionHeader_illustrationPlaceholder__C_8Ik {
  display: none;
  width: var(--placeholder-width);
  height: var(--placeholder-height);
  margin-right: 20px;
  flex-shrink: 0;
  order: 1;
}
.BlockSectionHeader_illustrationPositionStart__NGGjZ
  .BlockSectionHeader_illustrationPlaceholder__C_8Ik {
  margin-left: 20px;
  margin-right: unset;
  order: 3;
}
.BlockSectionHeader_illustrationPlaceholder__C_8Ik[hidden] {
  display: none;
}
@media (min-width: 1080px) {
  .BlockSectionHeader_wrapper__suPEQ {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }
  .BlockSectionHeader_content__Qgd2x {
    max-width: var(--content-max-width);
    padding-bottom: 30px;
  }
  .BlockSectionHeader_titleAlignCenter__ir5SG
    .BlockSectionHeader_content__Qgd2x {
    margin: 0 auto;
    order: 2;
  }
  .BlockSectionHeader_illustration__iMRX0 {
    flex-shrink: 0;
    margin-top: 0;
  }
  .BlockSectionHeader_titleAlignCenter__ir5SG
    .BlockSectionHeader_illustration__iMRX0 {
    order: 3;
  }
  .BlockSectionHeader_illustrationPositionStart__NGGjZ
    .BlockSectionHeader_illustration__iMRX0 {
    order: 1;
    align-self: flex-end;
  }
  .BlockSectionHeader_illustrationAlignCenter__fRsn9
    .BlockSectionHeader_illustration__iMRX0 {
    margin-left: auto;
    margin-right: auto;
  }
  .BlockSectionHeader_illustrationAlignInner__fIQoe
    .BlockSectionHeader_illustration__iMRX0 {
    margin-right: auto;
  }
  .BlockSectionHeader_illustrationPositionStart__NGGjZ.BlockSectionHeader_illustrationAlignInner__fIQoe
    .BlockSectionHeader_illustration__iMRX0 {
    margin-left: auto;
  }
  .BlockSectionHeader_illustrationPlaceholder__C_8Ik {
    display: block;
  }
}
.BlockStats_wrapper__8poa3 {
  padding: var(--spacing-block-s) var(--spacing-block-m);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
  gap: 30px;
  height: 100%;
}
@media (min-width: 600px) {
  .BlockStats_wrapper__8poa3 {
    padding: var(--spacing-block-m) var(--spacing-block-l);
  }
}
.BlockStats_wrapper__8poa3.BlockStats_large__UaCuo {
  flex-direction: row;
  gap: 80px;
  aspect-ratio: unset;
}
.BlockStats_stats__ubnUa {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-block-m);
  flex-basis: auto;
  margin: auto 0;
}
.BlockStats_large__UaCuo .BlockStats_stats__ubnUa {
  flex-basis: 50%;
  flex-shrink: 0;
}
.BlockStats_stat__TBtRb {
  flex-basis: calc(50% - var(--spacing-block-m) / 2);
  flex-grow: 1;
}
.BlockTemplate_wrapper__hIXKm {
  padding: var(--spacing-block-s) var(--spacing-block-m);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  margin: 0;
  gap: 30px;
  border-radius: 12px;
  overflow: hidden;
}
@media (min-width: 600px) {
  .BlockTemplate_wrapper__hIXKm {
    padding: var(--spacing-block-m) var(--spacing-block-l);
  }
}
.BlockTemplate_wrapper__hIXKm.BlockTemplate_large__2nxZO {
  flex-direction: row;
}
.BlockTemplate_content__HuFYP {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: stretch;
  row-gap: 30px;
  margin-bottom: 30px;
}
.BlockTemplate_medium__YlhYx .BlockTemplate_content__HuFYP {
  row-gap: 50px;
}
.BlockTemplate_large__2nxZO .BlockTemplate_content__HuFYP {
  flex-basis: calc(36% - var(--spacing-m));
  flex-shrink: 0;
  padding-bottom: 90px;
  row-gap: 90px;
}
.BlockTemplate_bottomCenter__kXhjD,
.BlockTemplate_rightCorner__f7fS6 {
  padding-bottom: 0;
}
.CareersSection_container__gQl5x {
  display: grid;
  grid-gap: 0 40px;
  grid-template-columns: auto 0.6fr;
}
.CareersSection_withImageRight__ll8gM {
  grid-template-columns: auto 0.4fr;
  margin-top: 0;
}
.CareersSection_title__wagpY {
  width: 100%;
  margin: 0;
  align-self: end;
  grid-row: 2;
  grid-column: 1/3;
}
.CareersSection_imageContainer__aTOHT {
  max-width: 320px;
  justify-self: center;
  grid-row: 1;
  grid-column: 1/3;
  text-align: center;
}
.CareersSection_imageContainer__aTOHT img {
  max-width: 100%;
  height: auto;
}
.CareersSection_description__RJ7gW {
  max-width: 640px;
  grid-column: 1/3;
  grid-row: 3;
  margin-top: 15px;
}
.CareersSection_withImageRight__ll8gM .CareersSection_description__RJ7gW {
  max-width: 620px;
}
.CareersSection_content__PW_u_ {
  grid-column: 1/3;
  grid-row: 4;
  margin: 30px 0 0;
}
@media (min-width: 840px) {
  .CareersSection_withImage__eQ_kR {
    margin-top: calc(-1 * var(--spacing-m));
  }
  .CareersSection_withImageRight__ll8gM {
    margin-top: 0;
  }
  .CareersSection_title__wagpY {
    grid-column: 1/2;
  }
  .CareersSection_imageContainer__aTOHT {
    max-width: unset;
    min-width: 300px;
    grid-column: 2/3;
    grid-row: 2;
    justify-self: end;
  }
  .CareersSection_withImageRight__ll8gM .CareersSection_imageContainer__aTOHT {
    grid-row: 2 / span 2;
    align-self: start;
  }
  .CareersSection_withImageRight__ll8gM .CareersSection_description__RJ7gW {
    grid-column: 1/2;
  }
  .CareersSection_content__PW_u_ {
    margin: 40px 0 0;
  }
}
@media (min-width: 1080px) {
  .CareersSection_withImage__eQ_kR {
    margin-top: calc(-1 * var(--spacing-l));
  }
  .CareersSection_withImageRight__ll8gM {
    margin-top: 0;
  }
}
.CareersInAction_flexList__E1Og9,
.CareersInAction_grid__TXAjr {
  display: flex;
  flex-direction: column;
}
.CareersInAction_flexList__E1Og9 {
  row-gap: 10px;
}
.CareersInAction_valuesBody__tcUE9 {
  font: var(--typography-sans-200-regular-font);
  letter-spacing: var(--typography-sans-200-regular-letter-spacing);
  color: var(--text-color-dark);
  margin: 10px 0 40px;
}
.CareersInAction_valuesAside__ocd62 {
  order: -1;
  max-width: 320px;
  margin: auto;
}
.CareersInAction_nonProfitText__m6cin {
  margin: 0 0 16px;
  font: var(--typography-sans-150-regular-font);
  letter-spacing: var(--typography-sans-150-regular-letter-spacing);
  color: var(--text-color-dark);
}
.CareersInAction_nonProfitTitle__F34b2 {
  margin: 2px 0 0;
  color: var(--text-color-dark);
  font: var(--typography-sans-150-bold-font);
  letter-spacing: var(--typography-sans-150-bold-letter-spacing);
}
.CareersInAction_learnMoreLink__wcu6y {
  display: block;
  margin-top: 10px;
  color: var(--color-link-primary-text);
}
@media (min-width: 840px) {
  .CareersInAction_grid__TXAjr {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
  }
  .CareersInAction_valuesAside__ocd62 {
    order: 3;
    max-width: 100%;
    margin: 0;
  }
}
.CareersInAction_image__Uz4Ko {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.CareersIntro_grid___hq_t {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  grid-gap: 30px;
}
@media (min-width: 840px) {
  .CareersIntro_grid___hq_t {
    display: grid;
    grid-template-columns: 1fr 430px;
    align-items: center;
  }
}
.CareersIntro_image__cP_ha {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.sectionHeader_subtitleWrap__2xigN {
  margin-top: 0.5rem;
  max-width: var(--subtitle-max-width);
}
.sectionHeader_titleWrap__r6Gjw {
  max-width: 600px;
}
.sectionHeader_ctaWrap__HQz__ {
  margin-top: 1em;
}
.sectionHeader_illustrationSized__pbBl0 {
  width: 100%;
  max-width: 220px;
}
.sectionHeader_illustrationWrap__hf1ed {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 30px;
}
@media (min-width: 1080px) {
  .sectionHeader_illustrationSized__pbBl0 {
    margin: 0;
    max-width: none;
  }
  .sectionHeader_illustrationWrap__hf1ed {
    justify-content: right;
    margin: 0;
  }
}
.sectionHeader_image__U1_LM {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.footerCtaSection_titles__DKZ1X {
  text-align: center;
  margin-bottom: 20px;
}
.footerCtaSection_subtitle__f5vsP {
  margin: 10px auto;
  max-width: 400px;
}
.footerCtaSection_appIcon___BuAm {
  width: 80px;
  margin: 0 auto 5px;
}
.footerCtaSection_buttonWrap__0f05N {
  margin: 10px auto;
}
.footerCtaSection_ctasWrap__zWYLj {
  text-align: center;
  width: 100%;
}
.footerCtaSection_ctasWrap__zWYLj p {
  margin: 0;
  font-size: var(--font-size-200);
  color: var(--text-color-medium);
}
.footerCtaSection_ctaSectionRelative__lukSx {
  position: relative;
}
.footerCtaSection_illustration__rvRmR {
  display: none;
}
@media (min-width: 840px) {
  .footerCtaSection_ctaSectionRelative__lukSx {
    padding-bottom: 100px;
  }
  .footerCtaSection_illustration__rvRmR {
    position: absolute;
    display: block;
    width: 200px;
    bottom: -80px;
  }
}
@media (min-width: 1080px) {
  .footerCtaSection_illustration__rvRmR {
    width: 300px;
    left: 0;
    bottom: -80px;
  }
}
@media (min-width: 1440px) {
  .footerCtaSection_ctaSectionRelative__lukSx {
    padding-bottom: 100px;
  }
  .footerCtaSection_illustration__rvRmR {
    left: 80px;
    bottom: -120px;
  }
}
.footerCtaSection_image__X5pSm {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.demoFrame_frame__x2l26 {
  height: 100%;
  width: 100%;
}
.demoFrame_innerFrame__Fk5Mp {
  border: 2px solid var(--color-border-base);
  min-height: 600px;
  border-radius: var(--border-card-radius);
}
.demoFrame_disableFrame__16_Uo {
  pointer-events: none;
  overflow: hidden;
}
.demoFrame_mask__6zVq2 {
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  -webkit-mask: linear-gradient(0deg, #0000, #000);
  mask: linear-gradient(0deg, #0000, #000);
}
.demoFrame_cta__GKICZ {
  position: absolute;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.demoFrame_positionOffCenter__72B4E {
  bottom: -75px;
  left: 75%;
  background-color: #0000;
}
.demoFrame_positionBottom__Ot3hK {
  bottom: 30px;
  left: calc(50% - 154px);
}
.demoFrame_positionCenter__z7FAo {
  top: calc(50% - 24px);
  left: calc(50% - 154px);
}
.demoFrame_ctaHidden__0pefF {
  opacity: 0;
}
.calcom_cal__LE8J_ {
  width: 100%;
  height: 100%;
}
.emailInput_visuallyHidden__Pa2Lh {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
@layer front-ui-atoms {
  .illustratedIcon_illustratedIcon__VTXzQ {
    aspect-ratio: 1/1;
    inline-size: 100%;
    max-inline-size: 80px;
  }
  .illustratedIcon_image__V2iHj {
    display: block;
    inline-size: 100%;
    block-size: 100%;
    object-fit: contain;
  }
}
.NotionCalendarHero_hero__dqJES {
  position: relative;
}
.NotionCalendarHero_header__IYal2 {
  margin: auto;
  max-width: 540px;
  padding: 64px 36px;
  text-align: center;
  width: 100%;
  z-index: 1;
  transform: translateZ(0);
}
.NotionCalendarHero_eyebrow__rOeT1 {
  font: var(--typography-sans-200-semibold-font);
  letter-spacing: var(--typography-sans-200-semibold-letter-spacing);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-16);
}
.NotionCalendarHero_eyebrow__rOeT1:empty {
  display: none;
}
.NotionCalendarHero_title__tjRtd {
  font: var(--typography-sans-700-bold-font);
  letter-spacing: var(--typography-sans-700-bold-letter-spacing);
  text-wrap: balance;
  margin-top: var(--spacing-12);
  margin-bottom: var(--spacing-8);
}
@media (min-width: 600px) {
  .NotionCalendarHero_title__tjRtd {
    font: var(--typography-sans-800-bold-font);
    letter-spacing: var(--typography-sans-800-bold-letter-spacing);
    margin-bottom: 12px;
  }
}
@media (min-width: 840px) {
  .NotionCalendarHero_title__tjRtd {
    font: var(--typography-sans-900-bold-font);
    letter-spacing: var(--typography-sans-900-bold-letter-spacing);
  }
}
.NotionCalendarHero_subtitle__4aZOK {
  font: var(--typography-sans-300-medium-font);
  letter-spacing: var(--typography-sans-300-medium-letter-spacing);
  margin-bottom: 16px;
  text-wrap: balance;
}
@media (min-width: 600px) {
  .NotionCalendarHero_subtitle__4aZOK {
    font: var(--typography-sans-400-medium-font);
    letter-spacing: var(--typography-sans-400-medium-letter-spacing);
    margin-bottom: 20px;
  }
}
.NotionCalendarHero_cta__VOXv8 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.NotionCalendarHero_calendarIconWrapper__gmhHg {
  width: 100px;
  height: 104px;
}
.inlineError_error__lgq8b {
  border: 2px solid red;
  padding: 2em;
  color: red;
  font-family: var(--font-family-mono);
  font-size: var(--font-size-200);
}
.inlineTableOfContents_strong__cUMLu {
  font-weight: var(--font-weight-bold);
}
.inlineTableOfContents_listItem__h3CfB {
  margin: 0.75em 0;
  display: flex;
  align-items: baseline;
}
.inlineTableOfContents_listItemSerif__iGvbW {
  margin: 1.25em 0;
}
.inlineTableOfContents_number__tkAMy {
  font-size: var(--font-size-200);
  font-weight: var(--font-weight-medium);
  background: var(--color-link-primary-text);
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  flex-shrink: 0;
  text-align: center;
  margin-right: 1em;
  margin-top: -1px;
  padding-top: 3px;
}
.inlineTableOfContents_contents__wSQ_c {
  font-size: var(--list-item-font-size);
  font-family: var(--list-item-font-family);
  font-feature-settings: var(--list-item-font-variant-numeric);
  font-variant-numeric: var(--list-item-font-variant-numeric);
}
.inlineTableOfContents_list__3_frI {
  margin: 1.25em 0;
  padding: 0;
  list-style: none;
}
.table_table__rvzxp {
  --table-border: var(--color-gray-200);
  width: 100%;
  border-collapse: collapse;
}
.table_tableContainer__pguw_ {
  overflow: auto;
}
.table_darkMode__EPo3q {
  --table-border: var(--color-gray-700);
}
.tableColumnHeaderCell_columnHeaderCell__WzEly {
  font: var(--typography-sans-200-bold-font);
  letter-spacing: var(--typography-sans-200-bold-letter-spacing);
  --min-width: 150px;
  text-align: start;
  padding: 12px 24px 12px 0;
  background: var(--color-background-base);
  border-bottom: 1px solid var(--table-border);
  min-width: var(--min-width);
  position: sticky;
  top: 0;
  z-index: 1;
}
.tableColumnHeaderCell_columnHeaderCell__WzEly:first-child {
  left: 0;
  z-index: 2;
}
.tableColumnHeaderCell_columnHeaderCell__WzEly:first-child:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: var(--table-border);
}
@media (min-width: 1080px) {
  .tableColumnHeaderCell_columnHeaderCell__WzEly:first-child:after {
    display: none;
  }
}
.tableColumnHeaderCell_columnHeaderCell__WzEly:nth-child(2) {
  padding-left: 12px;
}
@media (min-width: 1080px) {
  .tableColumnHeaderCell_columnHeaderCell__WzEly:nth-child(2) {
    padding-left: 0;
  }
}
.tableColumnHeaderCell_columnHeaderCell__WzEly.tableColumnHeaderCell_colorTheme__LGgWU {
  color: var(--color-link-primary-text);
}
.tableDataCell_dataCell__1rdHe {
  text-align: start;
  padding: 12px 24px 12px 0;
  border-top: 1px solid var(--table-border);
  border-bottom: 1px solid var(--table-border);
}
.tableDataCell_dataCell__1rdHe.tableDataCell_colorTheme__FzNfe {
  color: var(--color-link-primary-text);
}
.tableDataCell_dataCell__1rdHe:nth-child(2) {
  padding-left: 12px;
}
@media (min-width: 1080px) {
  .tableDataCell_dataCell__1rdHe:nth-child(2) {
    padding-left: 0;
  }
}
.tableFeatureSupportCell_visuallyHidden__sXOM6 {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.tableRowHeaderCell_rowHeaderCell__leYYE {
  font: inherit;
  text-align: start;
  padding: 12px 24px 12px 0;
  background: var(--color-background-base);
  position: sticky;
  left: 0;
  z-index: 1;
  border-top: 1px solid var(--table-border);
  border-bottom: 1px solid var(--table-border);
  min-width: 150px;
}
.tableRowHeaderCell_rowHeaderCell__leYYE:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: var(--table-border);
}
@media (min-width: 1080px) {
  .tableRowHeaderCell_rowHeaderCell__leYYE:after {
    display: none;
  }
}
.tweet_tweet__8JSWu {
  font: var(--typography-sans-150-regular-font);
  letter-spacing: var(--typography-sans-150-regular-letter-spacing);
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
  border-radius: var(--border-radius-400);
  padding: 15px 15px 5px;
  break-inside: avoid-column;
  cursor: auto;
}
.tweet_avatar__wLuty {
  position: relative;
  border-radius: 50%;
  height: 48px;
  margin-right: 8px;
  overflow: hidden;
  width: 48px;
}
.tweet_usernameWrap__aXzhe {
  flex-grow: 1;
  margin-right: 8px;
}
.tweet_name__AtQFc,
.tweet_username__mNmrB {
  margin: 0 auto;
}
.tweet_name__AtQFc {
  font: var(--typography-sans-150-bold-font);
  letter-spacing: var(--typography-sans-150-bold-letter-spacing);
}
.tweet_username__mNmrB {
  color: var(--color-text-muted);
}
.tweet_body__bCD2A {
  color: var(--color-text-normal);
  overflow: hidden;
  margin: 0;
}
.tweet_paragraph__tItmS {
  margin: 0.75em 0;
  word-break: break-word;
}
.tweet_mention__xiDE6 {
  color: #1b95e0;
}
.tweet_user__vIMQv {
  align-items: center;
  display: flex;
}
.tweet_imageContainer__J037f {
  position: relative;
  border: 1px solid var(--color-border-base);
  border-radius: 12px;
  overflow: hidden;
  height: -moz-fit-content;
  height: fit-content;
}
.tweet_line__k09QG {
  display: block;
}
.tweet_image__RepFW {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.callout_callout__f6e0w {
  padding: 5px 15px;
  background: var(--color-background-surface-neutral);
  border: 1px solid var(--color-border-base);
  color: var(--color-text-strong);
  border-radius: var(--border-radius-400);
  display: flex;
  align-items: flex-start;
}
.callout_imageWrap__LbKoT {
  margin-top: 15px;
  margin-inline-end: 15px;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  position: relative;
}
.callout_invertedImage__LXvsX {
  filter: invert(1);
}
.callout_calloutVariantTip__MBRc1 {
  background: var(--color-blue-100);
  color: var(--color-blue-900);
  border-color: var(--color-blue-200);
}
.callout_calloutDarkMode__zHot_ code {
  color: var(--color-blue-100);
}
.callout_calloutVariantResources__E_eEa {
  background: var(--color-orange-100);
  color: var(--color-orange-900);
  border-color: var(--color-orange-200);
}
.callout_calloutVariantTemplates__PD0mb {
  background: var(--color-purple-100);
  color: var(--color-purple-900);
  border-color: var(--color-purple-200);
}
.callout_calloutVariantAssignment__E0SAV {
  background: var(--color-background-surface-neutral);
  color: var(--color-text-strong);
  border: none;
  padding: 20px 30px;
}
.callout_calloutVariantAssignment__E0SAV .callout_imageWrap__LbKoT {
  margin-top: -10px;
  padding: 0;
}
@media (min-width: 600px) {
  .callout_callout__f6e0w {
    padding: 5px 20px;
  }
  .callout_calloutVariantAssignment__E0SAV {
    padding: 20px 30px 5px 20px;
  }
  .callout_imageWrap__LbKoT {
    margin-top: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-inline-end: 20px;
  }
}
.callout_richTextWrap__vvnL1 {
  padding-bottom: 1em;
}
.callout_assignmentRichText___sXhH {
  color: var(--color-text-strong);
}
.callout_calloutEyebrow__h0Xx3 {
  color: var(--color-text-strong);
  opacity: 0.6;
}
.callout_calloutTitle__9qiON {
  font-size: var(--font-size-150);
  font-weight: var(--font-weight-bold);
}
.callout_calloutCta__XJD1V {
  margin-bottom: 1em;
}
.callout_assignmentTitle__1x6fE {
  color: var(--color-text-strong);
  display: block;
  margin-bottom: 5px;
}
@media (min-width: 840px) {
  .callout_calloutBody__PQArT {
    min-height: 90px;
  }
}
.callout_toggleButton__hWiYH {
  display: inline-flex;
  border: 0;
  outline: 0;
  border-radius: var(--border-radius-300);
  font-size: var(--font-size-150);
  height: 30px;
  padding: 0 10px;
  align-items: center;
  background: none;
}
.callout_toggleButton__hWiYH:hover {
  background: var(--color-background-surface-neutral);
}
.callout_calloutVariantTip__MBRc1 .callout_toggleButton__hWiYH:hover {
  background: var(--color-blue-200);
}
.callout_calloutVariantResources__E_eEa .callout_toggleButton__hWiYH:hover {
  background: var(--color-orange-200);
}
.callout_calloutVariantTemplates__PD0mb .callout_toggleButton__hWiYH:hover {
  background: var(--color-purple-200);
}
.callout_calloutVariantAssignment__E0SAV .callout_toggleButton__hWiYH:hover {
  background: var(--color-brown-100);
}
.callout_image__fbdoC {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: top;
}
