.notionDocumentAdaLovelace_columnBlock__O1mzV {
  display: grid;
  grid-template-columns: calc(50% - 20px) calc(50% - 20px);
  gap: 40px;
  height: 100%;
}
.notionDocumentAdaLovelace_columnBlock__O1mzV.notionDocumentAdaLovelace_singleColumn__BOflN {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
}
.notionDocumentAdaLovelace_columnBlock__O1mzV > * {
  display: flex;
  flex-direction: column;
  position: relative;
}
