.button_stories_visuallyHidden__PK09V {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
@layer front-ui-components {
  .accordionGroup_summaryCard__Q247i {
    position: relative;
  }
  .accordionGroup_summaryCard__Q247i
    .accordionGroup_summaryButton__eNJ_6:after {
    content: "";
    position: absolute;
    inset: 0;
  }
  .accordionGroup_summaryHeading__UNQYD {
    margin: 0;
  }
  .accordionGroup_summaryButton__eNJ_6 {
    padding: 0;
    border: 0;
    background: none;
  }
  .accordionGroup_details__4hghC[hidden] {
    display: none;
  }
}
.KombiBlock_kombiBlocks__sikjR {
  --kombi-blocks-max-count: 5;
  --kombi-blocks-count: 0;
  --kombi-blocks-max-width: 1024px;
  --kombi-blocks-gutter-width: 16px;
  --kombi-blocks-gutter-total: calc(
    var(--kombi-blocks-gutter-width) * (var(--kombi-blocks-max-count) - 1)
  );
  --kombi-blocks-min-width: calc(
    (var(--kombi-blocks-max-width) - var(--kombi-blocks-gutter-total)) /
      var(--kombi-blocks-max-count)
  );
  --kombi-blocks-overflow-y: var(--kombi-blocks-gutter-width);
  --horizontal-scrollbar-width: 16px;
  --kombi-blocks-overflow-2-x-default: calc(
    100vw - var(--kombi-blocks-width) - var(--horizontal-scrollbar-width)
  );
  --kombi-blocks-overflow-x: max(
    var(--kombi-blocks-gutter-width),
    calc(var(--kombi-blocks-overflow-2-x-default) / 2)
  );
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(var(--kombi-blocks-count), 1fr);
  gap: var(--kombi-blocks-gutter-width);
  padding: var(--kombi-blocks-overflow-y) var(--kombi-blocks-overflow-x);
  margin: calc(var(--kombi-blocks-overflow-y) * -1)
    calc(var(--kombi-blocks-overflow-x) * -1);
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}
.KombiBlock_kombiBlocks__sikjR::-webkit-scrollbar {
  display: none;
}
@media (min-width: 600px) {
  .KombiBlock_kombiBlocks__sikjR {
    grid-auto-columns: auto;
  }
}
@media (hover: none) {
  .KombiBlock_kombiBlocks__sikjR {
    --horizontal-scrollbar-width: 0px;
  }
}
.KombiBlock_kombiBlock__ydhi7 {
  --kombi-block-hover-duration-easing: 150ms ease-out;
  --kombi-block-hover-transition:
    background-color var(--kombi-block-hover-duration-easing),
    border-color var(--kombi-block-hover-duration-easing),
    filter var(--kombi-block-hover-duration-easing);
  --kombi-block-cta-padding-top: 4px;
  --kombi-block-border: #0000000a;
  --kombi-block-border-hover: #00000014;
  display: flex;
  flex-direction: column;
  padding: var(--kombi-blocks-gutter-width);
  padding-bottom: calc(var(--kombi-blocks-gutter-width) - 4px);
  min-width: var(--kombi-blocks-min-width);
  position: relative;
  background-color: var(--color-background-surface-neutral);
  border-radius: var(--border-radius-500);
  border: 2px solid var(--color-card-border);
  scroll-snap-align: center;
  scroll-snap-stop: always;
}
@media (min-width: 840px) {
  .KombiBlock_kombiBlock__ydhi7 {
    border-radius: var(--border-radius-700);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .KombiBlock_kombiBlock__ydhi7 {
    transition: var(--kombi-block-hover-transition);
  }
}
.KombiBlock_kombiBlock__ydhi7:focus-within {
  background-color: var(--color-white);
  border-color: var(--kombi-block-border-hover);
}
@media (hover: hover) {
  .KombiBlock_kombiBlock__ydhi7:hover {
    background-color: var(--color-white);
    border-color: var(--kombi-block-border-hover);
  }
}
.KombiBlock_kombiBlock__ydhi7.KombiBlock_pressed__5Pwon {
  background-color: var(--color-white);
  border-color: var(--kombi-block-border-hover);
}
.KombiBlock_header__KneT9 {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  gap: 4px;
}
@media (min-width: 840px) {
  .KombiBlock_header__KneT9 {
    align-items: start;
    flex-direction: column;
    gap: 8px;
  }
}
.KombiBlock_icon__0xrn_ {
  --color-icon: var(--color-accent);
  --icon-size: 20px;
  margin-right: 2px;
  margin-left: -2px;
  width: var(--icon-size);
  height: var(--icon-size);
  margin-bottom: auto;
  flex-shrink: 0;
  box-sizing: border-box;
  fill: currentColor;
  color: var(--color-icon);
  border-radius: var(--border-radius-300);
}
.KombiBlock_icon__0xrn_:empty {
  display: none;
}
.KombiBlock_icon__0xrn_ > svg {
  width: 100%;
  height: 100%;
  display: block;
}
@media (min-width: 840px) {
  .KombiBlock_icon__0xrn_ {
    --icon-size: 28px;
    margin-right: 4px;
  }
}
.KombiBlock_title__aNjTh {
  font: var(--typography-sans-100-semibold-font);
  letter-spacing: var(--typography-sans-100-semibold-letter-spacing);
  width: 100%;
  hyphens: auto;
}
@media (min-width: 840px) {
  .KombiBlock_title__aNjTh {
    font: var(--typography-sans-300-semibold-font);
    letter-spacing: var(--typography-sans-300-semibold-letter-spacing);
  }
}
.KombiBlock_content__FX16t {
  font: var(--typography-sans-100-regular-font);
  letter-spacing: var(--typography-sans-100-regular-letter-spacing);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 0 auto;
  padding-top: 4px;
  text-wrap: balance;
  hyphens: auto;
}
.KombiBlock_cta__ikAp6 {
  font: var(--typography-sans-100-semibold-font);
  letter-spacing: var(--typography-sans-100-semibold-letter-spacing);
  padding-top: var(--kombi-block-cta-padding-top);
  color: var(--color-link-primary-text);
}
@media (hover: hover) {
  .KombiBlock_cta__ikAp6 {
    opacity: 0;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .KombiBlock_cta__ikAp6 {
    transition: opacity var(--kombi-block-hover-duration-easing);
  }
}
.KombiBlock_cta__ikAp6:empty {
  display: none;
}
@media (min-width: 840px) {
  .KombiBlock_header__KneT9 .KombiBlock_cta__ikAp6 {
    display: none;
  }
}
.KombiBlock_cta__ikAp6 > * {
  text-decoration: none;
}
.KombiBlock_cta__ikAp6:hover {
  color: var(--color-link-primary-text);
}
.KombiBlock_kombiBlock__ydhi7.KombiBlock_pressed__5Pwon .KombiBlock_cta__ikAp6,
.KombiBlock_kombiBlock__ydhi7:focus-within .KombiBlock_cta__ikAp6,
.KombiBlock_kombiBlock__ydhi7:hover .KombiBlock_cta__ikAp6 {
  opacity: 1;
}
.KombiBlock_focusRing__IZB_7 {
  opacity: 0;
  box-shadow:
    0 0 0 2px var(--color-black),
    0 0 0 4px var(--color-white);
  pointer-events: none;
}
.KombiBlock_blockCta__qUFCI,
.KombiBlock_focusRing__IZB_7 {
  position: absolute;
  inset: 0;
  border-radius: inherit;
}
.KombiBlock_blockCta__qUFCI.KombiBlock_blockCta__qUFCI > * {
  position: absolute;
  inset: 0;
  opacity: 0;
  border-radius: inherit;
}
.KombiBlock_blockCta__qUFCI > :focus {
  outline: 0;
}
.KombiBlock_blockCta__qUFCI > :focus-visible,
.KombiBlock_blockCta__qUFCI > :focus:not(:focus-visible) {
  outline: 0;
}
.KombiBlock_blockCta__qUFCI > :focus ~ .KombiBlock_focusRing__IZB_7 {
  opacity: 1;
}
.KombiBlock_blockCta__qUFCI > :focus-visible ~ .KombiBlock_focusRing__IZB_7 {
  opacity: 1;
}
.KombiBlock_blockCta__qUFCI
  > :focus:not(:focus-visible)
  ~ .KombiBlock_focusRing__IZB_7 {
  opacity: 0;
}
.KombiBlockCarousel_root__iXpvq {
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 20px;
}
.Hero_container__WCPEk {
  --hero-layout-row: 0;
  container-type: inline-size;
  margin-top: 80px;
}
.Hero_container__WCPEk:not(:last-child) {
  margin-bottom: var(--spacing-section-inner);
}
.Hero_container__WCPEk:has(.Hero_image__LzrK1) {
  --hero-layout-row: 1;
}
.Hero_hero__XKL82 {
  --hero-max-width: 840px;
  --hero-margin: 0 auto;
  --hero-text-align: center;
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  justify-items: center;
  margin: var(--hero-margin);
  max-width: var(--hero-max-width);
  text-align: var(--hero-text-align);
}
@container style(--hero-layout-row: 1) and (width >= 800px) {
  .Hero_hero__XKL82 {
    --hero-margin: 0;
    --hero-max-width: unset;
    --hero-text-align: unset;
    grid-template-rows: repeat(5, max-content);
    grid-auto-flow: column;
    align-items: center;
    justify-items: start;
    column-gap: 28px;
  }
}
.Hero_heading__pu__U.Hero_heading__pu__U {
  font: var(
    --typography-global-title-font-computed,
    var(--typography-global-title-font)
  );
  letter-spacing: var(
    --typography-global-title-letter-spacing-computed,
    var(--typography-global-title-letter-spacing)
  );
  text-wrap: balance;
  margin: 0;
  color: var(--color-text-strong);
  -webkit-hyphenate-limit-before: var(--hyphens-before);
  -webkit-hyphenate-limit-after: var(--hyphens-after);
  -webkit-hyphenate-limit-lines: var(--hyphens-lines);
  hyphenate-limit-chars: var(--hyphens-length) var(--hyphens-before)
    var(--hyphens-after);
  hyphenate-limit-lines: var(--hyphens-lines);
}
@media (min-width: 600px) {
  .Hero_heading__pu__U.Hero_heading__pu__U {
    --typography-global-title-font-computed: var(
      --typography-global-title-sm-font
    );
    --typography-global-title-letter-spacing-computed: var(
      --typography-global-title-sm-letter-spacing
    );
  }
}
@media (min-width: 840px) {
  .Hero_heading__pu__U.Hero_heading__pu__U {
    --typography-global-title-font-computed: var(
      --typography-global-title-md-font,
      var(--typography-global-title-sm-font)
    );
    --typography-global-title-letter-spacing-computed: var(
      --typography-global-title-md-letter-spacing,
      var(--typography-global-title-sm-letter-spacing)
    );
  }
}
@media (min-width: 1080px) {
  .Hero_heading__pu__U.Hero_heading__pu__U {
    --typography-global-title-font-computed: var(
      --typography-global-title-lg-font,
      var(
        --typography-global-title-md-font,
        var(--typography-global-title-sm-font)
      )
    );
    --typography-global-title-letter-spacing-computed: var(
      --typography-global-title-lg-letter-spacing,
      var(
        --typography-global-title-md-letter-spacing,
        var(--typography-global-title-sm-letter-spacing)
      )
    );
  }
}
@media (min-width: 1280px) {
  .Hero_heading__pu__U.Hero_heading__pu__U {
    --typography-global-title-font-computed: var(
      --typography-global-title-xl-font,
      var(
        --typography-global-title-lg-font,
        var(
          --typography-global-title-md-font,
          var(--typography-global-title-sm-font)
        )
      )
    );
    --typography-global-title-letter-spacing-computed: var(
      --typography-global-title-xl-letter-spacing,
      var(
        --typography-global-title-lg-letter-spacing,
        var(
          --typography-global-title-md-letter-spacing,
          var(--typography-global-title-sm-letter-spacing)
        )
      )
    );
  }
}
@media (min-width: 1440px) {
  .Hero_heading__pu__U.Hero_heading__pu__U {
    --typography-global-title-font-computed: var(
      --typography-global-title-xxl-font,
      var(
        --typography-global-title-xl-font,
        var(
          --typography-global-title-lg-font,
          var(
            --typography-global-title-md-font,
            var(--typography-global-title-sm-font)
          )
        )
      )
    );
    --typography-global-title-letter-spacing-computed: var(
      --typography-global-title-xxl-letter-spacing,
      var(
        --typography-global-title-xl-letter-spacing,
        var(
          --typography-global-title-lg-letter-spacing,
          var(
            --typography-global-title-md-letter-spacing,
            var(--typography-global-title-sm-letter-spacing)
          )
        )
      )
    );
  }
}
@container style(--hero-layout-row: 1) and (width >= 800px) {
  .Hero_heading__pu__U.Hero_heading__pu__U {
    grid-row: 2;
  }
}
:is(:lang(de)) .Hero_heading__pu__U.Hero_heading__pu__U {
  white-space: normal;
  hyphens: auto;
  --hyphens-before: 2;
  --hyphens-after: 2;
  --hyphens-lines: 2;
  --hyphens-length: 6;
}
:is(:lang(fr)) .Hero_heading__pu__U.Hero_heading__pu__U {
  white-space: normal;
  hyphens: auto;
  --hyphens-before: 3;
  --hyphens-after: 3;
  --hyphens-lines: 1;
  --hyphens-length: 8;
}
.Hero_subheading__79Mmp {
  font: var(
    --typography-global-deck-font-computed,
    var(--typography-global-deck-font)
  );
  letter-spacing: var(
    --typography-global-deck-letter-spacing-computed,
    var(--typography-global-deck-letter-spacing)
  );
  margin: 12px 0 0;
  text-wrap: balance;
  max-width: 56ch;
  color: var(--color-text-normal);
}
@media (min-width: 600px) {
  .Hero_subheading__79Mmp {
    --typography-global-deck-font-computed: var(
      --typography-global-deck-sm-font
    );
    --typography-global-deck-letter-spacing-computed: var(
      --typography-global-deck-sm-letter-spacing
    );
  }
}
@media (min-width: 840px) {
  .Hero_subheading__79Mmp {
    --typography-global-deck-font-computed: var(
      --typography-global-deck-md-font,
      var(--typography-global-deck-sm-font)
    );
    --typography-global-deck-letter-spacing-computed: var(
      --typography-global-deck-md-letter-spacing,
      var(--typography-global-deck-sm-letter-spacing)
    );
  }
}
@media (min-width: 1080px) {
  .Hero_subheading__79Mmp {
    --typography-global-deck-font-computed: var(
      --typography-global-deck-lg-font,
      var(
        --typography-global-deck-md-font,
        var(--typography-global-deck-sm-font)
      )
    );
    --typography-global-deck-letter-spacing-computed: var(
      --typography-global-deck-lg-letter-spacing,
      var(
        --typography-global-deck-md-letter-spacing,
        var(--typography-global-deck-sm-letter-spacing)
      )
    );
  }
}
@media (min-width: 1280px) {
  .Hero_subheading__79Mmp {
    --typography-global-deck-font-computed: var(
      --typography-global-deck-xl-font,
      var(
        --typography-global-deck-lg-font,
        var(
          --typography-global-deck-md-font,
          var(--typography-global-deck-sm-font)
        )
      )
    );
    --typography-global-deck-letter-spacing-computed: var(
      --typography-global-deck-xl-letter-spacing,
      var(
        --typography-global-deck-lg-letter-spacing,
        var(
          --typography-global-deck-md-letter-spacing,
          var(--typography-global-deck-sm-letter-spacing)
        )
      )
    );
  }
}
@media (min-width: 1440px) {
  .Hero_subheading__79Mmp {
    --typography-global-deck-font-computed: var(
      --typography-global-deck-xxl-font,
      var(
        --typography-global-deck-xl-font,
        var(
          --typography-global-deck-lg-font,
          var(
            --typography-global-deck-md-font,
            var(--typography-global-deck-sm-font)
          )
        )
      )
    );
    --typography-global-deck-letter-spacing-computed: var(
      --typography-global-deck-xxl-letter-spacing,
      var(
        --typography-global-deck-xl-letter-spacing,
        var(
          --typography-global-deck-lg-letter-spacing,
          var(
            --typography-global-deck-md-letter-spacing,
            var(--typography-global-deck-sm-letter-spacing)
          )
        )
      )
    );
  }
}
@container style(--hero-layout-row: 1) and (width >= 800px) {
  .Hero_subheading__79Mmp {
    text-wrap: inherit;
  }
}
.Hero_ctas__xnZ_m {
  --hero-ctas-justify-content: center;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: var(--hero-ctas-justify-content);
}
@container style(--hero-layout-row: 1) and (width >= 800px) {
  .Hero_ctas__xnZ_m {
    --hero-ctas-justify-content: unset;
  }
}
.Hero_image__LzrK1 {
  --hero-image-width: auto;
  --hero-image-height: auto;
  --hero-image-max-width: 100%;
  --hero-image-max-height: 310px;
  --hero-image-grid-row: 1;
  width: var(--hero-image-width);
  max-width: var(--hero-image-max-width);
  height: var(--hero-image-height);
  max-height: var(--hero-image-max-height);
  grid-row: var(--hero-image-grid-row);
  display: block;
  margin-bottom: 12px;
}
@container style(--hero-layout-row: 1) and (width >= 800px) {
  .Hero_image__LzrK1 {
    --hero-image-max-width: 392px;
    --hero-image-max-height: unset;
    --hero-image-grid-row: 1/-1;
    justify-self: center;
    grid-column: 2;
    margin-bottom: 0;
  }
}
.NotionCalendarIcon_container__JN0MU {
  display: flex;
}
.NotionCalendarIcon_container__JN0MU > svg {
  width: 100%;
  height: 100%;
}
.NotionCalendarIcon_hasDropShadow__aL9Pk {
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.25));
}
.NotionCalendarIcon_appIcon__zxiL4 {
  --color-icon-background: var(--color-blue-100);
  --calendar-hero-icon-size: 22px;
  --calendar-hero-icon-padding: 5px;
  --calendar-hero-icon-border-radius: var(--border-radius-400);
  --calendar-hero-icon-width-and-height: calc(
    var(--calendar-hero-icon-size) + var(--calendar-hero-icon-padding) * 2
  );
  display: inline-block;
  background: var(--color-icon-background);
  border-radius: var(--calendar-hero-icon-border-radius);
  width: var(--calendar-hero-icon-width-and-height);
  height: var(--calendar-hero-icon-width-and-height);
  padding: var(--calendar-hero-icon-padding);
}
@media (min-width: 600px) {
  .NotionCalendarIcon_appIcon__zxiL4 {
    --calendar-hero-icon-size: 32px;
    --calendar-hero-icon-padding: 8px;
    --calendar-hero-icon-border-radius: var(--border-radius-500);
  }
}
.NotionCalendarIcon_dates__QiFn_ > g {
  opacity: 0;
}
.NotionCalendarIcon_dates__QiFn_ > g.NotionCalendarIcon_current__Iwe8x {
  opacity: 1;
}
.NotionCalendarIcon_date__9obhw > g {
  animation: none;
  transition: none;
}
.form_root__W1NM_ {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.form_root__W1NM_[hidden] {
  display: none;
}
.HeroDeprecated_hero__AZpJo {
  --hero-margin-block: var(--spacing-48);
  --hero-gap: var(--spacing-48);
  display: grid;
  margin-block: var(--hero-margin-block);
  gap: var(--hero-gap);
  justify-items: center;
}
.HeroDeprecated_header__BXmWG {
  display: flex;
  flex-direction: column;
  gap: 12px;
  order: 1;
  max-width: 720px;
  align-items: center;
  text-align: center;
}
.HeroDeprecated_eyebrow__nfDsI {
  color: var(--color-text-muted);
  margin: 0;
}
.HeroDeprecated_eyebrow__nfDsI,
.HeroDeprecated_subtitle__oa7yd {
  font: var(--typography-sans-300-medium-font);
  letter-spacing: var(--typography-sans-300-medium-letter-spacing);
}
.HeroDeprecated_subtitle__oa7yd {
  margin-bottom: var(--spacing-8);
  margin-top: 0;
}
.HeroDeprecated_picture__tHDoE {
  order: 2;
}
@media (min-width: 840px) {
  .HeroDeprecated_hero__AZpJo {
    --hero-columns: 1fr 1fr;
    --hero-margin-block: var(--spacing-64);
    --hero-gap: var(--spacing-32);
  }
  .HeroDeprecated_hero__AZpJo.HeroDeprecated_docs__O8Uo6,
  .HeroDeprecated_hero__AZpJo.HeroDeprecated_projects__S4mLL,
  .HeroDeprecated_hero__AZpJo.HeroDeprecated_wikis__VOnqI {
    align-items: end;
    grid-template-columns: var(--hero-columns);
  }
  .HeroDeprecated_header__BXmWG {
    order: 2;
  }
  .HeroDeprecated_picture__tHDoE {
    order: 1;
  }
  .HeroDeprecated_docs__O8Uo6,
  .HeroDeprecated_projects__S4mLL,
  .HeroDeprecated_wikis__VOnqI {
    --hero-margin-block: var(--spacing-96);
  }
  .HeroDeprecated_docs__O8Uo6 .HeroDeprecated_header__BXmWG,
  .HeroDeprecated_projects__S4mLL .HeroDeprecated_header__BXmWG,
  .HeroDeprecated_wikis__VOnqI .HeroDeprecated_header__BXmWG {
    order: 1;
    align-items: flex-start;
    text-align: left;
  }
  .HeroDeprecated_docs__O8Uo6 .HeroDeprecated_picture__tHDoE,
  .HeroDeprecated_projects__S4mLL .HeroDeprecated_picture__tHDoE,
  .HeroDeprecated_wikis__VOnqI .HeroDeprecated_picture__tHDoE {
    order: 2;
  }
}
@media (min-width: 1080px) {
  .HeroDeprecated_hero__AZpJo {
    --hero-columns: 7fr 9fr;
  }
}
.HeroDeprecated_cta__2szyO {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}
.HeroDeprecated_cta__2szyO > :nth-child(3) {
  margin-top: 10px;
  flex-basis: 100%;
}
.HeroDeprecated_cta__2szyO > :nth-child(3):only-child {
  flex-basis: auto;
}
.formHero_container__5JRZm {
  --nav-height: 66px;
  --nav-offset: 32px;
  --form-min-width: 300px;
  --form-max-width: 500px;
  container-type: inline-size;
}
.formHero_grid__Qoqgi {
  position: relative;
}
@container (width < 900px) {
  .formHero_grid__Qoqgi {
    display: flex;
    flex-direction: column;
    gap: 48px;
    max-width: var(--form-max-width);
  }
}
@container (width >= 900px) {
  .formHero_grid__Qoqgi {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(
        var(--form-min-width),
        var(--form-max-width)
      );
    gap: 48px;
    align-items: start;
  }
  .formHero_content__bcRhx {
    position: sticky;
    top: calc(var(--nav-height) + var(--nav-offset));
  }
}
.formHero_imageContainer__jCk84 {
  margin-top: 24px;
}
@layer front-ui-atoms {
  .buttonGroup_buttonGroup__zMcax {
    inline-size: max-content;
    max-inline-size: 100%;
  }
  .buttonGroup_buttonGroup__zMcax > * {
    flex: 1 1 auto;
  }
}
@layer front-ui-components {
  .hero_container__aJcVj {
    container-type: inline-size;
  }
  .hero_hero__B6z_N {
    align-items: center;
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    justify-items: center;
    margin-inline: auto;
    max-inline-size: 840px;
    text-align: center;
  }
  .hero_hero__B6z_N > :not(:last-child, :has(+ .hero_media__V_qwI)) {
    margin-block-end: var(--spacing-12);
  }
  @container (inline-size >= 800px) {
    .hero_container__aJcVj:has(.hero_media__V_qwI) .hero_hero__B6z_N {
      margin-inline: 0;
      max-inline-size: unset;
      align-items: center;
      column-gap: var(--spacing-28);
      grid-auto-flow: column;
      grid-template-rows: 1fr max-content 1fr;
      justify-items: start;
      text-align: start;
    }
    .hero_container__aJcVj:has(.hero_media__V_qwI)
      .hero_hero__B6z_N
      > :not(.hero_media__V_qwI) {
      grid-column: 1;
    }
    .hero_container__aJcVj:has(.hero_media__V_qwI) .hero_hero__B6z_N:before {
      content: "";
      grid-column: 1;
      grid-row: 1/2;
    }
    .hero_container__aJcVj:has(.hero_media__V_qwI)
      .hero_hero__B6z_N:has(> :nth-child(3):last-child) {
      grid-template-rows: 1fr repeat(2, max-content) 1fr;
    }
    .hero_container__aJcVj:has(.hero_media__V_qwI)
      .hero_hero__B6z_N:has(> :nth-child(4):last-child) {
      grid-template-rows: 1fr repeat(3, max-content) 1fr;
    }
    .hero_container__aJcVj:has(.hero_media__V_qwI)
      .hero_hero__B6z_N:has(> :nth-child(5):last-child) {
      grid-template-rows: 1fr repeat(4, max-content) 1fr;
    }
    .hero_container__aJcVj:has(.hero_media__V_qwI)
      .hero_hero__B6z_N:has(> :nth-child(6):last-child) {
      grid-template-rows: 1fr repeat(5, max-content) 1fr;
    }
    .hero_container__aJcVj:has(.hero_media__V_qwI)
      .hero_hero__B6z_N:has(> :nth-child(7):last-child) {
      grid-template-rows: 1fr repeat(6, max-content) 1fr;
    }
  }
  .hero_description__6vjku {
    text-wrap: balance;
  }
  @container (inline-size >= 800px) {
    .hero_container__aJcVj:has(.hero_media__V_qwI) .hero_description__6vjku {
      text-wrap: pretty;
    }
  }
  .hero_description__6vjku:not(:last-child, :has(+ .hero_media__V_qwI)) {
    margin-block-end: var(--spacing-20);
  }
  .hero_media__V_qwI {
    block-size: auto;
    display: block;
    inline-size: auto;
    margin-block-end: var(--spacing-20);
    max-inline-size: 100%;
    order: -1;
  }
  @container (inline-size >= 800px) {
    .hero_container__aJcVj:has(.hero_media__V_qwI) .hero_media__V_qwI {
      grid-column: 2;
      grid-row: 1/-1;
      justify-self: center;
      margin-block-end: 0;
      max-inline-size: 392px;
      order: unset;
    }
  }
  .hero_media__V_qwI img,
  .hero_media__V_qwI video {
    block-size: auto;
    display: block;
    inline-size: auto;
    max-block-size: 310px;
    max-inline-size: 100%;
  }
  @container (inline-size >= 800px) {
    .hero_container__aJcVj:has(.hero_media__V_qwI) .hero_media__V_qwI img,
    .hero_container__aJcVj:has(.hero_media__V_qwI) .hero_media__V_qwI video {
      max-block-size: unset;
    }
  }
}
.PlanFeatures_planFeatures__umD4g {
  margin: 0;
  padding: 0;
  list-style: none;
}
.PlanFeatures_planFeature__RYBhW {
  margin-block-end: var(--spacing-8);
}
.PlanFeatures_planFeatureRow__IWhrH {
  display: flex;
  align-items: start;
  gap: var(--spacing-8);
}
.PlanFeatures_check__ujQKZ {
  display: flex;
  margin-block-start: 0.1em;
}
.PlanFeatures_check__ujQKZ svg {
  --icon-size: 1.2em;
  block-size: var(--icon-size);
  inline-size: var(--icon-size);
  color: var(--color-text-normal);
}
.PlanFeatures_iconWrapper__xicGT {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: var(--spacing-4);
  flex-wrap: wrap;
}
.PlanFeatures_logoContainer__0xRX3 {
  margin-block-start: var(--spacing-4);
  margin-inline-end: auto;
}
.PlanFeatures_logoContainer__0xRX3 .logo-dark-mode {
  display: none;
}
.PlanFeatures_logoContainer__0xRX3.PlanFeatures_darkMode__9iX7E
  .logo-dark-mode {
  display: block;
}
.PlanFeatures_logoContainer__0xRX3.PlanFeatures_darkMode__9iX7E
  .logo-light-mode {
  display: none;
}
.PlanFeatures_displayFlexWrap__VOyh5 {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--spacing-4);
  row-gap: var(--spacing-8);
  align-items: center;
}
.PlanFeatures_featureLabel__w_L3T {
  margin-inline-end: var(--spacing-4);
}
.PlanFeatures_featureBadge__jN_SZ {
  vertical-align: top;
  margin-inline-end: var(--spacing-8);
}
.PlanFeatures_logoContainer__0xRX3 + .PlanFeatures_featureBadge__jN_SZ {
  margin-block-start: var(--spacing-8);
}
.PlanFeatures_betaBadge__et929:has(svg) {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--spacing-4);
  border-radius: var(--border-radius-800);
}
.PlanFeatures_betaIconsWrap__2LDK1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--spacing-4);
}
.PricingPlanCard_pricingPlanCard__tn3aU {
  contain: inline-size;
  display: grid;
  grid-template-rows: subgrid;
  gap: var(--spacing-8);
  grid-row: span 5;
  grid-auto-rows: min-content;
}
.PricingPlanCard_heading__hbyXI {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: var(--spacing-8);
  align-items: center;
}
.PricingPlanCard_pricingWrap__E1HAN {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: var(--spacing-4) var(--spacing-8);
  align-self: baseline;
}
.PricingPlanCard_pricingUnit__YUx26 {
  min-width: 10ch;
}
.PricingPlanCard_description__p5SQj {
  color: var(--color-text-normal);
  margin-block-end: var(--spacing-8);
}
.PricingPlanCard_header__Zjmd5 {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 4;
  gap: var(--spacing-8);
}
.PricingPlanCard_ctaWrap__1NISl {
  container-type: inline-size;
  align-self: start;
}
.PricingPlanCard_cta__PJ9IV {
  inline-size: 100%;
}
@container (min-width: 400px) {
  .PricingPlanCard_cta__PJ9IV {
    inline-size: -moz-fit-content;
    inline-size: fit-content;
    min-inline-size: 160px;
  }
}
.pricingPlanCard_aiPricingCard__aZ17L {
  margin-top: var(--spacing-28);
}
.pricingPlanCard_regionDisclaimer__7Yfc0 {
  font: var(--typography-sans-50-regular-font);
  letter-spacing: var(--typography-sans-50-regular-letter-spacing);
  margin: 0;
  color: var(--color-gray-600);
}
.pricingPlanCard_regionDisclaimer__7Yfc0:not(:empty) {
  margin-top: auto;
  padding-top: 16px;
}
.pricingPlanCard_cardSurface__HThKj {
  border-radius: var(--border-radius-700);
}
.pricingPlanCard_planFeaturesHeading__KbfyM {
  margin-block-start: var(--spacing-28);
  margin-block-end: var(--spacing-4);
}
.forms2_form__sjQ90 {
  --mkto-form-field-focus-shadow:
    #2383e291 0 0 0 1px inset, #2383e259 0 0 0 2px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-28);
  container-type: inline-size;
  font-size: inherit !important;
  color: var(--color-text-strong) !important;
  width: unset !important;
}
.forms2_form__sjQ90:empty {
  border-radius: var(--border-radius-400);
  background-color: var(--color-gray-200);
  height: 100%;
}
@container (width < 600px) {
  .forms2_form__sjQ90 .mktoFormRow {
    display: contents;
  }
}
@container (width >= 600px) {
  .forms2_form__sjQ90 .mktoFormRow {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-24);
  }
  .forms2_form__sjQ90 .mktoFormCol {
    flex: 1 1 auto;
  }
}
.forms2_form__sjQ90 .mktoFieldDescriptor {
  margin-bottom: unset !important;
}
.forms2_form__sjQ90 .mktoLabel {
  font: var(--typography-sans-100-regular-font);
  letter-spacing: var(--typography-sans-100-regular-letter-spacing);
  margin-bottom: 5px;
  cursor: pointer;
  width: unset !important;
}
.forms2_form__sjQ90 .mktoLabel > * {
  font: inherit;
}
.forms2_form__sjQ90 .mktoRequiredField .mktoLabel:after {
  content: "*";
  margin-inline-start: 3px;
}
.forms2_form__sjQ90 .mktoField:focus-visible {
  box-shadow: var(--mkto-form-field-focus-shadow);
}
.forms2_form__sjQ90 .mktoField[type="date"],
.forms2_form__sjQ90 .mktoField[type="email"],
.forms2_form__sjQ90 .mktoField[type="number"],
.forms2_form__sjQ90 .mktoField[type="password"],
.forms2_form__sjQ90 .mktoField[type="search"],
.forms2_form__sjQ90 .mktoField[type="tel"],
.forms2_form__sjQ90 .mktoField[type="text"],
.forms2_form__sjQ90 select.mktoField,
.forms2_form__sjQ90 textarea.mktoField {
  --input-padding-vertical: 7px;
  --input-padding-horizontal: 10px;
  font: var(--typography-sans-200-regular-font);
  letter-spacing: var(--typography-sans-200-regular-letter-spacing);
  appearance: none;
  color: var(--color-text-strong);
  border: 1px solid var(--color-border-base);
  border-radius: var(--border-radius-300);
  position: relative;
  outline: none;
  width: 100% !important;
  padding: var(--input-padding-vertical) var(--input-padding-horizontal);
}
.forms2_form__sjQ90 .mktoFieldWrap:has(.mktoField[type="checkbox"]) {
  display: flex;
}
.forms2_form__sjQ90 .mktoCheckboxList {
  --color-checkbox-border: var(--color-gray-800);
  --mkto-checkbox-width: 44px;
  --mkto-checkbox-height: var(--mkto-checkbox-width);
  order: -1;
  position: relative;
  width: unset !important;
}
.forms2_form__sjQ90 .mktoCheckboxList:after,
.forms2_form__sjQ90 .mktoCheckboxList:before {
  content: "";
  position: absolute;
  top: calc(var(--mkto-checkbox-width) * 0.5);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border-radius: var(--border-radius-200);
  pointer-events: none;
}
.forms2_form__sjQ90 .mktoCheckboxList:before {
  border: 1px solid var(--color-checkbox-border);
}
.forms2_form__sjQ90 .mktoCheckboxList:has(:focus-visible):before {
  box-shadow: var(--mkto-form-field-focus-shadow);
}
.forms2_form__sjQ90 .mktoCheckboxList:has(.mktoField:checked):before {
  background-color: var(--color-black);
}
.forms2_form__sjQ90 .mktoCheckboxList:after {
  width: 12px;
  height: 12px;
}
.forms2_form__sjQ90 .mktoCheckboxList:has(.mktoField:checked):after {
  color: #fff;
  background-color: var(--color-white);
  transform-origin: center;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0, 43% 62%);
}
.forms2_form__sjQ90 .mktoField[type="checkbox"] {
  appearance: none;
  width: var(--mkto-checkbox-width);
  height: var(--mkto-checkbox-height);
  cursor: pointer;
}
.forms2_form__sjQ90 .mktoField[type="checkbox"]:focus {
  outline: 0;
}
.forms2_form__sjQ90 .mktoField[type="checkbox"]:focus-visible {
  box-shadow: none;
}
.forms2_form__sjQ90 .mktoButtonWrap {
  margin-left: 0 !important;
}
.forms2_form__sjQ90 .mktoButton {
  font: var(--typography-sans-200-medium-font);
  letter-spacing: var(--typography-sans-200-medium-letter-spacing);
  word-break: break-word;
  white-space: nowrap;
  border-radius: var(--border-button-radius);
  border: 1px solid var(--color-button-primary-border);
  color: var(--color-button-primary-text);
  padding: 0.25rem 0.875rem;
  background: var(--color-button-primary-background);
}
.forms2_form__sjQ90 .mktoButton:hover {
  background: var(--color-button-primary-background-hover);
}
.forms2_form__sjQ90 .mktoButton:focus-visible {
  background: var(--color-button-primary-background-hover);
  box-shadow: var(--mkto-form-field-focus-shadow);
}
.forms2_form__sjQ90 .mktoButton:active {
  background: var(--color-button-primary-background-active);
}
.forms2_form__sjQ90 .mktoButton:disabled {
  color: var(--color-text-muted);
  border-color: var(--color-border-base);
  background: none;
}
.forms2_form__sjQ90 .mktoAsterix {
  display: none !important;
}
.forms2_form__sjQ90 .mktoClear {
  display: none;
}
.forms2_form__sjQ90 .mktoFormRow:has(.mktoField[type="hidden"]),
.forms2_form__sjQ90 .mktoFormRow:has(.mktoPlaceholder) {
  display: none;
}
.formItemError_error__nQzrg {
  font: var(--typography-sans-100-regular-font);
  letter-spacing: var(--typography-sans-100-regular-letter-spacing);
  color: var(--color-red-500);
}
.formItemError_error__nQzrg:not(:empty) {
  margin-top: 5px;
}
.formItemLabel_label__QfEmQ {
  font: var(--typography-sans-100-regular-font);
  letter-spacing: var(--typography-sans-100-regular-letter-spacing);
  padding: 0;
  text-align: start;
  display: block;
  margin: 0 0 5px;
  cursor: pointer;
}
.formItemLabel_requiredOptionalAddon__Ab_ch {
  margin-inline-start: 3px;
}
.formItemLabel_label__QfEmQ.formItemLabel_required__BLLcS
  .formItemLabel_requiredOptionalAddon__Ab_ch {
  color: var(--text-color-medium);
}
.formInput_root__FjgXl[hidden] {
  display: none;
}
.formInput_formInput__jUstH {
  background-color: #fff;
}
.select_selectWrap__Mpaja {
  position: relative;
  border: 1px solid var(--border-color-regular);
  border-radius: var(--border-radius-300);
  display: flex;
}
.select_select__F6Ysx {
  appearance: none;
  height: 34px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-grow: 1;
  border: 0;
  padding: 0;
  padding-inline-end: 20px;
  padding-inline-start: 10px;
  font-size: 16px;
  color: var(--color-text-muted);
  border-radius: var(--border-radius-300);
  outline: none;
  background-color: #fff;
}
.select_selectTransparent__n9MvB {
  background-color: #0000;
}
.select_select__F6Ysx:focus {
  box-shadow:
    inset 0 0 0 1px #2383e291,
    0 0 0 2px #2383e259;
}
.select_icon__xS6R3 {
  position: absolute;
  top: 12px;
  inset-inline-end: 10px;
  pointer-events: none;
}
@media (min-width: 1080px) {
  .select_select__F6Ysx {
    font-size: var(--font-size-150);
  }
}
.staticTablist_tabLabel__BjjX3 {
  font: var(--typography-sans-100-regular-font);
  letter-spacing: var(--typography-sans-100-regular-letter-spacing);
  margin-bottom: 4px;
}
.staticTablist_tablist__1DyLS {
  --tablist-border-radius: var(--border-radius-400);
  margin: 0;
  list-style: none;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: var(--tablist-border-radius);
  background-color: var(--color-gray-200);
  padding: 4px;
  gap: 2px;
}
.staticTablist_tab__TjANZ {
  --tab-background: none;
  --tab-color: var(--color-text-strong);
  font: var(--typography-sans-200-medium-font);
  letter-spacing: var(--typography-sans-200-medium-letter-spacing);
  background: var(--tab-background);
  color: var(--tab-color);
  border: 0;
  border-radius: var(--tablist-border-radius);
  padding: 6px 24px;
}
.staticTablist_tab__TjANZ.staticTablist_selected__55poS {
  --tab-background: var(--color-black);
  --tab-color: var(--color-white);
}
.TemplateGalleryCategoryHeader_categoryHeader__5_cy3 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 46px 0 42px;
  width: 100%;
  max-width: 700px;
}
.TemplateGalleryCategoryHeader_categoryIcon__Pj4uW {
  width: 56px;
  aspect-ratio: 1/1;
}
.templateGalleryCollectionBackLink_root__e_R1K {
  flex-shrink: 0;
}
.templateGalleryCollectionBackLink_contents__gjuMe {
  font: var(--typography-sans-150-bold-font);
  letter-spacing: var(--typography-sans-150-bold-letter-spacing);
  display: flex;
  align-items: center;
  gap: 4px;
}
.imagePile_root__JVYBH {
  --image-pile-rise: 43;
  --image-pile-run: 180;
  position: relative;
  display: inline-block;
  width: calc(var(--image-pile-max-image-width) + var(--image-pile-run) * 1px);
  height: calc(
    var(--image-pile-max-image-height) + var(--image-pile-rise) * 1px
  );
}
.imagePile_item__70wru {
  display: inline-block;
}
.imagePile_item__70wru:first-child {
  position: absolute;
  left: 0;
  bottom: 0;
}
.imagePile_item__70wru:last-child {
  position: absolute;
  right: 0;
  top: 0;
}
.templateGalleryCollectionBlock_root__wpZWA {
  --collection-block-vertical-padding: 24px;
  --collection-block-horizontal-padding: 32px;
  position: relative;
  background-color: var(--collection-block-background-color);
  border: 2px solid var(--color-background-surface-neutral);
  color: var(--collection-block-color);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
.templateGalleryCollectionBlock_root__wpZWA.templateGalleryCollectionBlock_large__Bh6Sk {
  box-shadow: var(--shadow-100);
  border-radius: var(--border-radius-700);
}
.templateGalleryCollectionBlock_root__wpZWA.templateGalleryCollectionBlock_small__G1eO6 {
  background-color: var(--color-background-surface-neutral);
  border-radius: var(--border-radius-500);
}
.templateGalleryCollectionBlock_blockLink__nVhQF {
  position: absolute;
  inset: 0;
}
.templateGalleryCollectionBlock_textContent__JohA6 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: var(--collection-block-vertical-padding)
    var(--collection-block-horizontal-padding);
  padding-bottom: 0;
}
@media (min-width: 1080px) {
  .templateGalleryCollectionBlock_textContent__JohA6 {
    flex: 1 0 auto;
    padding-bottom: var(--collection-block-vertical-padding);
  }
}
.templateGalleryCollectionBlock_textContent__JohA6.templateGalleryCollectionBlock_small__G1eO6 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.templateGalleryCollectionBlock_heading__n18zZ {
  margin-bottom: 6px;
  color: var(--collection-title-color);
}
.templateGalleryCollectionBlock_attribution__mke0w {
  font: var(--typography-sans-100-medium-font);
  letter-spacing: var(--typography-sans-100-medium-letter-spacing);
  display: flex;
  align-items: center;
  gap: 8px;
}
.templateGalleryCollectionBlock_screenshots__c61te {
  display: flex;
  padding: 0 var(--collection-block-horizontal-padding);
  overflow: hidden;
}
.templateGalleryCollectionBlock_large__Bh6Sk
  .templateGalleryCollectionBlock_screenshots__c61te {
  height: 226px;
}
@media (min-width: 1280px) {
  .templateGalleryCollectionBlock_large__Bh6Sk
    .templateGalleryCollectionBlock_screenshots__c61te {
    padding-top: var(--collection-block-vertical-padding);
  }
}
.templateGalleryCollectionBlock_small__G1eO6
  .templateGalleryCollectionBlock_screenshots__c61te {
  max-height: 144px;
}
@media (min-width: 1080px) {
  .templateGalleryCollectionBlock_mobileScreenshots__a8Psp {
    display: none;
  }
}
.templateGalleryCollectionBlock_desktopScreenshots___lMKE {
  display: none;
}
@media (min-width: 1080px) {
  .templateGalleryCollectionBlock_desktopScreenshots___lMKE {
    display: block;
  }
}
.templateGalleryCollectionBlock_large__Bh6Sk
  .templateGalleryCollectionBlock_screenshot__BuVAP {
  overflow: hidden;
  border-radius: var(--border-radius-500);
  box-shadow: var(--shadow-300);
}
.templateGalleryCollectionBlock_small__G1eO6
  .templateGalleryCollectionBlock_screenshot__BuVAP {
  display: block;
  width: 100%;
  height: auto;
  box-shadow: var(--shadow-200);
  border-radius: var(--border-radius-400) var(--border-radius-400) 0 0;
}
.templateGalleryCollectionBlock_agentIconContainer__bJJec {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 24px 50px 24px 24px;
  width: 100%;
}
.templateGalleryCollectionRelatedContent_heading__4F32Y {
  margin-bottom: 24px;
}
.TemplateGalleryCreatorBlock_wrapper__d7iZ2 {
  padding: var(--spacing-block-s) var(--spacing-block-m);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  margin: 0;
  gap: 30px;
  border-radius: 12px;
  overflow: hidden;
  gap: 4px;
  position: relative;
  width: 100%;
}
@media (min-width: 600px) {
  .TemplateGalleryCreatorBlock_wrapper__d7iZ2 {
    padding: var(--spacing-block-m) var(--spacing-block-l);
  }
}
.TemplateGalleryCreatorBlock_large__rqxNI:not(
  .TemplateGalleryCreatorBlock_vertical__gmV0J,
  .TemplateGalleryCreatorBlock_assetCroppedBottom__q_0TU
) {
  flex-direction: row;
}
.TemplateGalleryCreatorBlock_large__rqxNI:not(
    .TemplateGalleryCreatorBlock_vertical__gmV0J,
    .TemplateGalleryCreatorBlock_assetCroppedBottom__q_0TU
  )
  .TemplateGalleryCreatorBlock_header__lrrOB {
  flex-basis: calc(36% - 24px);
  flex-shrink: 0;
}
.TemplateGalleryCreatorBlock_bottomCenter__XMBRB,
.TemplateGalleryCreatorBlock_leftCorner__vIuJH,
.TemplateGalleryCreatorBlock_rightCorner__WZ0xl {
  padding-bottom: 0;
}
.TemplateGalleryCreatorBlock_avatar__GRTqL {
  margin-bottom: 36px;
}
.TemplateGalleryCreatorBlock_biography__OPSCL {
  font: var(--typography-sans-100-regular-font);
  letter-spacing: var(--typography-sans-100-regular-letter-spacing);
  color: var(--color-black);
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  overflow: hidden;
  align-self: flex-start;
}
.TemplateGalleryCreatorBlock_numberOfTemplates__ST9Iv {
  font: var(--typography-sans-50-medium-font);
  letter-spacing: var(--typography-sans-50-medium-letter-spacing);
  color: var(--color-gray-600);
  opacity: 0.5;
  margin: 0;
}
.TemplateGalleryCreatorBlock_link__o3Zii {
  text-decoration: none;
}
.TemplateGalleryCreatorFilters_container__DRxp2 {
  display: flex;
  flex-flow: row wrap;
  gap: 12px;
}
.TemplateGalleryCreatorProfile_profile___Yr08 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  box-sizing: border-box;
  padding-right: 16px;
  position: relative;
  min-height: 117px;
  max-width: 600px;
}
.TemplateGalleryCreatorProfile_profileCoverImageAndAvatar__AmzOB {
  margin-top: 48px;
}
.TemplateGalleryCreatorProfile_bio__VybZj {
  padding: 0;
  margin: 0;
  gap: 14px;
  position: relative;
}
.TemplateGalleryCreatorProfile_bio__VybZj,
.TemplateGalleryCreatorProfile_bio__VybZj figcaption {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
}
.TemplateGalleryCreatorProfile_bio__VybZj figcaption {
  gap: 4px;
}
.TemplateGalleryCreatorProfile_certified__6WMBg {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  flex-wrap: wrap;
}
.TemplateGalleryCreatorProfile_badges__p6sJE {
  display: flex;
  gap: 12px;
}
.TemplateGalleryCreatorProfile_badge__FgKkB {
  display: flex;
  gap: 4px;
  align-items: center;
  border-radius: 50%;
}
.TemplateGalleryCreatorProfile_creatorButtons__MMguz {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  gap: 8px;
}
.TemplateGalleryCreatorProfile_description__d_Gnz {
  margin-top: 24px;
}
.AgentRow_row__ED_rp {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 12px 8px;
  border-radius: 12px;
  cursor: pointer;
}
.AgentRow_row__ED_rp:hover {
  background: var(--color-gray-100);
}
.AgentRow_iconContainer__8WoxV {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 88px;
  height: 88px;
  border-radius: 12px;
  background: var(--color-gray-200);
  flex-shrink: 0;
}
.AgentRow_row__ED_rp:hover .AgentRow_iconContainer__8WoxV {
  background: var(--color-gray-300);
}
.AgentRow_content__qVnbg {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex-grow: 1;
  min-width: 0;
  padding: 8px 12px;
  justify-content: center;
}
.AgentRow_description__AiAUr {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
}
.AgentRow_stats__4lVz0 {
  display: flex;
  align-items: center;
  gap: 8px;
}
.AgentRow_priceBadge___xdBq {
  flex-shrink: 0;
  padding: 2px 6px;
  border-radius: 6px;
  background: var(--color-gray-200);
}
.AgentRow_link__JGcd8 {
  color: inherit;
  text-decoration: none;
}
.AgentRowList_list__9iBwD {
  display: flex;
  flex-direction: column;
}
.AgentRowList_divider__HSwJb {
  border: none;
  height: 1px;
  background: var(--color-gray-200);
  margin: 12px 8px;
}
.TemplateGalleryCreatorProfileContent_container__hqI0y {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 108px;
}
.TemplateGalleryCreatorProfileContent_tabsList__Tro5U {
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
  margin: 0 0 40px;
  list-style-type: none;
  width: 100%;
  box-shadow: inset 0 -1px 0 var(--color-border-base);
}
.TemplateGalleryCreatorProfileContent_tabsList__Tro5U li button {
  background: none;
  border: none;
}
.TemplateGalleryCreatorProfileContent_tab__ktLaY {
  color: var(--color-text-muted);
}
.TemplateGalleryCreatorProfileContent_selectedTab__o_mXx {
  color: var(--color-text-strong);
  border-bottom: 2px solid var(--color-text-strong) !important;
}
.TemplateGalleryCreatorProfileContent_section__v_va7 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.TemplateGalleryCreatorProfileContent_templatesSectionHeader__e5IiV {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--color-text-muted);
}
.TemplateGalleryCreatorProfileContent_serviceOfferingsContainer__aJbRW {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.TemplateGalleryCreatorProfileContent_serviceOffering__IGy1b {
  display: flex;
  align-items: center;
  padding: 32px;
  gap: 40px;
  border: 1px solid var(--color-border-base);
  border-radius: var(--border-radius-700);
  flex-direction: column;
}
@media (min-width: 840px) {
  .TemplateGalleryCreatorProfileContent_serviceOffering__IGy1b {
    flex-direction: row;
    align-items: flex-start;
  }
}
.TemplateGalleryCreatorProfileContent_serviceOfferingDetailsContainer__FMdmN {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.TemplateGalleryCreatorProfileContent_serviceIconContainer__zbFu6 {
  min-width: 80px;
  min-height: 80px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  background-color: var(--color-gray-200);
}
.TemplateGalleryCreatorProfileContent_clientsContainer__4KXjS {
  overflow: hidden;
  position: relative;
}
.TemplateGalleryCreatorProfileContent_clients__KrTCr {
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scrollbar-gutter: stable;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 16px;
  grid-template-columns: repeat(var(--clients-count), 100px);
  padding-bottom: 12px;
  padding-right: 1px;
}
.TemplateGalleryCreatorProfileContent_clientImage__YZH9S {
  border-radius: 100%;
  box-shadow: var(--shadow-200);
}
.TemplateGallerySubNavigation_wordmark__0jcdq {
  display: flex;
  flex-direction: row;
  gap: 4px;
  text-decoration: none;
  align-items: center;
  padding: 7px 10px;
  border: 1px solid #0000;
  align-self: stretch;
  min-height: 36px;
}
.TemplateGallerySubNavigation_brandName__4cPI3 {
  letter-spacing: var(--typography-sans-100-medium-letter-spacing);
}
.TemplateGalleryCategoryEditorial_editorialHeader__56nMw {
  margin-right: auto;
  padding-bottom: 20px;
}
.TemplateGalleryCategoryEditorial_arrow__I1xOV {
  z-index: 3;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: #000000bf;
  border: 2px solid #fff;
  font-size: var(--font-size-150);
  box-shadow: var(--shadow-200);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.TemplateGalleryCategoryEditorial_arrowLeft__EXRwQ {
  position: absolute;
  top: 50%;
  transform: translateY(calc(-50% - 6px));
}
.TemplateGalleryCategoryEditorial_arrowRight__YwEHU {
  position: absolute;
  top: 50%;
  transform-origin: center;
  transform: translateY(calc(-50% - 6px));
}
.TemplateGalleryCategoryEditorial_arrowRight__YwEHU.TemplateGalleryCategoryEditorial_small__fRy5v {
  right: -24px;
}
.TemplateGalleryCategoryEditorial_arrowLeft__EXRwQ.TemplateGalleryCategoryEditorial_small__fRy5v {
  left: -24px;
}
.TemplateGalleryCategoryEditorial_arrowLeft__EXRwQ.TemplateGalleryCategoryEditorial_medium__V7AO6 {
  left: -36px;
}
.TemplateGalleryCategoryEditorial_arrowRight__YwEHU.TemplateGalleryCategoryEditorial_medium__V7AO6 {
  right: -36px;
}
.TemplateGalleryCategoryEditorial_arrowRight__YwEHU.TemplateGalleryCategoryEditorial_large__JigFd {
  right: -48px;
}
.TemplateGalleryCategoryEditorial_arrowLeft__EXRwQ.TemplateGalleryCategoryEditorial_large__JigFd {
  left: -48px;
}
.TemplateGalleryCategoryEditorial_editorialContainer__kPGQP {
  position: relative;
}
.TemplateGalleryCategoryEditorial_editorialGrid__XCpHQ {
  display: grid;
  grid-gap: 32px;
  row-gap: 28px;
  grid-template-columns: 1fr;
  margin-bottom: 50px;
}
.TemplateGalleryCategoryEditorial_editorialGrid__XCpHQ.TemplateGalleryCategoryEditorial_smallGrid__xommo {
  grid-template-columns: repeat(1, 1fr);
}
.TemplateGalleryCategoryEditorial_editorialGrid__XCpHQ.TemplateGalleryCategoryEditorial_mediumGrid__hLvpi {
  grid-template-columns: repeat(2, 1fr);
}
.TemplateGalleryCategoryEditorial_editorialGrid__XCpHQ.TemplateGalleryCategoryEditorial_largeGrid__sYt0I {
  grid-template-columns: repeat(3, 1fr);
}
.TemplateGalleryCategoryEditorial_templatesCount__8vvWX {
  position: absolute;
  right: 0;
  top: -42px;
}
.numberedPagination_numberedPaginationWrap__gzUlJ {
  display: flex;
  align-items: center;
  justify-content: center;
}
.numberedPagination_numberedPaginationWrap__gzUlJ[hidden] {
  display: none;
}
.numberedPagination_numberedPagination__otFt6 {
  margin: 0;
  padding: 0;
  display: flex;
}
.numberedPagination_numberedPaginationItem__5fYLg {
  list-style: none;
  font-size: var(--font-size-150);
  margin: 0 1px;
}
.numberedPagination_numberedPaginationItem__5fYLg
  .numberedPagination_link__wUXSs {
  min-width: 32px;
  height: 36px;
  border-radius: var(--border-radius-300);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--text-color-medium);
  border: 1px solid #0000;
}
.numberedPagination_numberedPaginationItem__5fYLg
  .numberedPagination_link__wUXSs:hover {
  background: var(--color-background-base-hover);
}
.numberedPagination_numberedPaginationItem__5fYLg
  .numberedPagination_link__wUXSs:active {
  background: var(--color-background-base-active);
}
.numberedPagination_numberedPaginationItem__5fYLg.numberedPagination_active__Qc_Dj
  .numberedPagination_link__wUXSs {
  color: var(--text-color-dark);
  border-color: var(--color-border-base);
  cursor: default;
}
.numberedPagination_numberedPaginationItem__5fYLg.numberedPagination_active__Qc_Dj
  .numberedPagination_link__wUXSs:active,
.numberedPagination_numberedPaginationItem__5fYLg.numberedPagination_active__Qc_Dj
  .numberedPagination_link__wUXSs:hover {
  background: none;
}
.TemplateCollectionFeedBlock_collectionFeedBlock__ETl_v {
  height: 256px;
}
.TemplateCollectionFeedBlock_agentIconContainer__V8gFF {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  margin-top: 0;
  width: 100%;
}
.TemplateCollectionFeedPage_link__vrd31 {
  font: var(--typography-sans-150-bold-font);
  letter-spacing: var(--typography-sans-150-bold-letter-spacing);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  gap: 4px;
  color: var(--color-black);
  align-items: center;
}
.TemplateCollectionFeedPage_heading__zJll9 {
  margin-top: 72px;
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
}
.TemplateCollectionFeedPage_heroText__YrIT4 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 560px;
}
.TemplateCollectionFeedPage_filters__kzYGk {
  margin-bottom: 16px;
}
.TemplateCollectionFeedGrid_paginationWrap__vAm1d {
  margin: 40px 0;
}
.ConsultantsFilters_container__nuCVZ {
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
}
.ConsultantsFilters_filterIcon__S__j_ {
  width: 16px !important;
  height: 16px !important;
  color: var(--color-alpha-black-600) !important;
  fill: var(--color-alpha-black-600) !important;
}
