@layer front-ui-components {
  .cardFeature_card__yaf5Y {
    inline-size: 100%;
    display: flex;
    flex-direction: column-reverse;
    border-radius: var(--border-radius-700);
    border: var(--border-width-1) solid var(--color-card-border);
    position: relative;
    outline: #0000 solid var(--decoration-focus-ring-outline-thickness);
    outline-offset: var(--decoration-focus-ring-outline-offset);
    transition: outline-color var(--motion-global-fade-out-duration)
      var(--motion-global-fade-out-timing-function);
  }
  .cardFeature_card__yaf5Y:has(.cardFeature_cardAnchor__KUQJb):after {
    transition-timing-function: var(--motion-global-fade-out-timing-function);
    transition-duration: var(--motion-global-fade-out-duration);
    transition-property: opacity;
    will-change: opacity;
    content: "";
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: 100%;
    block-size: 100%;
    background-color: #0000;
    border-radius: inherit;
    opacity: 0;
    pointer-events: none;
    box-shadow: var(--shadow-200);
  }
  .cardFeature_card__yaf5Y:has(.cardFeature_cardAnchor__KUQJb:active):after,
  .cardFeature_card__yaf5Y:has(.cardFeature_cardAnchor__KUQJb:focus):after,
  .cardFeature_card__yaf5Y:has(.cardFeature_cardAnchor__KUQJb:hover):after {
    opacity: 1;
    transition-timing-function: var(--motion-global-fade-in-timing-function);
    transition-duration: var(--motion-global-fade-in-duration);
  }
  .cardFeature_card__yaf5Y:has(.cardFeature_cardAnchor__KUQJb:focus-visible) {
    outline-color: var(--color-interaction-focus-ring);
    transition: outline-color var(--motion-global-fade-in-duration)
      var(--motion-global-fade-in-timing-function);
  }
  @media (min-width: 1080px) {
    .cardFeature_card__yaf5Y {
      min-block-size: 480px;
      flex-direction: row;
      align-items: stretch;
    }
  }
  .cardFeature_mediaVariantInset__MBTZG {
    background-color: var(--color-background-surface-accent-muted);
  }
  .cardFeature_cardAnchor__KUQJb {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: 100%;
    block-size: 100%;
    text-decoration: none;
    outline: none;
  }
  .cardFeature_cardAnchor__KUQJb:active,
  .cardFeature_cardAnchor__KUQJb:focus,
  .cardFeature_cardAnchor__KUQJb:hover,
  .cardFeature_cardAnchor__KUQJb:visited {
    text-decoration: none;
  }
  .cardFeature_eyebrowWrapper__qYeDw {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
  }
  .cardFeature_alignCenter__pxKEj .cardFeature_eyebrowWrapper__qYeDw {
    align-items: center;
  }
  .cardFeature_quote__KP_lq {
    margin: 0;
  }
  .cardFeature_quote__KP_lq:before {
    content: open-quote;
  }
  .cardFeature_quote__KP_lq:after {
    content: close-quote;
  }
  .cardFeature_logo__z_uHO {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
  }
  .cardFeature_alignCenter__pxKEj .cardFeature_logo__z_uHO {
    justify-content: center;
  }
  .cardFeature_logo__z_uHO img,
  .cardFeature_logo__z_uHO svg {
    block-size: var(--spacing-32);
    inline-size: auto;
    object-fit: contain;
  }
  .cardFeature_cta__nZybo {
    position: relative;
    z-index: 1;
  }
  .cardFeature_content__pz3LP {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
    padding-block: var(--spacing-32);
    padding-inline: var(--spacing-32);
    border-radius: 0 0 var(--border-radius-700) var(--border-radius-700);
  }
  @media (min-width: 1080px) {
    .cardFeature_content__pz3LP {
      flex: 1 1;
      max-inline-size: 50%;
      padding-block: var(--spacing-48);
      padding-inline: var(--spacing-48);
      justify-content: center;
      border-radius: var(--border-radius-700) 0 0 var(--border-radius-700);
    }
  }
  .cardFeature_content__pz3LP.cardFeature_alignCenter__pxKEj {
    align-items: center;
    text-align: center;
  }
  .cardFeature_content__pz3LP.cardFeature_alignLeft__eklIF {
    align-items: flex-start;
    text-align: start;
  }
  .cardFeature_mediaContainer__r64QM {
    inline-size: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-700) var(--border-radius-700) 0 0;
    background: var(--color-background-surface-accent);
  }
  @media (min-width: 1080px) {
    .cardFeature_mediaContainer__r64QM {
      flex: 1 1;
      max-inline-size: 50%;
      border-radius: 0 var(--border-radius-700) var(--border-radius-700) 0;
    }
  }
  .cardFeature_backgroundAccentMuted__R26ET .cardFeature_mediaContainer__r64QM {
    background: var(--color-background-surface-accent-muted);
  }
  .cardFeature_mediaVariantInset__MBTZG .cardFeature_mediaContainer__r64QM {
    background: var(--color-background-surface-accent);
    align-items: flex-start;
    justify-content: flex-start;
    padding-block-start: var(--spacing-40);
    padding-block-end: 0;
    padding-inline-start: var(--spacing-40);
    padding-inline-end: 0;
  }
  @media (min-width: 1080px) {
    .cardFeature_mediaVariantInset__MBTZG .cardFeature_mediaContainer__r64QM {
      padding-block: var(--spacing-56);
      padding-inline-start: var(--spacing-56);
      padding-inline-end: 0;
      align-items: center;
      justify-content: center;
    }
  }
  .cardFeature_backgroundAccentMuted__R26ET.cardFeature_mediaVariantInset__MBTZG
    .cardFeature_mediaContainer__r64QM {
    background: var(--color-background-surface-accent-muted);
  }
  .cardFeature_mediaWrapper__qpvhg {
    inline-size: 100%;
    block-size: 100%;
  }
  @media (min-width: 1080px) {
    .cardFeature_mediaWrapper__qpvhg {
      flex: 1 1;
    }
  }
  .cardFeature_mediaVariantInset__MBTZG .cardFeature_mediaWrapper__qpvhg {
    border-radius: var(--border-radius-500) 0 0 0;
    overflow: hidden;
    box-shadow: var(--shadow-300);
    flex: 1 1;
    min-block-size: 0;
  }
  @media (min-width: 1080px) {
    .cardFeature_mediaVariantInset__MBTZG .cardFeature_mediaWrapper__qpvhg {
      border-radius: var(--border-radius-500) 0 0 var(--border-radius-500);
    }
  }
  .cardFeature_mediaWrapper__qpvhg img {
    inline-size: 100%;
    block-size: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
  }
  .accreditation_accreditation___0Fyv {
    --avatar-size: var(--spacing-24);
    --logo-size: var(--spacing-32);
    position: relative;
  }
  .accreditation_accreditation___0Fyv:not(
    .accreditation_variantArticle__FQk57
  ) {
    color: var(--color-text-muted);
  }
}
@layer front-ui-components {
  .accreditation_accreditation___0Fyv:has(.accreditation_avatar__IAg3T) {
    padding-inline-start: calc(var(--avatar-size) + var(--spacing-8));
  }
  .accreditation_accreditation___0Fyv:has(.accreditation_logo__zDy_d) {
    display: flex;
  }
  .accreditation_avatar__IAg3T {
    inline-size: var(--avatar-size);
    block-size: var(--avatar-size);
    border-radius: 50%;
    flex-shrink: 0;
    overflow: clip;
    transform: translateY(calc((-100% + 1lh) / 2));
    position: absolute;
    inset-inline-start: 0;
  }
  .accreditation_avatar__IAg3T:after {
    content: "";
    border: 1px solid var(--color-alpha-black-200);
    position: absolute;
    inset: 0;
    border-radius: inherit;
  }
  .accreditation_avatar__IAg3T img {
    block-size: 100%;
    inline-size: 100%;
    object-fit: cover;
  }
  .accreditation_logo__zDy_d {
    max-block-size: var(--logo-size);
    margin-block: calc((var(--logo-size) - 1lh) / -2);
    margin-inline-end: var(--spacing-8);
  }
  .accreditation_logo__zDy_d img {
    max-block-size: var(--logo-size);
    inline-size: auto;
    display: block;
  }
  .accreditation_accreditation___0Fyv:not(.accreditation_variantArticle__FQk57)
    .accreditation_infoName__6ROSb {
    color: var(--color-text-strong);
  }
  .accreditation_infoName__6ROSb + .accreditation_infoMeta__VckDn:before {
    content: ", ";
  }
  .accreditation_sizeLarge__f6FW1,
  .accreditation_sizeMedium__6sQ1c {
    --avatar-size: var(--media-size);
    --logo-size: var(--media-size);
    min-block-size: var(--media-size);
  }
  .accreditation_sizeLarge__f6FW1:has(.accreditation_avatar__IAg3T),
  .accreditation_sizeLarge__f6FW1:has(.accreditation_logo__zDy_d),
  .accreditation_sizeMedium__6sQ1c:has(.accreditation_avatar__IAg3T),
  .accreditation_sizeMedium__6sQ1c:has(.accreditation_logo__zDy_d) {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: auto auto;
    column-gap: var(--spacing-8);
    align-items: center;
    justify-items: start;
    padding-inline-start: unset;
  }
  .accreditation_sizeLarge__f6FW1:has(.accreditation_avatar__IAg3T)
    .accreditation_avatar__IAg3T,
  .accreditation_sizeLarge__f6FW1:has(.accreditation_avatar__IAg3T)
    .accreditation_logo__zDy_d,
  .accreditation_sizeLarge__f6FW1:has(.accreditation_logo__zDy_d)
    .accreditation_avatar__IAg3T,
  .accreditation_sizeLarge__f6FW1:has(.accreditation_logo__zDy_d)
    .accreditation_logo__zDy_d,
  .accreditation_sizeMedium__6sQ1c:has(.accreditation_avatar__IAg3T)
    .accreditation_avatar__IAg3T,
  .accreditation_sizeMedium__6sQ1c:has(.accreditation_avatar__IAg3T)
    .accreditation_logo__zDy_d,
  .accreditation_sizeMedium__6sQ1c:has(.accreditation_logo__zDy_d)
    .accreditation_avatar__IAg3T,
  .accreditation_sizeMedium__6sQ1c:has(.accreditation_logo__zDy_d)
    .accreditation_logo__zDy_d {
    grid-column: 1;
    grid-row: 1 / span 2;
    position: relative;
    transform: none;
    inset: auto;
    margin: 0;
  }
  .accreditation_sizeLarge__f6FW1:has(.accreditation_avatar__IAg3T)
    .accreditation_infoName__6ROSb,
  .accreditation_sizeLarge__f6FW1:has(.accreditation_logo__zDy_d)
    .accreditation_infoName__6ROSb,
  .accreditation_sizeMedium__6sQ1c:has(.accreditation_avatar__IAg3T)
    .accreditation_infoName__6ROSb,
  .accreditation_sizeMedium__6sQ1c:has(.accreditation_logo__zDy_d)
    .accreditation_infoName__6ROSb {
    grid-column: 2;
    grid-row: 1;
    align-self: end;
  }
  .accreditation_sizeLarge__f6FW1:has(.accreditation_avatar__IAg3T)
    .accreditation_infoMeta__VckDn,
  .accreditation_sizeLarge__f6FW1:has(.accreditation_logo__zDy_d)
    .accreditation_infoMeta__VckDn,
  .accreditation_sizeMedium__6sQ1c:has(.accreditation_avatar__IAg3T)
    .accreditation_infoMeta__VckDn,
  .accreditation_sizeMedium__6sQ1c:has(.accreditation_logo__zDy_d)
    .accreditation_infoMeta__VckDn {
    grid-column: 2;
    grid-row: 2;
    align-self: start;
  }
  .accreditation_sizeLarge__f6FW1
    .accreditation_infoName__6ROSb
    + .accreditation_infoMeta__VckDn:before,
  .accreditation_sizeMedium__6sQ1c
    .accreditation_infoName__6ROSb
    + .accreditation_infoMeta__VckDn:before {
    content: none;
  }
  .accreditation_sizeLarge__f6FW1:not(
    :has(.accreditation_avatar__IAg3T),
    :has(.accreditation_logo__zDy_d)
  ),
  .accreditation_sizeMedium__6sQ1c:not(
    :has(.accreditation_avatar__IAg3T),
    :has(.accreditation_logo__zDy_d)
  ) {
    display: flex;
    flex-direction: column;
  }
  .accreditation_sizeMedium__6sQ1c {
    --media-size: var(--spacing-48);
  }
  .accreditation_sizeLarge__f6FW1 {
    --media-size: var(--spacing-72);
  }
  .accreditation_sizeLarge__f6FW1:has(.accreditation_avatar__IAg3T),
  .accreditation_sizeLarge__f6FW1:has(.accreditation_logo__zDy_d) {
    column-gap: var(--spacing-24);
  }
  .accreditation_column__k8wDl {
    --align: center;
    align-items: var(--align);
    display: flex;
    flex-direction: column;
    text-align: var(--align);
  }
  .accreditation_column__k8wDl:has(.accreditation_avatar__IAg3T) {
    padding-inline-start: unset;
  }
  .accreditation_column__k8wDl .accreditation_infoName__6ROSb {
    display: block;
  }
  .accreditation_column__k8wDl
    .accreditation_infoName__6ROSb
    + .accreditation_infoMeta__VckDn:before {
    content: none;
  }
  .accreditation_column__k8wDl .accreditation_avatar__IAg3T,
  .accreditation_column__k8wDl .accreditation_logo__zDy_d {
    margin: unset;
    position: relative;
    transform: unset;
    inset-block-start: unset;
  }
  .accreditation_column__k8wDl .accreditation_avatar__IAg3T:has(+ *),
  .accreditation_column__k8wDl .accreditation_logo__zDy_d:has(+ *) {
    margin-block-end: var(--spacing-16);
  }
  .accreditation_alignStart__DkdVz {
    --align: start;
  }
  .quote_quote__Xm7_A {
    --align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-16);
    align-items: var(--align);
  }
  .quote_quoteAlignStart__d5VQd {
    --align: start;
  }
  .quote_quoteAlignStart__d5VQd .quote_blockquote__l8_UC {
    hanging-punctuation: first;
  }
}
@layer front-ui-components {
  @supports not (hanging-punctuation: first) {
    .quote_quoteAlignStart__d5VQd .quote_blockquote__l8_UC {
      text-indent: -0.8ch;
    }
  }
  .quote_blockquote__l8_UC {
    margin: 0;
    inline-size: 100%;
    text-align: var(--align);
  }
  .quote_blockquote__l8_UC:before {
    content: open-quote;
  }
  .quote_blockquote__l8_UC:after {
    content: close-quote;
  }
  .quote_figcaption___SVIP {
    display: flex;
  }
}
.quote_figure__5XMQc {
  --quote-margin-horizontal: auto;
  margin: var(--spacing-section-inner) var(--quote-margin-horizontal);
  max-width: 768px;
  text-align: center;
}
.emailCapture_emailCapture__lc1J7 {
  display: grid;
  grid-template-columns: 296px 1fr;
  gap: 6px;
  align-items: flex-start;
  column-gap: 6px;
  align-self: stretch;
  flex-flow: wrap;
  height: 38px;
  max-width: 480px;
}
.emailCapture_container__MaZWO {
  display: flex;
  height: 80px;
  min-width: 393px;
  padding: 0 24px;
  justify-content: center;
  align-items: center;
  gap: 7px;
  flex-shrink: 0;
  align-self: stretch;
}
@media (max-width: 668px) {
  .emailCapture_emailCapture__lc1J7 {
    grid-template-columns: 220px;
  }
  .emailCapture_container__MaZWO {
    min-width: 0;
  }
}
.logos_group__JB7BA {
  margin: 48px 0;
  text-align: center;
}
.logos_label__uP2Y2 {
  font: var(--typography-sans-50-regular-font);
  letter-spacing: var(--typography-sans-50-regular-letter-spacing);
  margin: 0 0 16px;
}
.logos_logos__yVrh3 {
  --logo-surface-area: 3500;
  --column-gap: 24px;
  --row-gap: calc(var(--column-gap) * 1.25);
  --logos-flow: column;
  display: grid;
  place-items: center;
  grid-auto-flow: var(--logos-flow);
  gap: var(--row-gap) var(--column-gap);
}
@media (min-width: 840px) {
  .logos_logos__yVrh3 {
    --column-gap: 36px;
  }
}
.logos_logo__OB2bo {
  width: 100%;
  height: auto;
  max-width: round(
    calc(
      var(--logo-width) *
        calc(
          sqrt(
            var(--logo-surface-area) /
              calc(var(--logo-width) * var(--logo-height))
          )
        ) *
        1px
    ),
    1px
  );
}
.logos_logos__yVrh3:has(:nth-child(6 of .logos_logo__OB2bo)) {
  --logos-flow: row;
  --logos-columns: 3;
  grid-template-columns: repeat(var(--logos-columns), 1fr);
}
@media (min-width: 840px) {
  .logos_logos__yVrh3:has(:nth-child(6 of .logos_logo__OB2bo)) {
    --logos-columns: 6;
  }
}
.row_row__2_knU {
  --row-gap: var(--spacing-24);
  --row-columns: 1;
  --row-total-gutter-space: calc((var(--row-columns) - 1) * var(--row-gap));
  --row-item-basis: calc(
    (100% - var(--row-total-gutter-space)) / var(--row-columns)
  );
  display: flex;
  flex-wrap: wrap;
  margin: var(--spacing-24) 0;
  gap: var(--row-gap);
}
@media (min-width: 840px) {
  .row_row__2_knU {
    --row-columns: var(--row-item-count);
  }
}
.row_row__2_knU > * {
  flex: 1 1 var(--row-item-basis);
}
@media (min-width: 840px) {
  .row_row__2_knU.row_fourItems__oosBg {
    --row-columns: 2;
  }
}
@media (min-width: 1280px) {
  .row_row__2_knU.row_fourItems__oosBg {
    --row-columns: 4;
  }
}
