POSTGRES_URL=

BETTER_AUTH_URL=http://localhost:3001
BETTER_AUTH_SECRET=
TRUSTED_ORIGINS=http://localhost:3002
TRUSTED_PROXY_IPS=
PASSKEY_RP_ID=localhost
APP_URL=http://localhost:3002
GOOGLE_CLIENT_ID=GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=GOOGLE_CLIENT_SECRET
GITHUB_CLIENT_ID=GITHUB_CLIENT_ID
GITHUB_CLIENT_SECRET=GITHUB_CLIENT_SECRET

NEXT_PUBLIC_AUTH_URL=http://localhost:3001
NEXT_PUBLIC_AUTH_BILLING_ENABLED=false

BETTER_AUTH_API_KEY=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PLANS=[]

SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=

TRANS_TRANSITLAND=
MAP_POSTGRES_URL=
MAP_ADMIN_TOKEN=

VITE_MAP_API_BASE_URL=http://localhost:3002
VITE_MAP_WS_URL=ws://localhost:3002/ws
VITE_MAP_ADMIN_TOKEN=
