:root,
.notion-light-theme {
  color-scheme: light;
  --ca-palUiBlu50: #2383e209;
  --ca-palUiBlu75: #2383e20d;
  --ca-palUiBlu100: #2383e212;
  --ca-palUiBlu200: #2383e224;
  --ca-palUiBlu300: #2383e236;
  --ca-palUiBlu400: #2383e259;
  --ca-palUiBlu500: #2383e291;
  --c-palUiBlu600: #2383e2;
  --c-palUiBlu700: #105fad;
  --cl-palPin30: #e793bc12;
  --cd-palPin50: #fcf1f6;
  --cl-palPin100: #e188b345;
  --ca-palPin200: #cc5c9266;
  --cl-palPin300: #d15b94a6;
  --ca-palPin400: #c4548ad1;
  --cd-palPin500: #c14c8a;
  --cd-palPin600: #a2336f;
  --cd-palPin700: #6f3151;
  --c-palPin800: #4c2337;
  --c-palPin900: #2c1420;
  --cl-palPur30: #ceafe512;
  --cd-palPur50: #f8f3fc;
  --cl-palPur100: #a881c545;
  --ca-palPur200: #8d62ae66;
  --cl-palPur300: #9a72b9a6;
  --ca-palPur400: #9467b6d1;
  --cd-palPur500: #9065b0;
  --cd-palPur600: #754d92;
  --cd-palPur700: #5a3872;
  --c-palPur800: #412454;
  --c-palPur900: #26152e;
  --cl-palGre30: #7bb78112;
  --cd-palGre50: #edf3ec;
  --cl-palGre100: #7bb78145;
  --ca-palGre200: #50906766;
  --cl-palGre300: #509067a6;
  --ca-palGre400: #42855ad1;
  --cd-palGre500: #448361;
  --cd-palGre600: #33684e;
  --cd-palGre700: #1f4f3b;
  --c-palGre800: #1c3829;
  --c-palGre900: #102416;
  --c-palGra0: #fff;
  --cl-palGra30: #5448310a;
  --c-palGra50: #f8f8f7;
  --cl-palGra75: #54483114;
  --cl-palGra90: #e3e2e0b3;
  --cl-palGra100: #54483126;
  --cl-palGra200: #51493c52;
  --cl-palGra300: #46444073;
  --cl-palGra400: #47464499;
  --c-palGra500: #73726e;
  --c-palGra600: #5f5e5b;
  --c-palGra700: #484743;
  --c-palGra800: #32302c;
  --c-palGra900: #1d1b16;
  --cl-palTraGra30: #00000003;
  --cl-palTraGra50: #0000000a;
  --ca-palTraGra75: #0000000d;
  --ca-palTraGra100: #0000000f;
  --ca-palTraGra200: #00000012;
  --ca-palTraGra300: #0000001c;
  --ca-palTraGra400: #00000028;
  --ca-palTraGra500: #0005;
  --ca-palTraGra600: #00000075;
  --ca-palTraGra700: #0000009e;
  --ca-palTraGra800: #000000d0;
  --ca-palTraGra850: #000000e3;
  --ca-palTraGra900: #000000fc;
  --cl-palOra30: #e07c3912;
  --cd-palOra50: #fbecdd;
  --cl-palOra100: #e07c3945;
  --ca-palOra200: #d95f0d66;
  --cl-palOra300: #d95f0da6;
  --ca-palOra400: #d95f0dd1;
  --cd-palOra500: #d9730d;
  --cd-palOra600: #8d4e17;
  --cd-palOra700: #6a3b12;
  --c-palOra800: #49290e;
  --c-palOra900: #281809;
  --cl-palBro30: #d2a28d12;
  --cd-palBro50: #f4eeee;
  --cl-palBro100: #d2a28d59;
  --ca-palBro200: #9c4c2852;
  --cl-palBro300: #9c4c2880;
  --ca-palBro400: #9c4c28ad;
  --cd-palBro500: #9f6b53;
  --cd-palBro600: #80543f;
  --cd-palBro700: #613e2e;
  --c-palBro800: #442a1e;
  --c-palBro900: #2d1506;
  --cl-palRed30: #f3887612;
  --cd-palRed50: #fdebec;
  --cl-palRed100: #f4ab9f66;
  --ca-palRed200: #d7261552;
  --cl-palRed300: #d7261580;
  --ca-palRed400: #d72615ad;
  --cd-palRed500: #cd3c3a;
  --cd-palRed600: #ae2f2e;
  --cd-palRed700: #862120;
  --c-palRed800: #5d1715;
  --c-palRed900: #30130f;
  --cl-palYel30: #d7b11812;
  --cd-palYel50: #fbf3db;
  --cl-palYel100: #ecbf4263;
  --ca-palYel200: #e5af198c;
  --cl-palYel300: #d79609bf;
  --ca-palYel400: #c07d00d1;
  --cd-palYel500: #cb912f;
  --cd-palYel600: #835e33;
  --cd-palYel700: #5f4023;
  --c-palYel800: #402c1b;
  --c-palYel900: #251910;
  --cl-palBlu30: #5ba6d112;
  --cd-palBlu50: #e7f3f8;
  --cl-palBlu100: #5da5ce45;
  --ca-palBlu200: #3987b866;
  --cl-palBlu300: #3f89b8a6;
  --ca-palBlu400: #3681b1d1;
  --cd-palBlu500: #337ea9;
  --cd-palBlu600: #2d6387;
  --cd-palBlu700: #1f4a68;
  --c-palBlu800: #183347;
  --c-palBlu900: #0c1d2b;
  --ca-palPagGla0: #fffc;
  --ca-palWasGla0: #f9f9f8cc;
  --c-bluTexPri: #264a72;
  --c-bluTexSec: #387dc9;
  --c-bluTexTer: #83abe1;
  --c-bluTexDis: #b6d4f3;
  --c-bluTexAccPri: #2783de;
  --c-bluTexInvPri: #f3f9fd;
  --c-bluTexInvSec: #b6d4f3;
  --ca-bluTexDisTra: #0070db49;
  --c-bluIcoPri: #264a72;
  --c-bluIcoSec: #387dc9;
  --c-bluIcoTer: #83abe1;
  --c-bluIcoDis: #b6d4f3;
  --c-bluIcoAccPri: #2783de;
  --c-bluIcoInvPri: #f3f9fd;
  --c-bluIcoInvSec: #b6d4f3;
  --c-bluBorPri: #cee3f7;
  --c-bluBorSec: #e5f2fc;
  --c-bluBorInvPri: #355f8b;
  --c-bluBorAccPri: #2783de;
  --c-bluBorStr: #b6d4f3;
  --ca-bluBorPriTra: #0076d934;
  --ca-bluBorSecTra: #007cd718;
  --ca-bluBorStrTra: #0070db49;
  --c-bluBacPri: #f3f9fd;
  --c-bluBacSec: #e5f2fc;
  --c-bluBacTer: #cee3f7;
  --c-bluBacEle: #fff;
  --c-bluBacAccPri: #2783de;
  --c-bluBacAccSec: #5e9fe8;
  --ca-bluBacPriTra: #0080d50c;
  --ca-bluBacSecTra: #007cd718;
  --ca-bluBacTerTra: #0076d934;
  --c-broTexPri: #584437;
  --c-broTexSec: #9f765a;
  --c-broTexTer: #bca290;
  --c-broTexDis: #e0cdc0;
  --c-broTexAccPri: #b68965;
  --c-broTexInvPri: #faf8f6;
  --c-broTexInvSec: #e0cdc0;
  --ca-broTexDisTra: #8134003f;
  --c-broIcoPri: #584437;
  --c-broIcoSec: #9f765a;
  --c-broIcoTer: #bca290;
  --c-broIcoDis: #e0cdc0;
  --c-broIcoAccPri: #b68965;
  --c-broIcoInvPri: #faf8f6;
  --c-broIcoInvSec: #e0cdc0;
  --c-broBorPri: #ebdfd7;
  --c-broBorSec: #f5ede9;
  --c-broBorInvPri: #6d5340;
  --c-broBorAccPri: #b68965;
  --c-broBorStr: #e0cdc0;
  --ca-broBorPriTra: #7f330028;
  --ca-broBorSecTra: #8b2e0016;
  --ca-broBorStrTra: #8134003f;
  --c-broBacPri: #faf8f6;
  --c-broBacSec: #f5ede9;
  --c-broBacTer: #ebdfd7;
  --c-broBacEle: #fff;
  --c-broBacAccPri: #b68965;
  --c-broBacAccSec: #bd9576;
  --ca-broBacPriTra: #733b0309;
  --ca-broBacSecTra: #8b2e0016;
  --ca-broBacTerTra: #7f330028;
  --c-graTexPri: #494846;
  --c-graTexSec: #7d7a75;
  --c-graTexTer: #ada9a3;
  --c-graTexDis: #d4d3cf;
  --c-graTexAccPri: #8e8b86;
  --c-graTexInvPri: #f9f8f7;
  --c-graTexInvSec: #d4d3cf;
  --ca-graTexDisTra: #1b150030;
  --c-graIcoPri: #494846;
  --c-graIcoSec: #7d7a75;
  --c-graIcoTer: #ada9a3;
  --c-graIcoDis: #d4d3cf;
  --c-graIcoAccPri: #8e8b86;
  --c-graIcoInvPri: #f9f8f7;
  --c-graIcoInvSec: #d4d3cf;
  --c-graBorPri: #e6e5e3;
  --c-graBorSec: #f0efed;
  --c-graBorInvPri: #5f5e59;
  --c-graBorAccPri: #8e8b86;
  --c-graBorStr: #d4d3cf;
  --ca-graBorPriTra: #1c13011c;
  --ca-graBorSecTra: #2a1c0012;
  --ca-graBorStrTra: #1b150030;
  --c-graBacPri: #f9f8f7;
  --c-graBacSec: #f0efed;
  --c-graBacTer: #e6e5e3;
  --c-graBacEle: #fff;
  --c-graBacAccPri: #8e8b86;
  --c-graBacAccSec: #a19e99;
  --ca-graBacPriTra: #42230308;
  --ca-graBacSecTra: #2a1c0012;
  --ca-graBacTerTra: #1c13011c;
  --c-greTexPri: #2a533c;
  --c-greTexSec: #50946e;
  --c-greTexTer: #8bb79d;
  --c-greTexDis: #bed9c9;
  --c-greTexAccPri: #46a171;
  --c-greTexInvPri: #f6f9f7;
  --c-greTexInvSec: #bed9c9;
  --ca-greTexDisTra: #006a2b41;
  --c-greIcoPri: #2a533c;
  --c-greIcoSec: #50946e;
  --c-greIcoTer: #8bb79d;
  --c-greIcoDis: #bed9c9;
  --c-greIcoAccPri: #46a171;
  --c-greIcoInvPri: #f6f9f7;
  --c-greIcoInvSec: #bed9c9;
  --c-greBorPri: #d7e6dd;
  --c-greBorSec: #e8f1ec;
  --c-greBorInvPri: #37674c;
  --c-greBorAccPri: #46a171;
  --c-greBorStr: #bed9c9;
  --ca-greBorPriTra: #00602628;
  --ca-greBorSecTra: #00642d17;
  --ca-greBorStrTra: #006a2b41;
  --c-greBacPri: #f6f9f7;
  --c-greBacSec: #e8f1ec;
  --c-greBacTer: #d7e6dd;
  --c-greBacEle: #fff;
  --c-greBacAccPri: #46a171;
  --c-greBacAccSec: #72bc8f;
  --ca-greBacPriTra: #03571f09;
  --ca-greBacSecTra: #00642d17;
  --ca-greBacTerTra: #00602628;
  --c-oraTexPri: #6a4222;
  --c-oraTexSec: #d27b2d;
  --c-oraTexTer: #cba27d;
  --c-oraTexDis: #eaccb2;
  --c-oraTexAccPri: #d5803b;
  --c-oraTexInvPri: #fcf7f4;
  --c-oraTexInvSec: #eaccb2;
  --ca-oraTexDisTra: #ba56004d;
  --c-oraIcoPri: #6a4222;
  --c-oraIcoSec: #d27b2d;
  --c-oraIcoTer: #cba27d;
  --c-oraIcoDis: #eaccb2;
  --c-oraIcoAccPri: #d5803b;
  --c-oraIcoInvPri: #fcf7f4;
  --c-oraIcoInvSec: #eaccb2;
  --c-oraBorPri: #f3ddcb;
  --c-oraBorSec: #fbebde;
  --c-oraBorInvPri: #88522f;
  --c-oraBorAccPri: #d5803b;
  --c-oraBorStr: #eaccb2;
  --ca-oraBorPriTra: #c4580034;
  --ca-oraBorSecTra: #e0650121;
  --ca-oraBorStrTra: #ba56004d;
  --c-oraBacPri: #fcf7f4;
  --c-oraBacSec: #fbebde;
  --c-oraBacTer: #f3ddcb;
  --c-oraBacEle: #fff;
  --c-oraBacAccPri: #d5803b;
  --c-oraBacAccSec: #de9255;
  --ca-oraBacPriTra: #ba48030b;
  --ca-oraBacSecTra: #e0650121;
  --ca-oraBacTerTra: #c4580034;
  --c-pinTexPri: #68354e;
  --c-pinTexSec: #c14c8a;
  --c-pinTexTer: #c897ad;
  --c-pinTexDis: #eac4d5;
  --c-pinTexAccPri: #db6999;
  --c-pinTexInvPri: #fcf7f9;
  --c-pinTexInvSec: #eac4d5;
  --ca-pinTexDisTra: #a400493b;
  --c-pinIcoPri: #68354e;
  --c-pinIcoSec: #c14c8a;
  --c-pinIcoTer: #c897ad;
  --c-pinIcoDis: #eac4d5;
  --c-pinIcoAccPri: #db6999;
  --c-pinIcoInvPri: #fcf7f9;
  --c-pinIcoInvSec: #eac4d5;
  --c-pinBorPri: #f4d8e4;
  --c-pinBorSec: #fae9f1;
  --c-pinBorInvPri: #7b4760;
  --c-pinBorAccPri: #db6999;
  --c-pinBorStr: #eac4d5;
  --ca-pinBorPriTra: #b7004e27;
  --ca-pinBorSecTra: #c5005d16;
  --ca-pinBorStrTra: #a400493b;
  --c-pinBacPri: #fcf7f9;
  --c-pinBacSec: #fae9f1;
  --c-pinBacTer: #f4d8e4;
  --c-pinBacEle: #fff;
  --c-pinBacAccPri: #db6999;
  --c-pinBacAccSec: #df84a8;
  --ca-pinBacPriTra: #a1034208;
  --ca-pinBacSecTra: #c5005d16;
  --ca-pinBacTerTra: #b7004e27;
  --c-purTexPri: #553b69;
  --c-purTexSec: #9a6bb4;
  --c-purTexTer: #b49cc6;
  --c-purTexDis: #dbc8e8;
  --c-purTexAccPri: #b577d6;
  --c-purTexInvPri: #faf7fc;
  --c-purTexInvSec: #dbc8e8;
  --ca-purTexDisTra: #58019537;
  --c-purIcoPri: #553b69;
  --c-purIcoSec: #9a6bb4;
  --c-purIcoTer: #b49cc6;
  --c-purIcoDis: #dbc8e8;
  --c-purIcoAccPri: #b577d6;
  --c-purIcoInvPri: #faf7fc;
  --c-purIcoInvSec: #dbc8e8;
  --c-purBorPri: #e8dbf2;
  --c-purBorSec: #f3ebf9;
  --c-purBorInvPri: #674d7b;
  --c-purBorAccPri: #b577d6;
  --c-purBorStr: #dbc8e8;
  --ca-purBorPriTra: #5c00a324;
  --ca-purBorSecTra: #6600b214;
  --ca-purBorStrTra: #58019537;
  --c-purBacPri: #faf7fc;
  --c-purBacSec: #f3ebf9;
  --c-purBacTer: #e8dbf2;
  --c-purBacEle: #fff;
  --c-purBacAccPri: #b577d6;
  --c-purBacAccSec: #bf8eda;
  --ca-purBacPriTra: #6203a108;
  --ca-purBacSecTra: #6600b214;
  --ca-purBacTerTra: #5c00a324;
  --c-redTexPri: #6d3531;
  --c-redTexSec: #cf5148;
  --c-redTexTer: #d0988d;
  --c-redTexDis: #f0c5be;
  --c-redTexAccPri: #e56458;
  --c-redTexInvPri: #fdf6f6;
  --c-redTexInvSec: #f0c5be;
  --ca-redTexDisTra: #c41b0041;
  --c-redIcoPri: #6d3531;
  --c-redIcoSec: #cf5148;
  --c-redIcoTer: #d0988d;
  --c-redIcoDis: #f0c5be;
  --c-redIcoAccPri: #e56458;
  --c-redIcoInvPri: #fdf6f6;
  --c-redIcoInvSec: #f0c5be;
  --c-redBorPri: #f7d9d5;
  --c-redBorSec: #fce9e7;
  --c-redBorInvPri: #924943;
  --c-redBorAccPri: #e56458;
  --c-redBorStr: #f0c5be;
  --ca-redBorPriTra: #ce18002a;
  --ca-redBorSecTra: #df160018;
  --ca-redBorStrTra: #c41b0041;
  --c-redBacPri: #fdf6f6;
  --c-redBacSec: #fce9e7;
  --c-redBacTer: #f7d9d5;
  --c-redBacEle: #fff;
  --c-redBacAccPri: #e56458;
  --c-redBacAccSec: #e97366;
  --ca-redBacPriTra: #c7030309;
  --ca-redBacSecTra: #df160018;
  --ca-redBacTerTra: #ce18002a;
  --c-teaTexPri: #18505b;
  --c-teaTexSec: #2c8b9e;
  --c-teaTexTer: #7eb6c2;
  --c-teaTexDis: #b0dbe4;
  --c-teaTexAccPri: #37a4b4;
  --c-teaTexInvPri: #f3fafb;
  --c-teaTexInvSec: #b0dbe4;
  --ca-teaTexDisTra: #008ba84f;
  --c-teaIcoPri: #18505b;
  --c-teaIcoSec: #2c8b9e;
  --c-teaIcoTer: #7eb6c2;
  --c-teaIcoDis: #b0dbe4;
  --c-teaIcoAccPri: #37a4b4;
  --c-teaIcoInvPri: #f3fafb;
  --c-teaIcoInvSec: #b0dbe4;
  --c-teaBorPri: #cae9f0;
  --c-teaBorSec: #e0f3f7;
  --c-teaBorInvPri: #226471;
  --c-teaBorAccPri: #37a4b4;
  --c-teaBorStr: #b0dbe4;
  --ca-teaBorPriTra: #0095b735;
  --ca-teaBorSecTra: #019dbd1f;
  --ca-teaBorStrTra: #008ba84f;
  --c-teaBacPri: #f3fafb;
  --c-teaBacSec: #e0f3f7;
  --c-teaBacTer: #cae9f0;
  --c-teaBacEle: #fff;
  --c-teaBacAccPri: #37a4b4;
  --c-teaBacAccSec: #4fb9c9;
  --ca-teaBacPriTra: #0396ab0c;
  --ca-teaBacSecTra: #019dbd1f;
  --ca-teaBacTerTra: #0095b735;
  --c-yelTexPri: #655121;
  --c-yelTexSec: #cb9434;
  --c-yelTexTer: #d8c283;
  --c-yelTexDis: #e8d497;
  --c-yelTexAccPri: #d8a32f;
  --c-yelTexInvPri: #fcfaef;
  --c-yelTexInvSec: #e8d497;
  --ca-yelTexDisTra: #c7960068;
  --c-yelIcoPri: #655121;
  --c-yelIcoSec: #cb9434;
  --c-yelIcoTer: #d8c283;
  --c-yelIcoDis: #e8d497;
  --c-yelIcoAccPri: #d8a32f;
  --c-yelIcoInvPri: #fcfaef;
  --c-yelIcoInvSec: #e8d497;
  --c-yelBorPri: #f2e3b7;
  --c-yelBorSec: #f9f3dc;
  --c-yelBorInvPri: #836426;
  --c-yelBorAccPri: #d8a32f;
  --c-yelBorStr: #e8d497;
  --ca-yelBorPriTra: #d19c0048;
  --ca-yelBorSecTra: #d3a80023;
  --ca-yelBorStrTra: #c7960068;
  --c-yelBacPri: #fcfaef;
  --c-yelBacSec: #f9f3dc;
  --c-yelBacTer: #f2e3b7;
  --c-yelBacEle: #fff;
  --c-yelBacAccPri: #d8a32f;
  --c-yelBacAccSec: #eac26b;
  --ca-yelBacPriTra: #cfaf0010;
  --ca-yelBacSecTra: #d3a80023;
  --ca-yelBacTerTra: #d19c0048;
  --c-texPri: #2c2c2b;
  --c-texSec: #7d7a75;
  --c-texTer: #a19e99;
  --c-texDis: #d4d3cf;
  --c-texAccPri: #5f5e59;
  --c-texInvPri: #f0efed;
  --c-texInvSec: #ada9a3;
  --ca-texDisTra: #1b150030;
  --c-icoPri: #383836;
  --c-icoSec: #8e8b86;
  --c-icoTer: #ada9a3;
  --c-icoDis: #d4d3cf;
  --c-icoAccPri: #7d7a75;
  --c-icoInvPri: #f0efed;
  --c-icoInvSec: #ada9a3;
  --c-borPri: #e6e5e3;
  --c-borSec: #f0efed;
  --c-borInvPri: #5f5e59;
  --c-borAccPri: #8e8b86;
  --c-borStr: #d4d3cf;
  --ca-borPriTra: #1c13011c;
  --ca-borSecTra: #2a1c0012;
  --ca-borStrTra: #1b150030;
  --c-bacPri: #fff;
  --c-bacSec: #f9f8f7;
  --c-bacTer: #f0efed;
  --c-bacEle: #fff;
  --c-bacAccPri: #2c2c2b;
  --c-bacAccSec: #a19e99;
  --ca-bacPriTra: #fff0;
  --ca-bacSecTra: #42230308;
  --ca-bacTerTra: #2a1c0012;
  --c-priBla: #000;
  --cl-pagTitPlaTexCol: #37352f26;
  --c-tabFroFilDivCol: #d5d4d2;
  --c-tabFroSelDivCol: #cad4e1;
  --cl-linDecCol: #37352f40;
  --ca-opaLinDecCol: #37352f66;
  --c-regEmoCol: #000;
  --c-sidSecCol: #91918e;
  --ca-sidIteSelBac: #00000008;
  --ca-sidSecBac: #00000006;
  --ca-conBacTra: #fff0;
  --ca-carConBacTra: #fff0;
  --ca-oveSmo: #0f0f0f99;
  --c-calIteBac: #fff;
  --cl-calIteHovBac: #54483114;
  --c-popBac: #fff;
  --ca-popWaxPapBac: #ffffffe6;
  --cd-boaIteDefBac: #fff;
  --cd-colGalPreCarBac: #fff;
  --ca-colGalPreCarCov: #37352f06;
  --ca-modUndBac: #0f0f0f99;
  --c-beiBanBac: #fbf8f3;
  --c-darBanBac: #eae9e7;
  --c-keyDonBarBac: #f0f1f2;
  --c-keyActBarBac: #fff;
  --ca-UIUseAvaInnOut: #ffffff4d;
  --c-UIUseAvaIdlOut: #f1f1ef;
  --cl-susUIUseAvaBac: #54483114;
  --cd-codBloBac: #f7f6f3;
  --c-codStiBloBac: #f7f6f3;
  --cd-tabHeaRowColBac: #f7f6f3;
  --cd-embPlaBac: #f2f1ee;
  --ca-tokInpMenIteBac: #f2f1ee99;
  --cl-hovDisBac: #37352f08;
  --c-hovMarDisBac: #f9f9f8;
  --c-selMarDisBac: #fff;
  --ca-butHovBac: #37352f0f;
  --ca-tabRowHovBac: #37352f06;
  --ca-outButHovBac: #37352f0f;
  --cl-outButPreBac: #37352f29;
  --ca-butPreBac: #37352f29;
  --ca-butPreBacLig: #37352f1a;
  --cl-carHovBac: #37352f0a;
  --cl-carPreBac: #37352f0f;
  --c-bluButHovBac: #0077d4;
  --c-bluButPreBac: #006bc7;
  --c-whi: #fff;
  --c-whiButBac: #fff;
  --c-assCorButBac: #fff;
  --c-assCorButBacHov: #efefee;
  --c-assCorButBacPre: #dfdfde;
  --ca-ligGraButHovBac: #e3e2e0b3;
  --ca-ligGraButPreBac: #54483126;
  --c-butGroBac: #fff;
  --c-whiButHovBac: #efefee;
  --c-whiButPreBac: #dfdfde;
  --c-timBac: #fdfdfd;
  --c-peeTimBac: #fdfdfd;
  --cd-timDarBac: #f7f7f7;
  --c-topFav: #f6c050;
  --cl-homEmpStaPreJoiButBac: #5448310a;
  --cl-homEmpStaPreCalInd: #54483114;
  --c-homScrButBacBas: #fff;
  --cl-homScrButBacPre: #54483114;
  --ca-homTilBac: #ffffffe6;
  --ca-homCarCovPhoBas: #5448310a;
  --cd-homCarBacBas: #fff;
  --cd-homCarBacHov: #fff;
  --ca-homCarBacPre: #54483114;
  --cd-homCarTemCarBacBas: #fff;
  --cd-homCarTemCarBacHov: #fff;
  --ca-homCarTemCarBacPre: #00000006;
  --cl-perHomBacPho: #5448310a;
  --c-sitPagPreWinChrBar: #f5f5f5;
  --c-seoPreTit: #1d13a3;
  --c-sitBuiBac: #fcfcfc;
  --cl-sitInsSte: #54483114;
  --cl-selLigGra30: #f9f9f580;
  --cl-selLigGra50: #f1f1ef80;
  --cl-selLigGra100: #e3e2e080;
  --cl-selLigGra200: #c7c6c480;
  --cl-selLigGra300: #acaba980;
  --cl-selLigGra400: #91918e80;
  --cl-selLigGra500: #78777480;
  --cl-selLigGra700: #48474380;
  --ca-equTemPlaBac: #2383e224;
  --ca-finHigMatSelBac: #ffcd38e6;
  --cl-finHigMatUnsBac: #ffcd3866;
  --ca-marStaDef: #ffb1104d;
  --c-marStaSel: #ffb110;
  --ca-pilBacYel: #d7b11812;
  --ca-pilBacBlu: #2383e209;
  --ca-pilBacRed: #f3887612;
  --cl-pilBacWhi: #5448310a;
  --cd-pilBorYel: #fbf3db;
  --ca-pilBorBlu: #2383e212;
  --c-pilBorRed: #fdebec;
  --ca-pilBorWhi: #54483114;
  --c-pilIcoYel: #ffb110;
  --c-pilIcoBlu: #2383e2;
  --c-pilIcoRed: #cd3c3a;
  --cl-pilIcoWhi: #47464499;
  --ca-pilOutYel: #ecbf4263;
  --ca-pilOutBlu: #2383e224;
  --ca-pilOutRed: #f4ab9f66;
  --cl-pilOutWhi: #54483114;
  --c-pilHovBacYel: #fbf3db;
  --ca-pilHovBacBlu: #2383e224;
  --c-pilHovBacRed: #fdebec;
  --ca-pilHovBacWhi: #0000001a;
  --cl-pilHovBorYel: #ecbf4263;
  --ca-pilHovBorBlu: #2383e212;
  --ca-pilHovBorRed: #f4ab9f66;
  --ca-pilHovBorWhi: #54483126;
  --cd-pilHovTexYel: #402c1b;
  --c-pilHovTexBlu: #2383e2;
  --c-pilHovTexRed: #cd3c3a;
  --c-pilHovTexWhi: #73726e;
  --ca-pilPreBacYel: #ecbf4263;
  --ca-pilPreBacBlu: #2383e236;
  --ca-pilPreBacRed: #f4ab9f66;
  --ca-pilPreBacWhi: #0003;
  --cl-pilPreBorYel: #ecbf4263;
  --ca-pilPreBorBlu: #2383e212;
  --cl-pilPreBorRed: #f4ab9f66;
  --ca-pilPreBorWhi: #51493c52;
  --cd-pilSelBacYel: #fbf3db;
  --cl-pilSelBacBlu: #2383e212;
  --c-pilSelBacRed: #fdebec;
  --cl-pilSelBacWhi: #54483114;
  --ca-pilSelBorYel: #ffb11080;
  --cl-pilSelBorBlu: #2383e259;
  --ca-pilSelBorRed: #d7261580;
  --ca-pilSelBorWhi: #47464499;
  --cl-pilSelHovBacYel: #ecbf4263;
  --ca-pilSelHovBacBlu: #2383e224;
  --ca-pilSelHovBacRed: #f4ab9f66;
  --ca-pilSelHovBacWhi: #54483126;
  --ca-pilSelHovBorYel: #ffb11080;
  --cl-pilSelHovBorBlu: #2383e259;
  --ca-pilSelHovBorRed: #d7261580;
  --ca-pilSelHovBorWhi: #47464499;
  --c-pilSelPreBacYel: #fce2ab;
  --ca-pilSelPreBacBlu: #2383e236;
  --cl-pilSelPreBacRed: #d7261552;
  --ca-pilSelPreBacWhi: #51493c52;
  --ca-pilSelPreBorYel: #ffb11080;
  --cl-pilSelPreBorBlu: #2383e259;
  --ca-pilSelPreBorRed: #d7261580;
  --ca-pilSelPreBorWhi: #47464499;
  --c-marTopTexHovRed: #f64932;
  --c-marTopTexHovYel: #ffb110;
  --c-marTopTexHovBlu: #2383e2;
  --cl-marTopTexHovWhi: #000000a6;
  --c-marTopTexPreRed: #ba1d08;
  --c-marTopTexPreYel: #db9400;
  --c-marTopTexPreBlu: #1761ab;
  --c-marTopTexPreWhi: #000;
  --c-marTopTexDroVieAllRed: #cd3c3a;
  --c-marTopTexDroVieAllYel: #d99e35;
  --c-marTopTexDroVieAllBlu: #2383e2;
  --c-marTopTexDroVieAllWhi: #000;
  --cl-marEdiIllRed: #0000;
  --cl-marEdiIllYel: #0000;
  --cl-marEdiIllBlu: #0000;
  --cl-marEdiIllWhi: #0000;
  --c-marEdiIcoRed: #f64932;
  --c-marEdiIcoYel: #ffb110;
  --c-marEdiIcoBlu: #2383e2;
  --cl-marEdiIcoWhi: #47464499;
  --cd-marEdiBorRed: #fdebec;
  --cd-marEdiBorYel: #fbf3db;
  --cd-marEdiBorBlu: #f0f6fd;
  --ca-marEdiBorWhi: #00000006;
  --ca-marEdiBorHovRed: #f4ab9f66;
  --ca-marEdiBorHovYel: #ecbf4263;
  --cd-marEdiBorHovBlu: #e0eefb;
  --ca-marEdiBorHovWhi: #0000000d;
  --ca-marEdiBorPreRed: #0000;
  --ca-marEdiBorPreYel: #0000;
  --ca-marEdiBorPreBlu: #0000;
  --ca-marEdiBorPreWhi: #0000;
  --ca-marEdiBacRed: #f3887612;
  --ca-marEdiBacYel: #d7b11812;
  --ca-marEdiBacBlu: #2383e209;
  --ca-marEdiBacWhi: #5448310a;
  --c-marEdiBacHovRed: #fdebec;
  --c-marEdiBacHovYel: #fbf3db;
  --cd-marEdiBacHovBlu: #f0f6fd;
  --ca-marEdiBacHovWhi: #00000014;
  --cl-marEdiBacPreRed: #f4ab9f66;
  --cl-marEdiBacPreYel: #ecbf4263;
  --cd-marEdiBacPreBlu: #d1e5f9;
  --ca-marEdiBacPreWhi: #54483126;
  --c-creProInRevTex: #f97b2d;
  --c-creProInRevHovTex: #c76224;
  --c-creProInRevBac: #fde6d9;
  --c-shaCol: #0f0f0f;
  --c-botActBarSha: 0 -1px 0 1px #0f0f0f0d, 0 -3px 6px #0f0f0f1a;
  --c-butBoxSha: inset 0 0 0 1px #0f0f0f1a, 0 1px 2px #0f0f0f1a;
  --c-avaBoxSha: 0 2px 4px #0f0f0f1a;
  --c-butBluFocRin:
    0px 0px 0px 2px #f8f8f7, 0px 0px 0px 4px #2383e2, 0px 0px 0px 6px #ffffff40;
  --c-inpRedFocRin: 0px 0px 0px 1px #cd3c3a inset, 0px 0px 0px 1px #cd3c3a;
  --c-inpBluFocRin: 0px 0px 0px 1px #2383e2 inset, 0px 0px 0px 1px #2383e2;
  --c-secSidBorBoxSha: inset calc(var(--direction, 1) * -1px) 0px 0px 0px
    #54483114;
  --c-topAndSha: #0f0f0f1a 0px 2px 4px, #0f0f0f26 0px 2px 8px;
  --c-topAndShaCol: #0f0f0f1a 0px 1px 0px, #0000 0px 0px 0px;
  --c-homScrButSha: 0 0 0 1px #0f0f0f1a, 0 2px 4px #0f0f0f1a;
  --c-homShaCarBas: 0 0 0 1px #0000000d;
  --c-homShaCarHov: 0 0 0 1px #0000001a;
  --c-homShaTemCarBas: 0 0 0 1px #0000000f;
  --c-homShaTemCarHov: 0 0 0 1px #0000001f;
  --c-focSha: #2383e291 0px 0px 0px 1px inset, #2383e259 0px 0px 0px 2px;
  --c-shaSMThiOut: 0px 4px 12px -2px #00000014, 0 0 0 2px #54483114;
  --c-shaMDPriOut:
    0px 14px 28px -6px #0000001a, 0px 2px 4px -1px #0000000f,
    0 0 0 1px #1c13011c;
  --c-shaMDThiOut:
    0px 14px 28px -6px #0000001a, 0px 2px 4px -1px #0000000f,
    0 0 0 2px #54483114;
  --c-shaOutMd:
    0px 8px 12px 0px #19191907, 0px 2px 6px 0px #19191907,
    0px 0px 0px 1px #2a1c0012;
  --c-shaOutSm: 0px 2px 4px 0px #0000000a, 0px 0px 0px 1px #2a1c0012;
  --c-shaOutLg:
    0px 20px 24px 0px #1919190d, 0px 5px 8px 0px #19191907,
    0px 0px 0px 1px #2a1c0012;
  --c-shaOutDif: 0px 12px 32px 0px #19191907, 0px 0px 0px 1px #2a1c0012;
  --c-shaOutScr:
    0px 24px 48px 0px #1919193d, 0px 4px 12px 0px #19191924,
    0px 0px 0px 1px #2a1c0012;
  --c-shaBasLg: 0px 20px 24px 0px #1919190d, 0px 5px 8px 0px #19191907;
  --c-shaBasMd: 0px 8px 12px 0px #19191907, 0px 2px 6px 0px #19191907;
  --c-shaBasSm: 0px 4px 12px 0px #19191907, 0px 1px 2px 0px #19191905;
  --c-shaBasScr: 0px 24px 48px 0px #1919193d, 0px 4px 12px 0px #19191924;
  --c-shaBasDif: 0px 12px 32px 0px #19191907;
  --ca-aiChaButUns: #0000;
  --ca-aiChaButUnsHov: #0000;
  --cd-aiChaButSel: #fff;
  --cd-aiChaButSelHov: #fff;
  --cd-aiChaButPre: #fff;
  --ca-staHov: #37352f0a;
  --ca-staPre: #37352f1a;
  --ca-glaPag: #fffc;
  --ca-glaWas: #f9f9f8cc;
  --ca-popOveBac: #0f0f0f99;
  --c-froColDivShaBacFil: linear-gradient(
    to right,
    #87837826,
    #8783781a,
    #0000
  );
  --c-froColDivShaBac: linear-gradient(to right, #87837859, #87837833, #0000);
  --ca-swiButTeaBg: #8783784d;
  --ca-swiTogDesTraBg: #87837866;
  --ca-swiTogDesTraBgVar: #cecdca4d;
  --ca-embBloResInnBg: #0f0f0f99;
  --ca-calEveHovBac: #37352f05;
}

@media screen {
  .notion-dark-theme {
    color-scheme: dark;
    --ca-palUiBlu300: #2383e233;
    --c-palUiBlu700: #4fa7ff;
    --cd-palUiBlu150: #2383e21a;
    --cl-palPin30: #f6daf7;
    --cd-palPin50: #dc4c910f;
    --cl-palPin100: #302228;
    --ca-palPin200: #dc4c9138;
    --cl-palPin300: #4e2c3c;
    --ca-palPin400: #dc4c9166;
    --cd-palPin500: #dc4c9199;
    --cd-palPin600: #dc4c91d1;
    --cd-palPin700: #d85795e8;
    --c-palPin800: #c94b8c;
    --c-palPin900: #d15796;
    --cd-palPin75: #dc4c9117;
    --cl-palPur30: #e8def6;
    --cd-palPur50: #9b61d314;
    --cl-palPur100: #2b2431;
    --ca-palPur200: #9b61d32e;
    --cl-palPur300: #3c2d49;
    --ca-palPur400: #a85bf257;
    --cd-palPur500: #9b61d3a6;
    --cd-palPur600: #9b61d3d1;
    --cd-palPur700: #9b61d3e8;
    --c-palPur800: #9d67d2;
    --c-palPur900: #9d68d3;
    --cd-palPur75: #9b61d31a;
    --cl-palGre30: #d7e8d9;
    --cd-palGre50: #2d996414;
    --cl-palGre100: #222b26;
    --ca-palGre200: #2d996433;
    --cl-palGre300: #243d30;
    --ca-palGre400: #2d996480;
    --cd-palGre500: #2ca76aa6;
    --cd-palGre600: #2ca76ad1;
    --cd-palGre700: #2ca76ae8;
    --c-palGre800: #3c9d6a;
    --c-palGre900: #529e72;
    --cd-palGre75: #2d99641f;
    --c-palGra0: #000;
    --cl-palGra30: #151515;
    --c-palGra50: #191919;
    --cl-palGra75: #1c1c1c;
    --cl-palGra90: #1e1e1e;
    --cl-palGra100: #202020;
    --cl-palGra200: #252525;
    --cl-palGra300: #2f2f2f;
    --cl-palGra400: #373737;
    --c-palGra500: #5a5a5a;
    --c-palGra600: #7f7f7f;
    --c-palGra700: #9b9b9b;
    --c-palGra800: #d3d3d3;
    --c-palGra900: #fff;
    --c-palGra850: #e1e1e1;
    --cl-palTraGra30: #151515;
    --cl-palTraGra50: #191919;
    --ca-palTraGra75: #ffffff04;
    --ca-palTraGra100: #ffffff08;
    --ca-palTraGra200: #ffffff0e;
    --ca-palTraGra300: #ffffff18;
    --ca-palTraGra400: #ffffff21;
    --ca-palTraGra500: #ffffff48;
    --ca-palTraGra600: #ffffff75;
    --ca-palTraGra700: #ffffff90;
    --ca-palTraGra800: #ffffffcf;
    --ca-palTraGra850: #ffffffde;
    --ca-palTraGra900: #fffffff5;
    --cl-palOra30: #f0e0c8;
    --cd-palOra50: #e97e280f;
    --cl-palOra100: #38281e;
    --ca-palOra200: #e97e2533;
    --cl-palOra300: #5c3b23;
    --ca-palOra400: #e97e2373;
    --cd-palOra500: #e97e2299;
    --cd-palOra600: #e97e21cc;
    --cd-palOra700: #e97e20e8;
    --c-palOra800: #e48539;
    --c-palOra900: #c77d48;
    --cd-palOra75: #e97e2726;
    --cl-palBro30: #f4f4d3;
    --cd-palBro50: #b8654814;
    --cl-palBro100: #2f2723;
    --ca-palBro200: #b8654540;
    --cl-palBro300: #4a3228;
    --ca-palBro400: #b8654373;
    --cd-palBro500: #ef997699;
    --cd-palBro600: #d18a6dbf;
    --cd-palBro700: #bb7d64e8;
    --c-palBro800: #b27e67;
    --c-palBro900: #ba856f;
    --cd-palBro75: #b8654726;
    --cl-palRed30: #fddada;
    --cd-palRed50: #de55581a;
    --cl-palRed100: #362422;
    --ca-palRed200: #de555540;
    --cl-palRed300: #522e2a;
    --ca-palRed400: #de555373;
    --cd-palRed500: #de555299;
    --cd-palRed600: #de5551cc;
    --cd-palRed700: #de5550e8;
    --c-palRed800: #de5550;
    --c-palRed900: #e65b58;
    --cd-palRed75: #de555726;
    --cl-palYel30: #f0e2cb;
    --cd-palYel50: #a269321a;
    --cl-palYel100: #392e1e;
    --ca-palYel200: #b3813d33;
    --cl-palYel300: #564328;
    --ca-palYel400: #fab14380;
    --cd-palYel500: #f0a63399;
    --cd-palYel600: #e8a225cc;
    --cd-palYel700: #dd9a22e8;
    --c-palYel800: #d99e35;
    --c-palYel900: #ca984d;
    --cd-palYel75: #98663026;
    --cl-palBlu30: #cbe6f7;
    --cd-palBlu50: #337ea914;
    --cl-palBlu100: #1d282e;
    --ca-palBlu200: #337ea933;
    --cl-palBlu300: #143a4e;
    --ca-palBlu400: #337ea980;
    --cd-palBlu500: #337ea9a6;
    --cd-palBlu600: #337ea9d1;
    --cd-palBlu700: #337ea9e8;
    --c-palBlu800: #388ebf;
    --c-palBlu900: #379ad3;
    --cd-palBlu75: #337ea91f;
    --ca-palPagGla0: #191919cc;
    --ca-palWasGla0: #202020cc;
    --c-bluTexPri: #e5f2fc;
    --c-bluTexTer: #355f8b;
    --c-bluTexDis: #233850;
    --ca-bluTexDisTra: #439bff3d;
    --c-bluIcoPri: #e5f2fc;
    --c-bluIcoSec: #83abe1;
    --c-bluIcoTer: #387dc9;
    --c-bluIcoDis: #264a72;
    --c-bluBorPri: #233850;
    --c-bluBorSec: #213041;
    --c-bluBorStr: #355f8b;
    --ca-bluBorPriTra: #439bff3d;
    --ca-bluBorSecTra: #479dff2c;
    --ca-bluBorStrTra: #51a6ff7e;
    --c-bluBacPri: #1a2027;
    --c-bluBacSec: #233850;
    --c-bluBacTer: #355f8b;
    --c-bluBacEle: #213041;
    --ca-bluBacPriTra: #298bfd10;
    --ca-bluBacSecTra: #439bff3d;
    --ca-bluBacTerTra: #51a6ff7e;
    --c-broTexPri: #f5ede9;
    --c-broTexTer: #6d5340;
    --c-broTexDis: #45362d;
    --ca-broTexDisTra: #ffb18131;
    --c-broIcoPri: #f5ede9;
    --c-broIcoSec: #bca290;
    --c-broIcoTer: #9f765a;
    --c-broIcoDis: #584437;
    --c-broBorPri: #45362d;
    --c-broBorSec: #382d26;
    --c-broBorStr: #6d5340;
    --ca-broBorPriTra: #ffb18131;
    --ca-broBorSecTra: #ffae7a22;
    --ca-broBorStrTra: #ffb8845d;
    --c-broBacPri: #25201d;
    --c-broBacSec: #45362d;
    --c-broBacTer: #6d5340;
    --c-broBacEle: #382d26;
    --ca-broBacPriTra: #fd9e650d;
    --ca-broBacSecTra: #ffb18131;
    --ca-broBacTerTra: #ffb8845d;
    --c-graTexPri: #f0efed;
    --c-graTexTer: #5f5e59;
    --c-graTexDis: #383836;
    --ca-graTexDisTra: #ffffeb1a;
    --c-graIcoPri: #f0efed;
    --c-graIcoTer: #5f5e59;
    --c-graIcoDis: #494846;
    --c-graBorPri: #383836;
    --c-graBorSec: #2c2c2b;
    --c-graBorStr: #5f5e59;
    --ca-graBorPriTra: #ffffeb1a;
    --ca-graBorSecTra: #fffff315;
    --ca-graBorStrTra: #fffceb4e;
    --c-graBacPri: #202020;
    --c-graBacSec: #383836;
    --c-graBacTer: #5f5e59;
    --c-graBacEle: #2c2c2b;
    --ca-graBacPriTra: #fcfcfc08;
    --ca-graBacSecTra: #ffffeb1a;
    --ca-graBacTerTra: #fffceb4e;
    --c-greTexPri: #e8f1ec;
    --c-greTexTer: #37674c;
    --c-greTexDis: #263d30;
    --ca-greTexDisTra: #6cffac28;
    --c-greIcoPri: #e8f1ec;
    --c-greIcoSec: #8bb79d;
    --c-greIcoTer: #50946e;
    --c-greIcoDis: #2a533c;
    --c-greBorPri: #263d30;
    --c-greBorSec: #24342b;
    --c-greBorStr: #37674c;
    --ca-greBorPriTra: #6cffac28;
    --ca-greBorSecTra: #77ffb31e;
    --ca-greBorStrTra: #71ffaf56;
    --c-greBacPri: #1b211d;
    --c-greBacSec: #263d30;
    --c-greBacTer: #37674c;
    --c-greBacEle: #24342b;
    --ca-greBacPriTra: #53ff8c09;
    --ca-greBacSecTra: #6cffac28;
    --ca-greBacTerTra: #71ffaf56;
    --c-oraTexPri: #fbebde;
    --c-oraTexTer: #88522f;
    --c-oraTexDis: #53361f;
    --ca-oraTexDisTra: #ff934b47;
    --c-oraIcoPri: #fbebde;
    --c-oraIcoSec: #cba27d;
    --c-oraIcoTer: #d27b2d;
    --c-oraIcoDis: #6a4222;
    --c-oraBorPri: #53361f;
    --c-oraBorSec: #3d2a1d;
    --c-oraBorStr: #88522f;
    --ca-oraBorPriTra: #ff934b47;
    --ca-oraBorSecTra: #ff863328;
    --ca-oraBorStrTra: #ff8f477b;
    --c-oraBacPri: #231e1b;
    --c-oraBacSec: #53361f;
    --c-oraBacTer: #88522f;
    --c-oraBacEle: #3d2a1d;
    --ca-oraBacPriTra: #fe8b470b;
    --ca-oraBacSecTra: #ff934b47;
    --ca-oraBacTerTra: #ff8f477b;
    --c-pinTexPri: #fae9f1;
    --c-pinTexTer: #7b4760;
    --c-pinTexDis: #4e2b3c;
    --ca-pinTexDisTra: #ff67b13b;
    --c-pinIcoPri: #fae9f1;
    --c-pinIcoSec: #c897ad;
    --c-pinIcoTer: #c14c8a;
    --c-pinIcoDis: #68354e;
    --c-pinBorPri: #4e2b3c;
    --c-pinBorSec: #3f2631;
    --c-pinBorStr: #7b4760;
    --ca-pinBorPriTra: #ff67b13b;
    --ca-pinBorSecTra: #ff68ab2a;
    --ca-pinBorStrTra: #ff85c06d;
    --c-pinBacPri: #261c20;
    --c-pinBacSec: #4e2b3c;
    --c-pinBacTer: #7b4760;
    --c-pinBacEle: #3f2631;
    --ca-pinBacPriTra: #ff4e950e;
    --ca-pinBacSecTra: #ff67b13b;
    --ca-pinBacTerTra: #ff85c06d;
    --c-purTexPri: #f3ebf9;
    --c-purTexTer: #674d7b;
    --c-purTexDis: #3c2d47;
    --ca-purTexDisTra: #c87dff33;
    --c-purIcoPri: #f3ebf9;
    --c-purIcoTer: #9a6bb4;
    --c-purIcoDis: #553b69;
    --c-purBorPri: #3c2d47;
    --c-purBorSec: #36293f;
    --c-purBorStr: #674d7b;
    --ca-purBorPriTra: #c87dff33;
    --ca-purBorSecTra: #c97aff2a;
    --ca-purBorStrTra: #d093ff6d;
    --c-purBacPri: #221d25;
    --c-purBacSec: #3c2d47;
    --c-purBacTer: #674d7b;
    --c-purBacEle: #36293f;
    --ca-purBacPriTra: #c465fd0d;
    --ca-purBacSecTra: #c87dff33;
    --ca-purBacTerTra: #d093ff6d;
    --c-redTexPri: #fce9e7;
    --c-redTexTer: #924943;
    --c-redTexDis: #502c29;
    --ca-redTexDisTra: #ff685c3d;
    --c-redIcoPri: #fce9e7;
    --c-redIcoSec: #d0988d;
    --c-redIcoTer: #cf5148;
    --c-redIcoDis: #6d3531;
    --c-redBorPri: #502c29;
    --c-redBorSec: #412725;
    --c-redBorStr: #924943;
    --ca-redBorPriTra: #ff685c3d;
    --ca-redBorSecTra: #ff6a5e2c;
    --ca-redBorStrTra: #ff746986;
    --c-redBacPri: #241d1d;
    --c-redBacSec: #502c29;
    --c-redBacTer: #924943;
    --c-redBacEle: #412725;
    --c-redBacAccSec: #e56458;
    --ca-redBacPriTra: #fb6b6b0c;
    --ca-redBacSecTra: #ff685c3d;
    --ca-redBacTerTra: #ff746986;
    --c-teaTexPri: #e0f3f7;
    --c-teaTexTer: #226471;
    --c-teaTexDis: #143d45;
    --ca-teaTexDisTra: #00cdf533;
    --c-teaIcoPri: #e0f3f7;
    --c-teaIcoSec: #7eb6c2;
    --c-teaIcoTer: #2c8b9e;
    --c-teaIcoDis: #18505b;
    --c-teaBorPri: #143d45;
    --c-teaBorSec: #193439;
    --c-teaBorStr: #226471;
    --ca-teaBorPriTra: #00cdf533;
    --ca-teaBorSecTra: #19dbff23;
    --ca-teaBorStrTra: #31ddff61;
    --c-teaBacPri: #172124;
    --c-teaBacSec: #143d45;
    --c-teaBacTer: #226471;
    --c-teaBacEle: #193439;
    --ca-teaBacPriTra: #007ea414;
    --ca-teaBacSecTra: #00cdf533;
    --ca-teaBacTerTra: #31ddff61;
    --c-yelTexPri: #f9f3dc;
    --c-yelTexTer: #836426;
    --c-yelTexDis: #504425;
    --ca-yelTexDisTra: #ffcd4b3d;
    --c-yelIcoPri: #f9f3dc;
    --c-yelIcoSec: #d8c283;
    --c-yelIcoTer: #cb9434;
    --c-yelIcoDis: #655121;
    --c-yelIcoInvSec: #d8c283;
    --c-yelBorPri: #504425;
    --c-yelBorSec: #373325;
    --c-yelBorStr: #836426;
    --ca-yelBorPriTra: #ffcd4b3d;
    --ca-yelBorSecTra: #ffe17521;
    --ca-yelBorStrTra: #ffbc3575;
    --c-yelBacPri: #23221a;
    --c-yelBacSec: #504425;
    --c-yelBacTer: #836426;
    --c-yelBacEle: #373325;
    --ca-yelBacPriTra: #ffe8300b;
    --ca-yelBacSecTra: #ffcd4b3d;
    --ca-yelBacTerTra: #ffbc3575;
    --c-texPri: #f0efed;
    --c-texSec: #ada9a3;
    --c-texTer: #7d7a75;
    --c-texDis: #383836;
    --c-texAccPri: #bcbab6;
    --ca-texDisTra: #ffffeb1a;
    --c-icoPri: #e6e5e3;
    --c-icoSec: #ada9a3;
    --c-icoTer: #7d7a75;
    --c-icoDis: #494846;
    --c-icoAccPri: #bcbab6;
    --c-borPri: #383836;
    --c-borSec: #2c2c2b;
    --c-borStr: #5f5e59;
    --ca-borPriTra: #ffffeb1a;
    --ca-borSecTra: #fffff315;
    --ca-borStrTra: #fffceb4e;
    --c-bacPri: #191919;
    --c-bacSec: #202020;
    --c-bacTer: #383836;
    --c-bacEle: #202020;
    --ca-bacPriTra: #19191900;
    --ca-bacSecTra: #fcfcfc08;
    --ca-bacTerTra: #fffff315;
    --c-priBla: #fff;
    --cl-pagTitPlaTexCol: #373737;
    --c-tabFroFilDivCol: #464646;
    --c-tabFroSelDivCol: #2f3a48;
    --cl-linDecCol: #373737;
    --ca-opaLinDecCol: #ffffff48;
    --c-regEmoCol: #fff;
    --c-sidSecCol: #9b9b9b;
    --ca-sidIteSelBac: #ffffff0e;
    --ca-conBacTra: #f1f1ef00;
    --ca-carConBacTra: #e3e2e000;
    --ca-oveSmo: #0f0f0fcc;
    --c-calIteBac: #2f2f2f;
    --cl-calIteHovBac: #373737;
    --c-popBac: #252525;
    --ca-popWaxPapBac: #202020e6;
    --cd-boaIteDefBac: #ffffff0e;
    --cd-colGalPreCarBac: #ffffff0e;
    --ca-colGalPreCarCov: #ffffff08;
    --ca-modUndBac: #0f0f0fcc;
    --c-beiBanBac: #373c3f;
    --c-darBanBac: #373c3f;
    --c-keyDonBarBac: #27292b;
    --c-keyActBarBac: #272829;
    --ca-UIUseAvaInnOut: #1919194d;
    --c-UIUseAvaIdlOut: #555553;
    --cl-susUIUseAvaBac: #373737;
    --cd-codBloBac: #ffffff08;
    --c-codStiBloBac: #272727;
    --cd-tabHeaRowColBac: #ffffff08;
    --cd-embPlaBac: #ffffff08;
    --ca-tokInpMenIteBac: #ffffff08;
    --cl-hovDisBac: #202020;
    --c-hovMarDisBac: #202020;
    --c-selMarDisBac: #252525;
    --ca-butHovBac: #ffffff0e;
    --ca-tabRowHovBac: #ffffff0e;
    --ca-outButHovBac: #ffffff0e;
    --cl-outButPreBac: #252525;
    --ca-butPreBac: #ffffff08;
    --ca-butPreBacLig: #ffffff08;
    --cl-carHovBac: #2f2f2f;
    --cl-carPreBac: #252525;
    --c-whi: #000;
    --c-whiButBac: #252525;
    --c-assCorButBac: #d3d3d3;
    --ca-ligGraButHovBac: #ffffff0e;
    --ca-ligGraButPreBac: #ffffff18;
    --c-butGroBac: #2f2f2f;
    --c-whiButHovBac: #2f2f2f;
    --c-whiButPreBac: #252525;
    --c-timBac: #191919;
    --c-peeTimBac: #202020;
    --cd-timDarBac: #ffffff08;
    --c-topFav: #ca984d;
    --cl-homEmpStaPreJoiButBac: #252525;
    --cl-homEmpStaPreCalInd: #2f2f2f;
    --c-homScrButBacBas: #252525;
    --cl-homScrButBacPre: #2f2f2f;
    --ca-homTilBac: #202020e6;
    --ca-homCarCovPhoBas: #ffffff08;
    --cd-homCarBacBas: #ffffff0d;
    --cd-homCarBacHov: #ffffff0d;
    --ca-homCarBacPre: #ffffff12;
    --cd-homCarTemCarBacBas: #ffffff0d;
    --cd-homCarTemCarBacHov: #ffffff0d;
    --ca-homCarTemCarBacPre: #ffffff12;
    --cl-perHomBacPho: #191919;
    --c-sitPagPreWinChrBar: #141414;
    --c-seoPreTit: #9ebdf4;
    --c-sitBuiBac: #1f1f1f;
    --cl-sitInsSte: #373737;
    --cl-selLigGra30: #151515;
    --cl-selLigGra50: #191919;
    --cl-selLigGra100: #202020;
    --cl-selLigGra200: #252525;
    --cl-selLigGra300: #2f2f2f;
    --cl-selLigGra400: #373737;
    --cl-selLigGra500: #5a5a5a;
    --cl-selLigGra700: #9b9b9b;
    --ca-equTemPlaBac: #ffffff08;
    --cl-finHigMatUnsBac: #444137;
    --ca-pilBacYel: #a269321a;
    --ca-pilBacBlu: #337ea914;
    --ca-pilBacRed: #de55581a;
    --cl-pilBacWhi: #202020;
    --cd-pilBorYel: #98663026;
    --c-pilBorRed: #362422;
    --ca-pilBorWhi: #ffffff0e;
    --c-pilIcoRed: #de5550;
    --cl-pilIcoWhi: #7f7f7f;
    --ca-pilOutYel: #fab14380;
    --ca-pilOutBlu: #2383e259;
    --ca-pilOutRed: #de555373;
    --cl-pilOutWhi: #1c1c1c;
    --c-pilHovBacYel: #392e1e;
    --c-pilHovBacRed: #362422;
    --cl-pilHovBorYel: #392e1e;
    --ca-pilHovBorRed: #de555540;
    --ca-pilHovBorWhi: #ffffff18;
    --cd-pilHovTexYel: #ffffffde;
    --c-pilHovTexRed: #de5550;
    --c-pilHovTexWhi: #7f7f7f;
    --ca-pilPreBacYel: #b3813d33;
    --ca-pilPreBacBlu: #2383e233;
    --ca-pilPreBacRed: #de555540;
    --cl-pilPreBorYel: #392e1e;
    --cl-pilPreBorRed: #522e2a;
    --ca-pilPreBorWhi: #ffffff18;
    --cd-pilSelBacYel: #98663026;
    --cl-pilSelBacBlu: #1d282e;
    --c-pilSelBacRed: #362422;
    --cl-pilSelBacWhi: #373737;
    --cl-pilSelBorBlu: #2383e2;
    --ca-pilSelBorRed: #de555299;
    --ca-pilSelBorWhi: #ffffff2e;
    --cl-pilSelHovBacYel: #392e1e;
    --ca-pilSelHovBacRed: #de555540;
    --ca-pilSelHovBacWhi: #0000001a;
    --cl-pilSelHovBorBlu: #2383e2;
    --ca-pilSelHovBorRed: #de555299;
    --ca-pilSelHovBorWhi: #ffffff2e;
    --c-pilSelPreBacYel: #564328;
    --ca-pilSelPreBacBlu: #2383e259;
    --cl-pilSelPreBacRed: #522e2a;
    --ca-pilSelPreBacWhi: #0003;
    --cl-pilSelPreBorBlu: #2383e2;
    --ca-pilSelPreBorRed: #de555299;
    --ca-pilSelPreBorWhi: #ffffff2e;
    --cl-marTopTexHovWhi: #5a5a5a;
    --c-marTopTexPreWhi: #7f7f7f;
    --c-marTopTexDroVieAllRed: #de5550;
    --c-marTopTexDroVieAllYel: #cb912f;
    --c-marTopTexDroVieAllWhi: #7f7f7f;
    --cl-marEdiIllRed: #fdebec;
    --cl-marEdiIllYel: #fdecc8;
    --cl-marEdiIllBlu: #e0eefb;
    --cl-marEdiIllWhi: #fff;
    --cl-marEdiIcoWhi: #373737;
    --cd-marEdiBorRed: #ffffff08;
    --cd-marEdiBorYel: #ffffff08;
    --cd-marEdiBorBlu: #ffffff08;
    --ca-marEdiBorWhi: #ffffff0e;
    --ca-marEdiBorHovRed: #ffffff08;
    --ca-marEdiBorHovYel: #ffffff08;
    --cd-marEdiBorHovBlu: #ffffff08;
    --ca-marEdiBorHovWhi: #ffffff0e;
    --ca-marEdiBorPreRed: #ffffff08;
    --ca-marEdiBorPreYel: #ffffff08;
    --ca-marEdiBorPreBlu: #ffffff08;
    --ca-marEdiBorPreWhi: #ffffff0e;
    --ca-marEdiBacRed: #de555540;
    --ca-marEdiBacYel: #b3813d33;
    --ca-marEdiBacBlu: #2383e224;
    --ca-marEdiBacWhi: #ffffff0e;
    --c-marEdiBacHovRed: #522e2a;
    --c-marEdiBacHovYel: #564328;
    --cd-marEdiBacHovBlu: #2383e233;
    --ca-marEdiBacHovWhi: #ffffff18;
    --cl-marEdiBacPreRed: #362422;
    --cl-marEdiBacPreYel: #392e1e;
    --cd-marEdiBacPreBlu: #2383e212;
    --ca-marEdiBacPreWhi: #ffffff08;
    --c-marEdiIllRed2: #f64932;
    --c-marEdiIllYel2: #f64932;
    --c-marEdiIllBlu2: #f64932;
    --c-marEdiIllWhi2: #f64932;
    --c-creProInRevTex: #fde6d9;
    --c-butBoxSha: inset 0 0 0 1px #0f0f0f33, 0 1px 2px #0f0f0f1a;
    --c-avaBoxSha: 0 2px 4px #0f0f0f33;
    --c-butBluFocRin:
      0px 0px 0px 2px #191919, 0px 0px 0px 4px #2383e2, 0px 0px 0px 6px #191919;
    --c-secSidBorBoxSha: inset calc(var(--direction, 1) * -1px) 0px 0px 0px
      #ffffff18;
    --c-topAndSha: #0f0f0f33 0px 2px 4px, #0f0f0f4d 0px 2px 8px;
    --c-topAndShaCol: #0f0f0f33 0px 1px 0px, #0000 0px 0px 0px;
    --c-homScrButSha: 0 0 0 1px #0f0f0f33, 0 2px 4px #0f0f0f33;
    --c-homShaCarBas: unset;
    --c-homShaCarHov: inset 0 0 0 1px #ffffff0d;
    --c-homShaTemCarBas: unset;
    --c-homShaTemCarHov: inset 0 0 0 1px #ffffff0d;
    --c-shaSMThiOut: 0 0 0 2px #383836, 0px 4px 12px -2px #00000029;
    --c-shaMDPriOut:
      inset 0 0 0 1px #ffffeb1a, 0px 14px 28px -6px #0003,
      0px 2px 4px -1px #0000001f;
    --c-shaMDThiOut:
      0 0 0 2px #383836, 0px 14px 28px -6px #0003, 0px 2px 4px -1px #0000001f;
    --c-shaOutMd: 0px 0px 0px 1px #383836, 0px 4px 12px -2px #19191914;
    --c-shaOutSm: 0px 0px 0px 1px #383836, 0px 2px 4px 0px #19191914;
    --c-shaOutLg:
      0px 0px 0px 1px #383836, 0px 14px 28px -6px #19191933,
      0px 2px 4px -1px #1919191e;
    --c-shaOutDif: 0px 0px 0px 1px #383836, 0px 12px 32px 0px #19191966;
    --c-shaOutScr:
      0px 0px 0px 1px #383836, 0px 24px 48px 0px #191919a3,
      0px 4px 12px 0px #1919198f;
    --c-shaBasLg: 0px 14px 28px -6px #19191933, 0px 2px 4px -1px #1919191e;
    --c-shaBasMd: 0px 4px 12px -2px #19191914;
    --c-shaBasSm: 0px 2px 4px 0px #19191914;
    --c-shaBasScr: 0px 24px 48px 0px #191919a3, 0px 4px 12px 0px #1919198f;
    --c-shaBasDif: 0px 12px 32px 0px #19191966;
    --cd-aiChaButSel: #ffffff0a;
    --cd-aiChaButSelHov: #ffffff0f;
    --cd-aiChaButPre: #ffffff1f;
    --ca-staHov: #ffffff0e;
    --ca-staPre: #ffffff21;
    --ca-glaPag: #191919cc;
    --ca-glaWas: #202020cc;
    --c-froColDivShaBacFil: linear-gradient(
      to right,
      #78818726,
      #7881871a,
      #0000
    );
    --c-froColDivShaBac: linear-gradient(to right, #78818759, #78818733, #0000);
    --ca-swiButTeaBg: #7881874d;
    --ca-swiTogDesTraBg: #78818766;
    --ca-swiTogDesTraBgVar: #caccce4d;
  }
}
