openapi: 3.0.1
info:
  description: Specification for the realCity Query Server API.
  title: realCity Query Server API
  version: 1.0.1
servers:
  - description: BKK FUTÁR
    url: https://futar.bkk.hu/api/query/v1/ws
security:
  - ApiKeyQuery: []
paths:
  /{dialect}/api/where/alert-details:
    get:
      operationId: getAlertDetails
      parameters:
        - description: A lekért zavar azonosítója.
          example: BKK_máv-start-5518498
          in: query
          name: alertId
          required: true
          schema:
            $ref: "#/components/schemas/AgencyAndId"
        - description: Az API verziója.
          example: 2
          in: query
          name: version
          schema:
            $ref: "#/components/schemas/ApiVersion"
        - description: A kliensalkalmazás verziója.
          example: 1.1.abc
          in: query
          name: appVersion
          schema:
            type: string
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
        - description: A referenciák típusát határozza meg. `true` vagy `COMPACT` esetén minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route referenciák `description` mezője kihagyásra kerül.
          explode: false
          in: query
          name: includeReferences
          schema:
            type: array
            items:
              $ref: "#/components/schemas/ReferencesSchema"
          style: form
        - description: Ha igaz, akkor az útvonalhoz tartozó kapcsolódó útvonalak is szerepelnek a válaszban.
          example: false
          in: query
          name: related
          schema:
            type: boolean
            default: false
        - description: Az aktív zavarok lekéréséhez használt dátum. Alapértelmezett értéke az aktuális nap.
          example: 20210707
          in: query
          name: date
          schema:
            $ref: "#/components/schemas/ServiceDate"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlertDetailsMethodResponse"
          description: Visszaadja a zavar által érintett összes járat részleteit.
        "404":
          description: Ismeretlen zavar azonosító.
  /{dialect}/api/where/alert-search:
    get:
      operationId: searchAlerts
      parameters:
        - description: Az API verziója.
          example: 2
          in: query
          name: version
          schema:
            $ref: "#/components/schemas/ApiVersion"
        - description: A kliensalkalmazás verziója.
          example: 1.1.abc
          in: query
          name: appVersion
          schema:
            type: string
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
        - description: A keresési időintervallum vége epoch másodpercben.
          example: 1625695260
          in: query
          name: end
          schema:
            type: integer
            format: int64
        - description: Kiszűri az aktuális idő előtt lezárult zavarokat.
          example: true
          in: query
          name: filterClosed
          schema:
            type: boolean
            default: true
        - description: A zavar listához szűri meg a zavarokat.
          example: true
          in: query
          name: listView
          schema:
            type: boolean
        - description: A visszaadott elemek minimális száma.
          example: 5
          in: query
          name: minResult
          schema:
            type: integer
            format: int32
            default: 5
        - description: A keresési feltétel, amit a zavar fejlécével, leírásával, vagy azonosítójával illesztünk.
          example: BKK_bkkinfo-75694
          in: query
          name: query
          schema:
            type: string
        - description: A referenciák típusát határozza meg. `true` vagy `COMPACT` esetén minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route referenciák `description` mezője kihagyásra kerül.
          explode: false
          in: query
          name: includeReferences
          schema:
            type: array
            items:
              $ref: "#/components/schemas/ReferencesSchema"
          style: form
        - description: A keresés időintervallumának eleje epoch másodpercben.
          example: 1625695260
          in: query
          name: start
          schema:
            type: integer
            format: int64
        - description: A lekérdezés kiértékeléséhez használt időpont. Alapértelmezetten az aktuális szerveridő.
          example: 1625740980
          in: query
          name: time
          schema:
            type: integer
            format: int64
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlertSearchMethodResponse"
          description: Visszatér a `query` paraméterben megadott keresési feltételnek megfelelő zavarokkal, amik aktívak a megadott időintervallumnban.
  /{dialect}/api/where/arrivals-and-departures-for-location:
    get:
      operationId: getArrivalsAndDeparturesForLocation
      parameters:
        - description: Az API verziója.
          example: 2
          in: query
          name: version
          schema:
            $ref: "#/components/schemas/ApiVersion"
        - description: A kliensalkalmazás verziója.
          example: 1.1.abc
          in: query
          name: appVersion
          schema:
            type: string
        - description: A kliens szélességi koordinátája.
          example: 47.47375
          in: query
          name: clientLat
          schema:
            type: number
            format: double
            default: 0
        - description: A kliens hosszúsági koordinátája.
          example: 19.049086
          in: query
          name: clientLon
          schema:
            type: number
            format: double
            default: 0
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
        - description: Az indulásokat a megadott viszonylat módja szerint szűri.
          example: BUS
          explode: false
          in: query
          name: excludeRouteTypes
          schema:
            type: array
            items:
              $ref: "#/components/schemas/TraverseMode"
          style: form
        - description: Menetrendi adatok maximális száma egy csoportban.
          example: 2
          in: query
          name: groupLimit
          schema:
            type: integer
            format: int32
            default: 4
        - description: Amikor lehetséges, mindegyik azonosítóhoz legalább egy indulás/érkezés visszaadásra kerül.
          example: BKK_VP06,BKK_0090
          in: query
          name: includeRouteId
          schema:
            type: array
            items:
              $ref: "#/components/schemas/AgencyAndId"
        - description: Az indulásokat a megadott viszonylat módja szerint szűri.
          example: BUS
          explode: false
          in: query
          name: includeRouteTypes
          schema:
            type: array
            items:
              $ref: "#/components/schemas/TraverseMode"
          style: form
        - description: A menethez társított járművek kitöltése a válaszban
          example: false
          in: query
          name: includeVehicleFromTrip
          schema:
            type: boolean
        - description: A megállóhely induláshoz tartozó elem a jármű fordán lévő járművel legyen bővítve.
          example: false
          in: query
          name: includeVehicleFromVehicleBlock
          schema:
            type: boolean
        - description: A helyszín középpontjának szélessgéi koordinátája.
          example: 47.4973131430789
          in: query
          name: lat
          schema:
            type: number
            format: float
        - description: "A lekérési terület szélességi íve. (Terület szélessége: `lat +/- latspan`)."
          example: 0.013365429598373169
          in: query
          name: latSpan
          schema:
            type: number
            format: float
        - description: A visszaadott indulási és érkezési idők listájának maximális hossza.
          example: 60
          in: query
          name: limit
          schema:
            type: integer
            format: int32
            default: 60
        - description: A helyszín középpontjának hosszúsági koordinátája.
          example: 19.064639534671457
          in: query
          name: lon
          schema:
            type: number
            format: float
        - description: "A lekérési terület hosszúsági íve. (Terület hosszúsága: `lon +/- lonSpan`)."
          example: 0.032126676908724505
          in: query
          name: lonSpan
          schema:
            type: number
            format: float
        - description: A visszaadott elemek minimális száma.
          example: 5
          in: query
          name: minResult
          schema:
            type: integer
            format: int32
            default: 5
        - description: A lekérdezési időablak a `time` paraméter után ennyi perccel ér véget.
          example: 30
          in: query
          name: minutesAfter
          schema:
            type: integer
            format: int32
            default: 30
        - description: A lekérdezési időablak a `time` paraméter előtt ennyi perccel indul.
          example: 2
          in: query
          name: minutesBefore
          schema:
            type: integer
            format: int32
            default: 2
        - deprecated: true
          description: Ha igaz akkor csak az érkezési (és előrejelzett érkezési) idők nem szerepelnek a válaszban.
          example: false
          in: query
          name: onlyDepartures
          schema:
            type: boolean
            default: true
        - description: A válasz szűrésére használt keresési kifejezés.
          in: query
          name: query
          schema:
            type: string
        - description: Ha a `latSpan` vagy a `longSpan` nincs kitöltve, a keresési terület a középpontól számított `radius` méter távolság mind a négy irányban.
          example: 100
          in: query
          name: radius
          schema:
            type: integer
            format: int32
            default: 100
        - description: A referenciák típusát határozza meg. `true` vagy `COMPACT` esetén minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route referenciák `description` mezője kihagyásra kerül.
          explode: false
          in: query
          name: includeReferences
          schema:
            type: array
            items:
              $ref: "#/components/schemas/ReferencesSchema"
          style: form
        - description: A megállók azonosítóinak listája, amelyekhez a lekérést végezzük.
          example: BKK_F01029,BKK_F01029
          in: query
          name: stopId
          schema:
            type: array
            items:
              $ref: "#/components/schemas/AgencyAndId"
        - description: A visszaadott bejegyzések típusa.
          example: ARRIVAL_AND_DEPARTURE
          in: query
          name: stopTimeType
          schema:
            $ref: "#/components/schemas/StopTimeType"
        - description: A lekérdezés kiértékeléséhez használt időpont. Alapértelmezetten az aktuális szerveridő.
          example: 1625740980
          in: query
          name: time
          schema:
            type: integer
            format: int64
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrivalsAndDeparturesForLocationOTPMethodResponse"
          description: Visszaadja egy területhez tartozó érkezési és indulási időket járatazonosítók és célállomások szerint csoportosítva.
  /{dialect}/api/where/arrivals-and-departures-for-stop:
    get:
      operationId: getArrivalsAndDeparturesForStop
      parameters:
        - description: Az API verziója.
          example: 2
          in: query
          name: version
          schema:
            $ref: "#/components/schemas/ApiVersion"
        - description: A kliensalkalmazás verziója.
          example: 1.1.abc
          in: query
          name: appVersion
          schema:
            type: string
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
        - description: Az indulásokat a megadott viszonylat módja szerint szűri.
          example: BUS
          explode: false
          in: query
          name: excludeRouteTypes
          schema:
            type: array
            items:
              $ref: "#/components/schemas/TraverseMode"
          style: form
        - description: Amikor lehetséges, mindegyik azonosítóhoz legalább egy indulás/érkezés visszaadásra kerül.
          example: BKK_VP06,BKK_0090
          in: query
          name: includeRouteId
          schema:
            type: array
            items:
              $ref: "#/components/schemas/AgencyAndId"
        - description: Az indulásokat a megadott viszonylat módja szerint szűri.
          example: BUS
          explode: false
          in: query
          name: includeRouteTypes
          schema:
            type: array
            items:
              $ref: "#/components/schemas/TraverseMode"
          style: form
        - description: A menethez társított járművek kitöltése a válaszban
          example: false
          in: query
          name: includeVehicleFromTrip
          schema:
            type: boolean
        - description: A megállóhely induláshoz tartozó elem a jármű fordán lévő járművel legyen bővítve.
          example: false
          in: query
          name: includeVehicleFromVehicleBlock
          schema:
            type: boolean
        - description: A helyszín középpontjának szélessgéi koordinátája.
          example: 47.4973131430789
          in: query
          name: lat
          schema:
            type: number
            format: float
        - description: "A lekérési terület szélességi íve. (Terület szélessége: `lat +/- latspan`)."
          example: 0.013365429598373169
          in: query
          name: latSpan
          schema:
            type: number
            format: float
        - description: A visszaadott indulási és érkezési idők listájának maximális hossza.
          example: 60
          in: query
          name: limit
          schema:
            type: integer
            format: int32
            default: 60
        - description: A helyszín középpontjának hosszúsági koordinátája.
          example: 19.064639534671457
          in: query
          name: lon
          schema:
            type: number
            format: float
        - description: "A lekérési terület hosszúsági íve. (Terület hosszúsága: `lon +/- lonSpan`)."
          example: 0.032126676908724505
          in: query
          name: lonSpan
          schema:
            type: number
            format: float
        - description: A visszaadott elemek minimális száma.
          example: 5
          in: query
          name: minResult
          schema:
            type: integer
            format: int32
            default: 5
        - description: A lekérdezési időablak a `time` paraméter után ennyi perccel ér véget.
          example: 30
          in: query
          name: minutesAfter
          schema:
            type: integer
            format: int32
            default: 30
        - description: A lekérdezési időablak a `time` paraméter előtt ennyi perccel indul.
          example: 2
          in: query
          name: minutesBefore
          schema:
            type: integer
            format: int32
            default: 2
        - deprecated: true
          description: Ha igaz akkor csak az érkezési (és előrejelzett érkezési) idők nem szerepelnek a válaszban.
          example: false
          in: query
          name: onlyDepartures
          schema:
            type: boolean
            default: true
        - description: A válasz szűrésére használt keresési kifejezés.
          in: query
          name: query
          schema:
            type: string
        - description: Ha a `latSpan` vagy a `longSpan` nincs kitöltve, a keresési terület a középpontól számított `radius` méter távolság mind a négy irányban.
          example: 100
          in: query
          name: radius
          schema:
            type: integer
            format: int32
            default: 100
        - description: A referenciák típusát határozza meg. `true` vagy `COMPACT` esetén minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route referenciák `description` mezője kihagyásra kerül.
          explode: false
          in: query
          name: includeReferences
          schema:
            type: array
            items:
              $ref: "#/components/schemas/ReferencesSchema"
          style: form
        - description: A megállók azonosítóinak listája, amelyekhez a lekérést végezzük.
          example: BKK_F01029,BKK_F01029
          in: query
          name: stopId
          schema:
            type: array
            items:
              $ref: "#/components/schemas/AgencyAndId"
        - description: A visszaadott bejegyzések típusa.
          example: ARRIVAL_AND_DEPARTURE
          in: query
          name: stopTimeType
          schema:
            $ref: "#/components/schemas/StopTimeType"
        - description: A lekérdezés kiértékeléséhez használt időpont. Alapértelmezetten az aktuális szerveridő.
          example: 1625740980
          in: query
          name: time
          schema:
            type: integer
            format: int64
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrivalsAndDeparturesForStopOTPMethodResponse"
          description: Lekéri a megállóhoz tartozó érkezési és indulási időket.
  /{dialect}/api/where/bicycle-rental:
    get:
      operationId: getBicycleRentalStations
      parameters:
        - description: Az API verziója.
          example: 2
          in: query
          name: version
          schema:
            $ref: "#/components/schemas/ApiVersion"
        - description: A kliensalkalmazás verziója.
          example: 1.1.abc
          in: query
          name: appVersion
          schema:
            type: string
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
        - description: A referenciák típusát határozza meg. `true` vagy `COMPACT` esetén minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route referenciák `description` mezője kihagyásra kerül.
          explode: false
          in: query
          name: includeReferences
          schema:
            type: array
            items:
              $ref: "#/components/schemas/ReferencesSchema"
          style: form
        - description: A releváns állomások azonosítói.
          example: 42990788
          in: query
          name: stationId
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BicycleRentalMethodResponse"
          description: Visszatér az összes kerékpárkölcsönző állomással. A válasz a `stationId` paraméterrel szűrhető.
  /{dialect}/api/where/booking-redirect:
    get:
      operationId: bookingRedirect
      parameters:
        - description: A foglalási oldal szolgáltatójának azonosítója.
          example: BKK_BKK
          in: query
          name: agencyId
          schema:
            $ref: "#/components/schemas/AgencyAndId"
        - description: A leszállási megálló azonosítója.
          example: BKK_064215
          in: query
          name: alightStopId
          schema:
            $ref: "#/components/schemas/AgencyAndId"
        - description: Az API verziója.
          example: 2
          in: query
          name: version
          schema:
            $ref: "#/components/schemas/ApiVersion"
        - description: A kliensalkalmazás verziója.
          example: 1.1.abc
          in: query
          name: appVersion
          schema:
            type: string
        - description: A felszállási megálló azonosítója.
          example: BKK_064215
          in: query
          name: boardStopId
          schema:
            $ref: "#/components/schemas/AgencyAndId"
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
        - description: A járat íránya.
          example: 1
          in: query
          name: directionId
          schema:
            type: string
        - description: A járat azonosítója.
          example: BKK_0650
          in: query
          name: routeId
          schema:
            $ref: "#/components/schemas/AgencyAndId"
        - description: A menet üzem napja.
          example: 20220130
          in: query
          name: serviceDate
          schema:
            $ref: "#/components/schemas/ServiceDate"
        - description: A menet azonosítója.
          example: BKK_ADF5443
          in: query
          name: tripId
          schema:
            $ref: "#/components/schemas/AgencyAndId"
      responses:
        "302":
          description: Átírányit a foglalási oldalra.
        "404":
          description: A kért foglalási oldal nem található.
  /{dialect}/api/where/metadata:
    get:
      operationId: getMetadata
      parameters:
        - description: Az API verziója.
          example: 2
          in: query
          name: version
          schema:
            $ref: "#/components/schemas/ApiVersion"
        - description: A kliensalkalmazás verziója.
          example: 1.1.abc
          in: query
          name: appVersion
          schema:
            type: string
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
        - description: A lekérés kiértékelésének időpontja epoch másodpercben (az aktív zavarok lekéréséhez szükséges).A szerver ideje az alapértelmezett értéke.
          example: 1625666578
          in: query
          name: time
          schema:
            type: integer
            format: int64
        - description: A referenciák típusát határozza meg. `true` vagy `COMPACT` esetén minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route referenciák `description` mezője kihagyásra kerül.
          explode: false
          in: query
          name: includeReferences
          schema:
            type: array
            items:
              $ref: "#/components/schemas/ReferencesSchema"
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MetadataResponse"
          description: A szerver metaadataival tér vissza.
  /{dialect}/api/where/multi-route-details:
    get:
      operationId: getMultiRouteDetails
      parameters:
        - description: Az API verziója.
          example: 2
          in: query
          name: version
          schema:
            $ref: "#/components/schemas/ApiVersion"
        - description: A kliensalkalmazás verziója.
          example: 1.1.abc
          in: query
          name: appVersion
          schema:
            type: string
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
        - description: A referenciák típusát határozza meg. `true` vagy `COMPACT` esetén minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route referenciák `description` mezője kihagyásra kerül.
          explode: false
          in: query
          name: includeReferences
          schema:
            type: array
            items:
              $ref: "#/components/schemas/ReferencesSchema"
          style: form
        - description: Ha igaz, akkor az útvonalhoz tartozó kapcsolódó útvonalak is szerepelnek a válaszban.
          example: false
          in: query
          name: related
          schema:
            type: boolean
            default: false
        - description: A lekért járatok azonosítói.
          example: BKK_3040,BKK_3060
          in: query
          name: routeId
          required: true
          schema:
            type: array
            items:
              $ref: "#/components/schemas/AgencyAndId"
        - description: Az aktív zavarok lekéréséhez használt dátum. Alapértelmezett értéke az aktuális nap.
          example: 20210707
          in: query
          name: date
          schema:
            $ref: "#/components/schemas/ServiceDate"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MultiRouteDetailsMethodResponse"
          description: Az összes járatot visszaadja a megadott azonosítókhoz.
        "400":
          description: A `date` paramétert nem sikerült beolvasni.
        "404":
          description: Ismeretlen járat azonosító.
  /{dialect}/api/where/onboard-depart-search:
    post:
      operationId: searchForOnboardDepartVehicles
      parameters:
        - description: Az API verziója.
          example: 2
          in: query
          name: version
          schema:
            $ref: "#/components/schemas/ApiVersion"
        - description: A kliensalkalmazás verziója.
          example: 1.1.abc
          in: query
          name: appVersion
          schema:
            type: string
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
        - description: A referenciák típusát határozza meg. `true` vagy `COMPACT` esetén minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route referenciák `description` mezője kihagyásra kerül.
          explode: false
          in: query
          name: includeReferences
          schema:
            type: array
            items:
              $ref: "#/components/schemas/ReferencesSchema"
          style: form
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/OnboardDepartPosition"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OnboardDepartSearchMethodResponse"
          description: Visszatér az utas útvonalára illeszkedő járművekkel.
  /{dialect}/api/where/onboarding-button:
    get:
      operationId: getOnboardingButtonDeparturesForLocation
      parameters:
        - description: Az API verziója.
          example: 2
          in: query
          name: version
          schema:
            $ref: "#/components/schemas/ApiVersion"
        - description: A kliensalkalmazás verziója.
          example: 1.1.abc
          in: query
          name: appVersion
          schema:
            type: string
        - description: A kliens szélességi koordinátája.
          example: 47.47375
          in: query
          name: clientLat
          schema:
            type: number
            format: double
            default: 0
        - description: A kliens hosszúsági koordinátája.
          example: 19.049086
          in: query
          name: clientLon
          schema:
            type: number
            format: double
            default: 0
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
        - description: Az indulásokat a megadott viszonylat módja szerint szűri.
          example: BUS
          explode: false
          in: query
          name: excludeRouteTypes
          schema:
            type: array
            items:
              $ref: "#/components/schemas/TraverseMode"
          style: form
        - description: Menetrendi adatok maximális száma egy csoportban.
          example: 2
          in: query
          name: groupLimit
          schema:
            type: integer
            format: int32
            default: 4
        - description: Amikor lehetséges, mindegyik azonosítóhoz legalább egy indulás/érkezés visszaadásra kerül.
          example: BKK_VP06,BKK_0090
          in: query
          name: includeRouteId
          schema:
            type: array
            items:
              $ref: "#/components/schemas/AgencyAndId"
        - description: Az indulásokat a megadott viszonylat módja szerint szűri.
          example: BUS
          explode: false
          in: query
          name: includeRouteTypes
          schema:
            type: array
            items:
              $ref: "#/components/schemas/TraverseMode"
          style: form
        - description: A menethez társított járművek kitöltése a válaszban
          example: false
          in: query
          name: includeVehicleFromTrip
          schema:
            type: boolean
        - description: A megállóhely induláshoz tartozó elem a jármű fordán lévő járművel legyen bővítve.
          example: false
          in: query
          name: includeVehicleFromVehicleBlock
          schema:
            type: boolean
        - description: A helyszín középpontjának szélessgéi koordinátája.
          example: 47.4973131430789
          in: query
          name: lat
          schema:
            type: number
            format: float
        - description: "A lekérési terület szélességi íve. (Terület szélessége: `lat +/- latspan`)."
          example: 0.013365429598373169
          in: query
          name: latSpan
          schema:
            type: number
            format: float
        - description: A visszaadott indulási és érkezési idők listájának maximális hossza.
          example: 60
          in: query
          name: limit
          schema:
            type: integer
            format: int32
            default: 60
        - description: A helyszín középpontjának hosszúsági koordinátája.
          example: 19.064639534671457
          in: query
          name: lon
          schema:
            type: number
            format: float
        - description: "A lekérési terület hosszúsági íve. (Terület hosszúsága: `lon +/- lonSpan`)."
          example: 0.032126676908724505
          in: query
          name: lonSpan
          schema:
            type: number
            format: float
        - description: A visszaadott elemek minimális száma.
          example: 5
          in: query
          name: minResult
          schema:
            type: integer
            format: int32
            default: 5
        - description: A lekérdezési időablak a `time` paraméter után ennyi perccel ér véget.
          example: 30
          in: query
          name: minutesAfter
          schema:
            type: integer
            format: int32
            default: 30
        - description: A lekérdezési időablak a `time` paraméter előtt ennyi perccel indul.
          example: 2
          in: query
          name: minutesBefore
          schema:
            type: integer
            format: int32
            default: 2
        - deprecated: true
          description: Ha igaz akkor csak az érkezési (és előrejelzett érkezési) idők nem szerepelnek a válaszban.
          example: false
          in: query
          name: onlyDepartures
          schema:
            type: boolean
            default: true
        - description: A válasz szűrésére használt keresési kifejezés.
          in: query
          name: query
          schema:
            type: string
        - description: Ha a `latSpan` vagy a `longSpan` nincs kitöltve, a keresési terület a középpontól számított `radius` méter távolság mind a négy irányban.
          example: 100
          in: query
          name: radius
          schema:
            type: integer
            format: int32
            default: 100
        - description: A referenciák típusát határozza meg. `true` vagy `COMPACT` esetén minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route referenciák `description` mezője kihagyásra kerül.
          explode: false
          in: query
          name: includeReferences
          schema:
            type: array
            items:
              $ref: "#/components/schemas/ReferencesSchema"
          style: form
        - description: A megállók azonosítóinak listája, amelyekhez a lekérést végezzük.
          example: BKK_F01029,BKK_F01029
          in: query
          name: stopId
          schema:
            type: array
            items:
              $ref: "#/components/schemas/AgencyAndId"
        - description: A visszaadott bejegyzések típusa.
          example: ARRIVAL_AND_DEPARTURE
          in: query
          name: stopTimeType
          schema:
            $ref: "#/components/schemas/StopTimeType"
        - description: A lekérdezés kiértékeléséhez használt időpont. Alapértelmezetten az aktuális szerveridő.
          example: 1625740980
          in: query
          name: time
          schema:
            type: integer
            format: int64
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrivalsAndDeparturesForLocationOTPMethodResponse"
          description: Visszaadja egy területhez tartozó érkezési és indulási időket járatazonosítók és célállomások szerint csoportosítva.
  /{dialect}/api/where/plan-access:
    get:
      operationId: planAccess
      parameters:
        - description: Az API verziója.
          example: 2
          in: query
          name: version
          schema:
            $ref: "#/components/schemas/ApiVersion"
        - description: A kliensalkalmazás verziója.
          example: 1.1.abc
          in: query
          name: appVersion
          schema:
            type: string
        - description: Érkezési időre tervezzünk-e a megadott `date` és `time` paraméterrel.
          example: true
          in: query
          name: arriveBy
          schema:
            type: boolean
        - description: A dátum, amikor a tervezés indul (`arriveBy` esetén érkezik).
          example: "2021-07-09"
          in: query
          name: date
          schema:
            type: string
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
        - description: Az indulási hely adatai `név::hely` formában. A `név` az adott hely tetszőleges neve, amely az útiterv kiindulási pontjának lesz a neve (`leg.from.name`). A `hely` lehet koordináta `lat,lon` formában, vagy a geocoder API által visszaadott `vertex` azonosítója.
          example: BKK Központi Ügyfélszolgálat::47.4985022,19.0551266
          in: query
          name: fromPlace
          required: true
          schema:
            type: string
        - description: A tervező milyen közlekedési módokat használjon. A kerékpár kölcsönzés a `BICYCLE,WALK` paraméterekkel kapcsolható be.
          example: TRANSIT,WALK
          explode: false
          in: query
          name: mode
          required: true
          schema:
            type: array
            items:
              $ref: "#/components/schemas/TraverseMode"
          style: form
        - description: Legfeljebb hány útvonal szerepeljen a válaszban.
          example: 5
          in: query
          name: numItineraries
          schema:
            type: integer
            format: int32
        - description: A kereső mire optimalizálja az útvonalakat.
          example: BEST
          in: query
          name: optimize
          schema:
            $ref: "#/components/schemas/OptimizeType"
        - description: A referenciák típusát határozza meg. `true` vagy `COMPACT` esetén minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route referenciák `description` mezője kihagyásra kerül.
          explode: false
          in: query
          name: includeReferences
          schema:
            type: array
            items:
              $ref: "#/components/schemas/ReferencesSchema"
          style: form
        - description: Az első járműre szállás előtt történjen-e jegyvásárlás.
          example: true
          in: query
          name: shouldBuyTickets
          schema:
            type: boolean
        - description: A válasz tartalmazza-e a járatok által érintett köztes megállókat is.
          example: true
          in: query
          name: showIntermediateStops
          schema:
            type: boolean
        - description: Az idő, amikor a tervezés indul (`arriveBy` esetén érkezik).
          example: "11:35"
          in: query
          name: time
          schema:
            type: string
        - description: Az érkezési hely adatai `név::hely` formában. A `név` az adott hely tetszőleges neve, amely az útiterv érkezési pontjának lesz a neve (`leg.to.name`). A `hely` lehet koordináta `lat,lon` formában, vagy a geocoder API által visszaadott `vertex` azonosítója.
          example: Mechwart liget::BKK:CSF00195
          in: query
          name: toPlace
          required: true
          schema:
            type: string
        - description: Kerékpáros háromszög módú tervezés esetén mennyire számít a biztonság. 0 és 1 közötti szám, és 1-et kell kiadnia a másik két faktor összegével.
          example: 0.5
          in: query
          name: triangleSafetyFactor
          schema:
            type: number
            format: double
        - description: Kerékpáros háromszög módú tervezés esetén mennyire számít az útvonal síksága. 0 és 1 közötti szám, és 1-et kell kiadnia a másik két faktor összegével.
          example: 0
          in: query
          name: triangleSlopeFactor
          schema:
            type: number
            format: double
        - description: Kerékpáros háromszög módú tervezés esetén mennyire számít a gyorsaság. 0 és 1 közötti szám, és 1-et kell kiadnia a másik két faktor összegével.
          example: 0.5
          in: query
          name: triangleTimeFactor
          schema:
            type: number
            format: double
        - description: A séta sebességét meghatározó profil.
          example: MID
          in: query
          name: walkProfile
          schema:
            $ref: "#/components/schemas/WalkProfile"
        - description: Az összes járat alacsonypadlós legyen-e.
          example: false
          in: query
          name: wheelchair
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlanTripResponse"
          description: A megadott paraméterekkel tervez megállóba útvonalat.
  /{dialect}/api/where/plan-trip:
    get:
      operationId: planTrip
      parameters:
        - description: Az API verziója.
          example: 2
          in: query
          name: version
          schema:
            $ref: "#/components/schemas/ApiVersion"
        - description: A kliensalkalmazás verziója.
          example: 1.1.abc
          in: query
          name: appVersion
          schema:
            type: string
        - description: Érkezési időre tervezzünk-e a megadott `date` és `time` paraméterrel.
          example: true
          in: query
          name: arriveBy
          schema:
            type: boolean
        - description: A dátum, amikor a tervezés indul (`arriveBy` esetén érkezik).
          example: "2021-07-09"
          in: query
          name: date
          schema:
            type: string
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
        - description: Az indulási hely adatai `név::hely` formában. A `név` az adott hely tetszőleges neve, amely az útiterv kiindulási pontjának lesz a neve (`leg.from.name`). A `hely` lehet koordináta `lat,lon` formában, vagy a geocoder API által visszaadott `vertex` azonosítója.
          example: BKK Központi Ügyfélszolgálat::47.4985022,19.0551266
          in: query
          name: fromPlace
          required: true
          schema:
            type: string
        - description: A tervező milyen közlekedési módokat használjon. A kerékpár kölcsönzés a `BICYCLE,WALK` paraméterekkel kapcsolható be.
          example: TRANSIT,WALK
          explode: false
          in: query
          name: mode
          required: true
          schema:
            type: array
            items:
              $ref: "#/components/schemas/TraverseMode"
          style: form
        - description: Legfeljebb hány útvonal szerepeljen a válaszban.
          example: 5
          in: query
          name: numItineraries
          schema:
            type: integer
            format: int32
        - description: A kereső mire optimalizálja az útvonalakat.
          example: BEST
          in: query
          name: optimize
          schema:
            $ref: "#/components/schemas/OptimizeType"
        - description: A referenciák típusát határozza meg. `true` vagy `COMPACT` esetén minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route referenciák `description` mezője kihagyásra kerül.
          explode: false
          in: query
          name: includeReferences
          schema:
            type: array
            items:
              $ref: "#/components/schemas/ReferencesSchema"
          style: form
        - description: Az első járműre szállás előtt történjen-e jegyvásárlás.
          example: true
          in: query
          name: shouldBuyTickets
          schema:
            type: boolean
        - description: A válasz tartalmazza-e a járatok által érintett köztes megállókat is.
          example: true
          in: query
          name: showIntermediateStops
          schema:
            type: boolean
        - description: Az idő, amikor a tervezés indul (`arriveBy` esetén érkezik).
          example: "11:35"
          in: query
          name: time
          schema:
            type: string
        - description: Az érkezési hely adatai `név::hely` formában. A `név` az adott hely tetszőleges neve, amely az útiterv érkezési pontjának lesz a neve (`leg.to.name`). A `hely` lehet koordináta `lat,lon` formában, vagy a geocoder API által visszaadott `vertex` azonosítója.
          example: Mechwart liget::BKK:CSF00195
          in: query
          name: toPlace
          required: true
          schema:
            type: string
        - description: Kerékpáros háromszög módú tervezés esetén mennyire számít a biztonság. 0 és 1 közötti szám, és 1-et kell kiadnia a másik két faktor összegével.
          example: 0.5
          in: query
          name: triangleSafetyFactor
          schema:
            type: number
            format: double
        - description: Kerékpáros háromszög módú tervezés esetén mennyire számít az útvonal síksága. 0 és 1 közötti szám, és 1-et kell kiadnia a másik két faktor összegével.
          example: 0
          in: query
          name: triangleSlopeFactor
          schema:
            type: number
            format: double
        - description: Kerékpáros háromszög módú tervezés esetén mennyire számít a gyorsaság. 0 és 1 közötti szám, és 1-et kell kiadnia a másik két faktor összegével.
          example: 0.5
          in: query
          name: triangleTimeFactor
          schema:
            type: number
            format: double
        - description: A séta sebességét meghatározó profil.
          example: MID
          in: query
          name: walkProfile
          schema:
            $ref: "#/components/schemas/WalkProfile"
        - description: Az összes járat alacsonypadlós legyen-e.
          example: false
          in: query
          name: wheelchair
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlanTripResponse"
          description: A megadott paraméterekkel tervez útvonalat.
  /{dialect}/api/where/references:
    get:
      operationId: getReferences
      parameters:
        - description: A szolgáltató ID-je.
          example: BKK_BKK
          in: query
          name: agencyId
          schema:
            type: array
            items:
              $ref: "#/components/schemas/AgencyAndId"
        - description: A zavar ID-je.
          example: BKK_bkkinfo-81404
          in: query
          name: alertId
          schema:
            type: array
            items:
              $ref: "#/components/schemas/AgencyAndId"
        - description: Az API verziója.
          example: 2
          in: query
          name: version
          schema:
            $ref: "#/components/schemas/ApiVersion"
        - description: A kliensalkalmazás verziója.
          example: 1.1.abc
          in: query
          name: appVersion
          schema:
            type: string
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
        - description: A referenciák típusát határozza meg. `true` vagy `COMPACT` esetén minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route referenciák `description` mezője kihagyásra kerül.
          explode: false
          in: query
          name: includeReferences
          schema:
            type: array
            items:
              $ref: "#/components/schemas/ReferencesSchema"
          style: form
        - description: A járat ID-ja.
          example: BKK_3040
          in: query
          name: routeId
          schema:
            type: array
            items:
              $ref: "#/components/schemas/AgencyAndId"
        - description: A megálló ID-ja.
          example: BKK_F00001
          in: query
          name: stopId
          schema:
            type: array
            items:
              $ref: "#/components/schemas/AgencyAndId"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReferencesMethodResponse"
          description: ID alapú referencia lekérdezés.
  /{dialect}/api/where/route-details:
    get:
      operationId: getRouteDetails
      parameters:
        - description: Az API verziója.
          example: 2
          in: query
          name: version
          schema:
            $ref: "#/components/schemas/ApiVersion"
        - description: A kliensalkalmazás verziója.
          example: 1.1.abc
          in: query
          name: appVersion
          schema:
            type: string
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
        - description: A referenciák típusát határozza meg. `true` vagy `COMPACT` esetén minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route referenciák `description` mezője kihagyásra kerül.
          explode: false
          in: query
          name: includeReferences
          schema:
            type: array
            items:
              $ref: "#/components/schemas/ReferencesSchema"
          style: form
        - description: Ha igaz, akkor az útvonalhoz tartozó kapcsolódó útvonalak is szerepelnek a válaszban.
          example: false
          in: query
          name: related
          schema:
            type: boolean
            default: false
        - description: A járat ID-ja.
          example: BKK_3040
          in: query
          name: routeId
          required: true
          schema:
            $ref: "#/components/schemas/AgencyAndId"
        - description: Az aktív zavarok lekéréséhez használt dátum. Alapértelmezett értéke az aktuális nap.
          example: 20210707
          in: query
          name: date
          schema:
            $ref: "#/components/schemas/ServiceDate"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RouteDetailsMethodResponse"
          description: Visszaadja a megadott ID-val rendelkező járatot.
        "400":
          description: Rossz formátumú a `date` paraméter.
        "404":
          description: Az ID-hoz nem található járat.
  /{dialect}/api/where/route-details-for-stop:
    get:
      operationId: getRouteDetailsForStop
      parameters:
        - description: Az API verziója.
          example: 2
          in: query
          name: version
          schema:
            $ref: "#/components/schemas/ApiVersion"
        - description: A kliensalkalmazás verziója.
          example: 1.1.abc
          in: query
          name: appVersion
          schema:
            type: string
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
        - description: A referenciák típusát határozza meg. `true` vagy `COMPACT` esetén minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route referenciák `description` mezője kihagyásra kerül.
          explode: false
          in: query
          name: includeReferences
          schema:
            type: array
            items:
              $ref: "#/components/schemas/ReferencesSchema"
          style: form
        - description: A lekért megálló azonosítója.
          example: BKK_F01294
          in: query
          name: stopId
          schema:
            $ref: "#/components/schemas/AgencyAndId"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RouteDetailsForStopMethodResponse"
          description: A megállóhoz és a testvérmegállóihoz tartozó összes járattal tér vissza.
        "404":
          description: Ismeretlen megálló azonosító.
  /{dialect}/api/where/schedule-for-stop:
    get:
      operationId: getScheduleForStop
      parameters:
        - description: Az API verziója.
          example: 2
          in: query
          name: version
          schema:
            $ref: "#/components/schemas/ApiVersion"
        - description: A kliensalkalmazás verziója.
          example: 1.1.abc
          in: query
          name: appVersion
          schema:
            type: string
        - description: A kért dátum.
          example: 20210708
          in: query
          name: date
          schema:
            type: string
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
        - description: Igaz esetén az érkezési és előrejelzett érkezési idők ki lesznek hagyva a válaszból.
          example: false
          in: query
          name: onlyDepartures
          schema:
            type: boolean
            default: true
        - description: A referenciák típusát határozza meg. `true` vagy `COMPACT` esetén minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route referenciák `description` mezője kihagyásra kerül.
          explode: false
          in: query
          name: includeReferences
          schema:
            type: array
            items:
              $ref: "#/components/schemas/ReferencesSchema"
          style: form
        - description: A releváns megállók azonosítói.
          example: BKK_F01294,BKK_F01294
          in: query
          name: stopId
          schema:
            type: array
            items:
              $ref: "#/components/schemas/AgencyAndId"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScheduleForStopOTPMethodResponse"
          description: Visszaadja a menetrendet az adott megállóhoz.
        "400":
          description: Nem sikerült beolvasni a dátumot.
        "404":
          description: Ismeretlen stopId.
  /{dialect}/api/where/search:
    get:
      operationId: search
      parameters:
        - description: Az API verziója.
          example: 2
          in: query
          name: version
          schema:
            $ref: "#/components/schemas/ApiVersion"
        - description: A kliensalkalmazás verziója.
          example: 1.1.abc
          in: query
          name: appVersion
          schema:
            type: string
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
        - description: A látható térkép középpontjának szélessgéi koordinátája.
          example: 47.4973131430789
          in: query
          name: lat
          schema:
            type: number
            format: float
        - description: A látható térkép középpontjának hosszúsági koordinátája.
          example: 19.064639534671457
          in: query
          name: lon
          schema:
            type: number
            format: float
        - description: A visszaadott elemek minimális száma.
          example: 5
          in: query
          name: minResult
          schema:
            type: integer
            format: int32
            default: 5
        - description: Szűrőfeltétel, amire illesztve vannak a zavarok, járatok és megállók.
          example: BKK_bkkinfo-75694
          in: query
          name: query
          schema:
            type: string
        - description: A referenciák típusát határozza meg. `true` vagy `COMPACT` esetén minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route referenciák `description` mezője kihagyásra kerül.
          explode: false
          in: query
          name: includeReferences
          schema:
            type: array
            items:
              $ref: "#/components/schemas/ReferencesSchema"
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchMethodResponse"
          description: Visszaadja az olyan zavarokat, megállókat és járatokat, amelyek tulajdonságai illeszkednek a megadott szűrőrfeltételre.
  /{dialect}/api/where/statistics:
    get:
      operationId: getStatistics
      parameters:
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatisticsResponse"
          description: Egyszerű végpont hibakereséshez, ami egy "OK" választ ad vissza.
  /{dialect}/api/where/stops-for-location:
    get:
      operationId: getStopsForLocation
      parameters:
        - description: Az API verziója.
          example: 2
          in: query
          name: version
          schema:
            $ref: "#/components/schemas/ApiVersion"
        - description: A kliensalkalmazás verziója.
          example: 1.1.abc
          in: query
          name: appVersion
          schema:
            type: string
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
        - description: A helyszín középpontjának szélessgéi koordinátája.
          example: 47.4973131430789
          in: query
          name: lat
          schema:
            type: number
            format: float
        - description: "A lekérési terület szélességi íve. (Terület szélessége: `lat +/- latspan`)."
          example: 0.013365429598373169
          in: query
          name: latSpan
          schema:
            type: number
            format: float
        - description: A helyszín középpontjának hosszúsági koordinátája.
          example: 19.064639534671457
          in: query
          name: lon
          schema:
            type: number
            format: float
        - description: "A lekérési terület hosszúsági íve. (Terület hosszúsága: `lon +/- lonSpan`)."
          example: 0.032126676908724505
          in: query
          name: lonSpan
          schema:
            type: number
            format: float
        - description: A visszaadott elemek minimális száma.
          example: 5
          in: query
          name: minResult
          schema:
            type: integer
            format: int32
            default: 5
        - description: A válasz szűrésére használt keresési kifejezés.
          in: query
          name: query
          schema:
            type: string
        - description: Ha a `latSpan` vagy a `longSpan` nincs kitöltve, a keresési terület a középpontól számított `radius` méter távolság mind a négy irányban.
          example: 100
          in: query
          name: radius
          schema:
            type: integer
            format: int32
            default: 100
        - description: A referenciák típusát határozza meg. `true` vagy `COMPACT` esetén minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route referenciák `description` mezője kihagyásra kerül.
          explode: false
          in: query
          name: includeReferences
          schema:
            type: array
            items:
              $ref: "#/components/schemas/ReferencesSchema"
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StopsForLocationResponse"
          description: Egy megállólistát ad vissza az adott helyhez.
  /{dialect}/api/where/ticketing-locations:
    get:
      operationId: getTicketingData
      parameters:
        - description: Az API verziója.
          example: 2
          in: query
          name: version
          schema:
            $ref: "#/components/schemas/ApiVersion"
        - description: A kliensalkalmazás verziója.
          example: 1.1.abc
          in: query
          name: appVersion
          schema:
            type: string
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
        - description: Ha igaz, és az adat változott az `ifModifiedSince` query paraméterben megadott időpont óta, akkor az összes adat visszaadásra kerül. Ha nincs megadva csak a módosult elemek szerepelnek a válaszban. Csak az `ifModifiedSince` query paraméterrel együtt szerepelhet, mivel az `If-Modified-Since` fejléc minden esetben a teljes választ tartalmazza.
          example: true
          in: query
          name: full
          schema:
            type: boolean
        - description: Ha meg van adva, akkor csak abban az esetben érkezik vissza adat, ha az változott a megadott időpont óta. Különben HTTP 304 a válasz. A query paraméternek elsőbbsége van ezzel szemben.
          example: Fri, 21 Jan 2022 09:48:43 GMT+01:00
          in: header
          name: If-Modified-Since
          schema:
            type: string
            format: date-time
        - description: Csak azokat az elemeket adjuk vissza, amik módosultak az itt megadott időbélyeg (UNIX időbélyeg másodpercben) után. Ha nincs változás üres listákkal tér vissza. Elsőbbsége van a header paraméterrel szemben.
          example: 1625685137
          in: query
          name: ifModifiedSince
          schema:
            type: integer
            format: int64
            default: -1
        - description: A referenciák típusát határozza meg. `true` vagy `COMPACT` esetén minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route referenciák `description` mezője kihagyásra kerül.
          explode: false
          in: query
          name: includeReferences
          schema:
            type: array
            items:
              $ref: "#/components/schemas/ReferencesSchema"
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TicketingMethodResponse"
          description: Visszaadja a jegyértékesítő helyeket és jegytípusokat.
        "304":
          description: Nem változott az adat az `ifModifiedSince` query vagy header paraméterben megadott időpont óta.
  /{dialect}/api/where/trip-details:
    get:
      operationId: getTripDetails
      parameters:
        - description: Az API verziója.
          example: 2
          in: query
          name: version
          schema:
            $ref: "#/components/schemas/ApiVersion"
        - description: A kliensalkalmazás verziója.
          example: 1.1.abc
          in: query
          name: appVersion
          schema:
            type: string
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
        - description: Ha meg van adva, akkor csak abban az esetben érkezik vissza adat, ha az változott a megadott időpont óta. Különben HTTP 304 a válasz. A query paraméternek elsőbbsége van ezzel szemben.
          example: Fri, 21 Jan 2022 09:48:43 GMT+01:00
          in: header
          name: If-Modified-Since
          schema:
            type: string
            format: date-time
        - description: Akkor adunk vissza adatot, ha az módosult az itt megadott időbélyeg (UNIX időbélyeg másodpercben) után. Ellenkező esetben HTTP 304 a válasz, ha nincs változás. Elsőbbsége van a header paraméterrel szemben.
          example: 1625685137
          in: query
          name: ifModifiedSince
          schema:
            type: integer
            format: int64
            default: -1
        - description: A referenciák típusát határozza meg. `true` vagy `COMPACT` esetén minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route referenciák `description` mezője kihagyásra kerül.
          explode: false
          in: query
          name: includeReferences
          schema:
            type: array
            items:
              $ref: "#/components/schemas/ReferencesSchema"
          style: form
        - description: Ha nincs kitöltve a járműazonosító, ezen a dátumon lesz keresve az adott azonosítójú menet.
          example: 20210708
          in: query
          name: date
          schema:
            $ref: "#/components/schemas/ServiceDate"
        - description: Ha nincs kitöltve a járműazonosító, az itt megadott azonosítóval rendelkező menet lesz a válaszban.
          example: BKK_C23556161
          in: query
          name: tripId
          schema:
            $ref: "#/components/schemas/AgencyAndId"
        - description: Amennyiben meg van adva, azon menet érkezik a válaszban, amit az adott jármű teljesít.
          example: BKK_4510
          in: query
          name: vehicleId
          schema:
            $ref: "#/components/schemas/AgencyAndId"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TripDetailsOTPMethodResponse"
          description: Visszaadja a részletes információit egy menetnek, ami az azonosítója és a dátum alapján, vagy az azt teljesítő jármű azonosítója alapján lett lekérve.
        "304":
          description: Nem változott az adat az `ifModifiedSince` paraméterben megadott időpont óta.
        "400":
          description: Nem sikerült beolvasni a dátumot.
        "404":
          description: "A következő esetek egyike: -Ismeretlen járműazonosító. -Ismereten menetazonosító. -A kért menet nem közlekedik az adott napon."
  /{dialect}/api/where/vehicle-for-trip:
    get:
      operationId: getVehicleForTrip
      parameters:
        - description: Az API verziója.
          example: 2
          in: query
          name: version
          schema:
            $ref: "#/components/schemas/ApiVersion"
        - description: A kliensalkalmazás verziója.
          example: 1.1.abc
          in: query
          name: appVersion
          schema:
            type: string
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
        - description: Ha meg van adva, akkor csak abban az esetben érkezik vissza adat, ha az változott a megadott időpont óta. Különben HTTP 304 a válasz. A query paraméternek elsőbbsége van ezzel szemben.
          example: Fri, 21 Jan 2022 09:48:43 GMT+01:00
          in: header
          name: If-Modified-Since
          schema:
            type: string
            format: date-time
        - description: Akkor adunk vissza adatot, ha az módosult az itt megadott időbélyeg (UNIX időbélyeg másodpercben) után. Ellenkező esetben HTTP 304 a válasz, ha nincs változás. Elsőbbsége van a header paraméterrel szemben.
          example: 1625685137
          in: query
          name: ifModifiedSince
          schema:
            type: integer
            format: int64
            default: -1
        - description: A referenciák típusát határozza meg. `true` vagy `COMPACT` esetén minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route referenciák `description` mezője kihagyásra kerül.
          explode: false
          in: query
          name: includeReferences
          schema:
            type: array
            items:
              $ref: "#/components/schemas/ReferencesSchema"
          style: form
        - description: A lekért menetrendi napok. Alapértelmezetten az aktuális nap.
          example: BKK_F01081
          in: query
          name: date
          schema:
            type: array
            items:
              $ref: "#/components/schemas/ServiceDate"
        - description: A lekért menetek azonosítói.
          example: BKK_C3135012112,BKK_C3135012044
          in: query
          name: tripId
          required: true
          schema:
            type: array
            items:
              $ref: "#/components/schemas/AgencyAndId"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VehicleForTripMethodResponse"
          description: Visszatér a megadott menetekhez és menetrendi napokhoz tartozó járművekkel.
        "304":
          description: Nem változott az adat az `ifModifiedSince` paraméterben megadott időpont óta.
        "400":
          description: A menet azonosítókat és menetrendi napokat tartalmazó tömbök mérete nem egyezik.
        "404":
          description: Az egyik menet azonosítóhoz nem található menet.
  /{dialect}/api/where/vehicles:
    get:
      operationId: getVehicles
      parameters:
        - description: Az API verziója.
          example: 2
          in: query
          name: version
          schema:
            $ref: "#/components/schemas/ApiVersion"
        - description: A kliensalkalmazás verziója.
          example: 1.1.abc
          in: query
          name: appVersion
          schema:
            type: string
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
        - description: Ha meg van adva, akkor csak abban az esetben érkezik vissza adat, ha az változott a megadott időpont óta. Különben HTTP 304 a válasz. A query paraméternek elsőbbsége van ezzel szemben.
          example: Fri, 21 Jan 2022 09:48:43 GMT+01:00
          in: header
          name: If-Modified-Since
          schema:
            type: string
            format: date-time
        - description: Akkor adunk vissza adatot, ha az módosult az itt megadott időbélyeg (UNIX időbélyeg másodpercben) után. Ellenkező esetben HTTP 304 a válasz, ha nincs változás. Elsőbbsége van a header paraméterrel szemben.
          example: 1625685137
          in: query
          name: ifModifiedSince
          schema:
            type: integer
            format: int64
            default: -1
        - description: A referenciák típusát határozza meg. `true` vagy `COMPACT` esetén minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route referenciák `description` mezője kihagyásra kerül.
          explode: false
          in: query
          name: includeReferences
          schema:
            type: array
            items:
              $ref: "#/components/schemas/ReferencesSchema"
          style: form
        - description: A lekért járművek azonosítói.
          example: BKK_2035
          in: query
          name: vehicleId
          required: true
          schema:
            type: array
            items:
              $ref: "#/components/schemas/AgencyAndId"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VehiclesMethodResponse"
          description: Vehicle id alapú referencia lekérdezés
        "304":
          description: Nem változott az adat az `ifModifiedSince` paraméterben megadott időpont óta.
  /{dialect}/api/where/vehicles-for-location:
    get:
      operationId: getVehiclesForLocation
      parameters:
        - description: Az API verziója.
          example: 2
          in: query
          name: version
          schema:
            $ref: "#/components/schemas/ApiVersion"
        - description: A kliensalkalmazás verziója.
          example: 1.1.abc
          in: query
          name: appVersion
          schema:
            type: string
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
        - description: Ha meg van adva, akkor csak abban az esetben érkezik vissza adat, ha az változott a megadott időpont óta. Különben HTTP 304 a válasz. A query paraméternek elsőbbsége van ezzel szemben.
          example: Fri, 21 Jan 2022 09:48:43 GMT+01:00
          in: header
          name: If-Modified-Since
          schema:
            type: string
            format: date-time
        - description: Akkor adunk vissza adatot, ha az módosult az itt megadott időbélyeg (UNIX időbélyeg másodpercben) után. Ellenkező esetben HTTP 304 a válasz, ha nincs változás. Elsőbbsége van a header paraméterrel szemben.
          example: 1625685137
          in: query
          name: ifModifiedSince
          schema:
            type: integer
            format: int64
            default: -1
        - description: A terület középpontjának szélességi koordinátája.
          example: 47.4973131430789
          in: query
          name: lat
          schema:
            type: number
            format: float
        - description: "A lekérési terület szélességi íve. (Terület szélessége: `lat +/- latspan`)."
          example: 0.013365429598373169
          in: query
          name: latSpan
          schema:
            type: number
            format: float
        - description: A terület középpontjának hosszúsági koordinátája.
          example: 19.064639534671457
          in: query
          name: lon
          schema:
            type: number
            format: float
        - description: "A lekérési terület hosszúsági íve. (Terület hosszúsága: `lon +/- lonSpan`)."
          example: 0.032126676908724505
          in: query
          name: lonSpan
          schema:
            type: number
            format: float
        - description: A válasz listát szűrő feltétel, amit tartalmaznia kell a jármű azonosítójának, rendszámának vagy a típusának.
          example: BKK_4510
          in: query
          name: query
          schema:
            type: string
        - description: Ha a `latSpan` vagy a `longSpan` nincs kitöltve, a keresési terület a középpontól számított `radius` méter távolság mind a négy irányban.
          example: 100
          in: query
          name: radius
          schema:
            type: integer
            format: int32
            default: 100
        - description: A referenciák típusát határozza meg. `true` vagy `COMPACT` esetén minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route referenciák `description` mezője kihagyásra kerül.
          explode: false
          in: query
          name: includeReferences
          schema:
            type: array
            items:
              $ref: "#/components/schemas/ReferencesSchema"
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VehiclesForLocationMethodResponse"
          description: Visszatér az adott területen található összes járművel. Ha a `lat` vagy a `lon` null, az összes jármű benne lesz a válaszban.
        "304":
          description: Nem változott az adat az `ifModifiedSince` paraméterben megadott időpont óta.
  /{dialect}/api/where/vehicles-for-route:
    get:
      operationId: getVehiclesForRoute
      parameters:
        - description: Az API verziója.
          example: 2
          in: query
          name: version
          schema:
            $ref: "#/components/schemas/ApiVersion"
        - description: A kliensalkalmazás verziója.
          example: 1.1.abc
          in: query
          name: appVersion
          schema:
            type: string
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
        - description: Ha meg van adva, akkor csak abban az esetben érkezik vissza adat, ha az változott a megadott időpont óta. Különben HTTP 304 a válasz. A query paraméternek elsőbbsége van ezzel szemben.
          example: Fri, 21 Jan 2022 09:48:43 GMT+01:00
          in: header
          name: If-Modified-Since
          schema:
            type: string
            format: date-time
        - description: Akkor adunk vissza adatot, ha az módosult az itt megadott időbélyeg (UNIX időbélyeg másodpercben) után. Ellenkező esetben HTTP 304 a válasz, ha nincs változás. Elsőbbsége van a header paraméterrel szemben.
          example: 1625685137
          in: query
          name: ifModifiedSince
          schema:
            type: integer
            format: int64
            default: -1
        - description: A referenciák típusát határozza meg. `true` vagy `COMPACT` esetén minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route referenciák `description` mezője kihagyásra kerül.
          explode: false
          in: query
          name: includeReferences
          schema:
            type: array
            items:
              $ref: "#/components/schemas/ReferencesSchema"
          style: form
        - description: Tartalmazza-e a válasz a kapcsolódó járatokat is a referenciákban.
          example: false
          in: query
          name: related
          schema:
            type: boolean
            default: false
        - description: A lekért járatok azonosítói.
          example: BKK_3040,BKK_3060
          in: query
          name: routeId
          required: true
          schema:
            type: array
            items:
              $ref: "#/components/schemas/AgencyAndId"
            uniqueItems: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VehiclesForRouteMethodResponse"
          description: A megadott járat azonosítókhoz tartozó járművekkel tér vissza.
        "304":
          description: Nem változott az adat az `ifModifiedSince` paraméterben megadott időpont óta.
        "404":
          description: A járat azonosítóhoz nem található járat.
  /{dialect}/api/where/vehicles-for-stop:
    get:
      operationId: getVehiclesForStop
      parameters:
        - description: Az API verziója.
          example: 2
          in: query
          name: version
          schema:
            $ref: "#/components/schemas/ApiVersion"
        - description: A kliensalkalmazás verziója.
          example: 1.1.abc
          in: query
          name: appVersion
          schema:
            type: string
        - description: Az API referenciáinak dialektusa.
          example: otp
          in: path
          name: dialect
          required: true
          schema:
            $ref: "#/components/schemas/Dialect"
        - description: Ha meg van adva, akkor csak abban az esetben érkezik vissza adat, ha az változott a megadott időpont óta. Különben HTTP 304 a válasz. A query paraméternek elsőbbsége van ezzel szemben.
          example: Fri, 21 Jan 2022 09:48:43 GMT+01:00
          in: header
          name: If-Modified-Since
          schema:
            type: string
            format: date-time
        - description: Akkor adunk vissza adatot, ha az módosult az itt megadott időbélyeg (UNIX időbélyeg másodpercben) után. Ellenkező esetben HTTP 304 a válasz, ha nincs változás. Elsőbbsége van a header paraméterrel szemben.
          example: 1625685137
          in: query
          name: ifModifiedSince
          schema:
            type: integer
            format: int64
            default: -1
        - description: A referenciák típusát határozza meg. `true` vagy `COMPACT` esetén minden referencia szerepel, `false` esetén üres. `COMPACT` módban a route referenciák `description` mezője kihagyásra kerül.
          explode: false
          in: query
          name: includeReferences
          schema:
            type: array
            items:
              $ref: "#/components/schemas/ReferencesSchema"
          style: form
        - description: A lekért megálló azonosítója.
          example: BKK_F01081
          in: query
          name: stopId
          required: true
          schema:
            $ref: "#/components/schemas/AgencyAndId"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VehiclesForStopMethodResponse"
          description: Visszaadja az összes járművet, ami olyan menetet teljesít, ami tartalmazza a megadott megállót.
        "304":
          description: Nem változott az adat az `ifModifiedSince` paraméterben megadott időpont óta.
        "404":
          description: A megálló azonosítóhoz nem található megálló.
components:
  schemas:
    AbsoluteDirection:
      type: string
      description: A lépés abszolút iránya.
      enum:
        - NORTH
        - NORTHEAST
        - EAST
        - SOUTHEAST
        - SOUTH
        - SOUTHWEST
        - WEST
        - NORTHWEST
      example: WEST
    AgencyAndId:
      type: string
      description: Entitás azonosító
      example: BKK_DF544
    AlertDetailsMethodResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
          description: A válasz státusz kódja.
          example: 200
        currentTime:
          type: integer
          format: int64
          description: Az aktuális szerveridő ezredmásodpercben.
          example: 1625747515786
        data:
          $ref: "#/components/schemas/TransitEntryWithReferencesTransitAlertDetails"
        status:
          $ref: "#/components/schemas/Status"
        text:
          type: string
          description: A válasz szövege.
          example: OK
        version:
          type: integer
          format: int32
          description: A válasz API verziója.
          example: 3
      required:
        - code
        - currentTime
        - data
        - status
        - text
        - version
    AlertSearchMethodResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
          description: A válasz státusz kódja.
          example: 200
        currentTime:
          type: integer
          format: int64
          description: Az aktuális szerveridő ezredmásodpercben.
          example: 1625747515786
        data:
          $ref: "#/components/schemas/TransitEntryWithReferencesTransitSearch"
        status:
          $ref: "#/components/schemas/Status"
        text:
          type: string
          description: A válasz szövege.
          example: OK
        version:
          type: integer
          format: int32
          description: A válasz API verziója.
          example: 3
      required:
        - code
        - currentTime
        - data
        - status
        - text
        - version
    ApiVersion:
      type: string
      default: "2"
      enum:
        - "2"
        - "3"
        - "4"
        - "5"
    ArrivalsAndDeparturesForLocationOTPMethodResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
          description: A válasz státusz kódja.
          example: 200
        currentTime:
          type: integer
          format: int64
          description: Az aktuális szerveridő ezredmásodpercben.
          example: 1625747515786
        data:
          $ref: "#/components/schemas/TransitListEntryWithReferencesTransitDepartureGroup"
        status:
          $ref: "#/components/schemas/Status"
        text:
          type: string
          description: A válasz szövege.
          example: OK
        version:
          type: integer
          format: int32
          description: A válasz API verziója.
          example: 3
      required:
        - code
        - currentTime
        - data
        - status
        - text
        - version
    ArrivalsAndDeparturesForStopOTPMethodResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
          description: A válasz státusz kódja.
          example: 200
        currentTime:
          type: integer
          format: int64
          description: Az aktuális szerveridő ezredmásodpercben.
          example: 1625747515786
        data:
          $ref: "#/components/schemas/TransitEntryWithReferencesTransitArrivalsAndDepartures"
        status:
          $ref: "#/components/schemas/Status"
        text:
          type: string
          description: A válasz szövege.
          example: OK
        version:
          type: integer
          format: int32
          description: A válasz API verziója.
          example: 3
      required:
        - code
        - currentTime
        - data
        - status
        - text
        - version
    BicycleRentalMethodResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
          description: A válasz státusz kódja.
          example: 200
        currentTime:
          type: integer
          format: int64
          description: Az aktuális szerveridő ezredmásodpercben.
          example: 1625747515786
        data:
          $ref: "#/components/schemas/TransitListEntryWithReferencesTransitBikeRentalStation"
        status:
          $ref: "#/components/schemas/Status"
        text:
          type: string
          description: A válasz szövege.
          example: OK
        version:
          type: integer
          format: int32
          description: A válasz API verziója.
          example: 3
      required:
        - code
        - currentTime
        - data
        - status
        - text
        - version
    BicycleStreetDirection:
      type: string
      description: A szakasz egyirányúsága.
      enum:
        - BIDIRECTIONAL
        - ONEWAY_WITH_TRAFFIC
        - ONEWAY_AGAINST_TRAFFIC
      example: ONEWAY_WITH_TRAFFIC
    BikeDisplayedLeg:
      type: object
      allOf:
        - $ref: "#/components/schemas/DisplayedLeg"
        - type: object
          properties:
            rented:
              type: boolean
              description: Jelzi, hogy a lábat bérelt kerékpárral kell bejárni.
              example: true
      required:
        - name
        - rented
        - time
        - type
        - walkTo
    BikeStreetCategory:
      type: string
      description: Kerékpáros útszakaszok kategórizálásai.
      enum:
        - CYCLEWAY
        - CYCLELANE
        - LOW_TRAFFIC
        - OTHER
        - PEDESTRIAN
      example: LOW_TRAFFIC
    CongestionLevel:
      type: string
      description: A járműhöz tartozó torlódási állapot.
      enum:
        - UNKNOWN
        - CONGESTION
      example: CONGESTION
      nullable: true
    DayOfWeek:
      type: string
      description: A nyitvatartási idő napja. Lehet HOL (ünnepnap) és 0247 (éjjel-nappali).
      enum:
        - MON
        - TUE
        - WED
        - THU
        - FRI
        - SAT
        - SUN
        - HOL
        - O247
      example: TUE
    DestinationDisplayedLeg:
      type: object
      allOf:
        - $ref: "#/components/schemas/DisplayedLeg"
      required:
        - name
        - time
        - type
        - walkTo
    Dialect:
      type: string
      enum:
        - otp
        - mobile
    DisplayedLeg:
      type: object
      description: Az útiterv kivonatos megjelenítéséhez használható  lábak és adatok.
      discriminator:
        mapping:
          bike: "#/components/schemas/BikeDisplayedLeg"
          destination: "#/components/schemas/DestinationDisplayedLeg"
          route: "#/components/schemas/RouteDisplayedLeg"
          ticketing: "#/components/schemas/TicketingDisplayedLeg"
          walk: "#/components/schemas/WalkDisplayedLeg"
        propertyName: type
      properties:
        first:
          type: boolean
          description: Jelzi, ha a láb az első az útitervben.
          example: true
        last:
          type: boolean
          description: Jelzi, ha a láb az utolsó az útitervben.
          example: true
        name:
          type: string
          description: Az indulási hely neve, kivéve az utolsón, ahol a érkezési helyé.
          example: realCity ITS Kft.
        time:
          type: integer
          format: int64
          description: Az utolsó lábon az érkezési idő, az összes többin az indulási.
          example: 1625825460000
        type:
          $ref: "#/components/schemas/DisplayedLegType"
        walkTo:
          type: boolean
          description: Jelzi, hogy a láb nem tranzit típusú.
          example: true
      required:
        - name
        - time
        - type
        - walkTo
    DisplayedLegType:
      type: string
      description: A láb típusa.
      enum:
        - bike
        - destination
        - route
        - ticketing
        - walk
      example: route
    EffectType:
      type: string
      description: A zavar hatásának típusa.
      enum:
        - NO_SERVICE
        - WARNING
    ElevationPoint:
      type: object
      description: A lábhoz tartozó magassági adatok.
      example: []
      properties:
        distance:
          type: number
          format: double
          description: A magassági pont távolsága a láb kezdetéhez képest méterben.
          example: 10.871
        elevation:
          type: number
          format: double
          description: A pont magassága.
          example: 0
          nullable: true
      required:
        - distance
        - elevation
    EncodedPolylineBean:
      type: object
      description: A szakasz geometriája.
      properties:
        length:
          type: integer
          format: int32
          description: A geometria (polyline) pontjainak száma.
          example: 3
        points:
          type: string
          description: A geometria (polyline) pontjai kódolva.
          example: o{sxFl}vaMjDpCf@\
      required:
        - length
        - points
    Itinerary:
      type: object
      description: A talált útvonalak listája.
      properties:
        bikeCategoryDistances:
          type: object
          additionalProperties:
            type: number
            format: double
            description: Az útiterv során hány méter kerékpározást tartalmaztak az egyes kategóriák. Az objektum kulcsai a kategóriák (`BikeStreetCategory`).
          description: Az útiterv során hány méter kerékpározást tartalmaztak az egyes kategóriák. Az objektum kulcsai a kategóriák (`BikeStreetCategory`).
          example:
            LOW_TRAFFIC: 12
        bikeDistance:
          type: number
          format: double
          description: Kerékpározási távolság az útvonalon méterben.
          example: 826.7
        bikeTime:
          type: integer
          format: int64
          description: Kerékpározási idő az útvonalon másodpercben.
          example: 620
        displayProductRecommendation:
          type: boolean
          description: Jelzi, ha az útvonalhoz kell termékajánlást mutatni.
          example: true
        displayedLegs:
          type: array
          description: Az útiterv kivonatos megjelenítéséhez használható  lábak és adatok.
          items:
            $ref: "#/components/schemas/DisplayedLeg"
        duration:
          type: integer
          format: int64
          description: Az útvonal hossza másodpercben.
          example: 1732
        elevationGained:
          type: number
          format: double
          description: Az útiterv során hány métert emelkedik az útvonal.
          example: 0
        elevationLost:
          type: number
          format: double
          description: Az útiterv során hány métert süllyed az útvonal.
          example: 0
        endTime:
          type: string
          format: date-time
          description: Az érkezési időpont ezredmásodpercben.
        generalizedCost:
          type: integer
          format: int32
          description: Az utazástervező algoritmus által használt súly.
          example: 998
        legs:
          type: array
          description: Az útiterv lábai (részei).
          items:
            $ref: "#/components/schemas/Leg"
        notAllTicketsAvailable:
          type: boolean
          description: "Jelzi, hogy a visszaadott útvonalak tartalmazhatnak olyan járatokat (pl.: vonatok), amire a terv során érintett jegyértékesítési helyen nem lehet jegyet váltani."
          example: false
        patternDuration:
          $ref: "#/components/schemas/PatternStatistics"
        patternFrequency:
          $ref: "#/components/schemas/PatternStatistics"
        patternItineraries:
          type: array
          description: Útitervminták engedélyezése esetén a mintába tartozó útitervek.
          items:
            $ref: "#/components/schemas/Itinerary"
        startTime:
          type: string
          format: date-time
          description: Az indulási időpont ezredmásodpercben.
        tooSloped:
          type: boolean
          description: Jelzi, ha az útvonal meredekebb, mint a paraméterekben kért.
          example: false
        transfers:
          type: integer
          format: int32
          description: Átszállások száma az útitervben.
          example: 1
        transitTime:
          type: integer
          format: int64
          description: Járművön töltött idő az útvonalon másodpercben.
          example: 620
        waitTimeAdjustedGeneralizedCost:
          type: integer
          format: int32
          description: A várakozási idővel igazított súly.
          example: 998
        waitingTime:
          type: integer
          format: int64
          description: Várakozási idő járműre az útvonalon másodpercben.
          example: 620
        walkDistance:
          type: number
          format: double
          description: Sétálási távolság az útvonalon méterben.
          example: 826.7
        walkLimitExceeded:
          type: boolean
          description: Jelzi, hogy a sétálási limit túl lett lépve az útitervben.
          example: false
        walkTime:
          type: integer
          format: int64
          description: Sétálási idő az útvonalon másodpercben.
          example: 620
      required:
        - bikeDistance
        - bikeTime
        - duration
        - elevationGained
        - elevationLost
        - endTime
        - generalizedCost
        - legs
        - notAllTicketsAvailable
        - startTime
        - tooSloped
        - transfers
        - transitTime
        - waitTimeAdjustedGeneralizedCost
        - waitingTime
        - walkDistance
        - walkLimitExceeded
        - walkTime
    Leg:
      type: object
      description: Az útiterv lábai (részei).
      properties:
        agencyId:
          type: string
          description: Tranzit láb esetén a járatot biztosító szolgáltató azonosítója.
          example: BKK_BKK
        agencyName:
          type: string
          description: Tranzit láb esetén a járatot biztosító szolgáltató neve.
          example: BKK
        agencyTimeZoneOffset:
          type: integer
          format: int32
          description: Tranzit láb esetén a járatot biztosító szolgáltató időzónájának eltolódása.
          example: 0
        agencyUrl:
          type: string
          description: Tranzit láb esetén a járatot biztosító szolgáltató linkje.
          example: https://www.bkk.hu
        alertIds:
          type: array
          description: A lábhoz tartozó aktív zavarok azonosítói.
          example:
            - BKK_bkkinfo-75685
          items:
            type: string
            description: A lábhoz tartozó aktív zavarok azonosítói.
            example: '["BKK_bkkinfo-75685"]'
        alightRule:
          type: string
          description: Igényvezérelt menet esetén a leszállási szabály.
          example: coordinateWithDriver
        arrivalDelay:
          type: integer
          format: int32
          description: Tranzit láb esetén a láb vége és a tényleges leszállás közötti késleltetés.
          example: 0
        boardRule:
          type: string
          description: Igényvezérelt menet esetén a felszállási szabály.
          example: mustPhone
        departureDelay:
          type: integer
          format: int32
          description: Tranzit láb esetén a láb indulása és a tényleges felszállás közötti késleltetés.
          example: 0
        distance:
          type: number
          format: double
          description: A láb bejárása alatt megtett táv méterben.
          example: 209.215
        duration:
          type: integer
          format: int64
          description: A láb hossza ezredmásodpercben.
          example: 361000
        endTime:
          type: string
          format: date-time
          description: A láb vége ezredmásodpercben.
        from:
          $ref: "#/components/schemas/Place"
        generalizedCost:
          type: integer
          format: int32
          description: Az utazástervező algoritmus által használt súly.
          example: 998
        hasAlertInPattern:
          type: boolean
          description: Útiterv minták esetén jelzi, hogy a mintában a megfelelő lábak valamelyikén szerepel aktív riasztás. Nincs kitöltve, ha az útiterv minták ki vannak kapcsolva.
          example: true
        headsign:
          type: string
          description: Tranzit láb esetén a menet célállomása.
          example: Nagyvárad tér M
        interlineWithPreviousLeg:
          type: boolean
          description: Jelzi, hogy az utas maradjon a járművön a végállomásnál, mert másik menetként folytatódik (hurokjárat).
          example: false
        intermediateStops:
          type: array
          description: Tranzit láb esetén a köztes megállók a láb kezdete és végződése között.
          items:
            $ref: "#/components/schemas/Place"
        legElevation:
          type: array
          description: A lábhoz tartozó magassági adatok.
          example: []
          items:
            $ref: "#/components/schemas/ElevationPoint"
        legGeometry:
          $ref: "#/components/schemas/EncodedPolylineBean"
        mode:
          $ref: "#/components/schemas/TraverseMode"
        onBoardAccess:
          type: boolean
          default: false
          description: Igaz, ha járatról történt a tervezés.
          example: true
        pathway:
          type: boolean
          description: Jelzi, hogy a láb egy pathway (pl. metró lejáró).
          example: false
        realTime:
          type: boolean
          description: Jelzi, hogy a láb adatai valós idejű forrásból származnak.
          example: true
        rentedBike:
          type: boolean
          description: Jelzi, hogy a lábat bérelt kerékpárral kell bejárni.
          example: true
        requiresBooking:
          type: boolean
          description: Igaz, ha szükséges foglalás.
          example: true
        routeColor:
          type: string
          description: Tranzit láb esetén a járat hátterének színe a megjelenítéséhez.
          example: 009FE3
        routeId:
          type: string
          description: Tranzit láb esetén a járat azonosítója.
          example: BKK_MP53
        routeIds:
          type: array
          description: Útiterv minták esetén, a lábnak a mintában megfelelő, más lábakon használt járatok azonosítóinak listája.
          example:
            - BKK_MP53
          items:
            type: string
            description: Útiterv minták esetén, a lábnak a mintában megfelelő, más lábakon használt járatok azonosítóinak listája.
            example: '["BKK_MP53"]'
        routeLongName:
          type: string
          description: Tranzit láb esetén a járat hosszú neve.
          example: M3
        routeShortName:
          type: string
[...]
