@import "tailwindcss";
@import "tw-animate-css";

@import "./notion-theme.css";

@custom-variant dark (&:is(.dark *));

@custom-variant radix-popper-wrapper (& [data-radix-popper-content-wrapper]);

@theme inline {
  --color-tex-pri: var(--nk-texPri); 
  --color-tex-sec: var(--nk-texSec);
  --color-tex-ter: var(--nk-texTer);
  --color-tex-dis: var(--nk-texDis);
  --color-tex-acc-pri: var(--nk-texAccPri);
  --color-ico-pri: var(--nk-icoPri);
  --color-ico-sec: var(--nk-icoSec);
  --color-ico-ter: var(--nk-icoTer);
  --color-ico-dis: var(--nk-icoDis);
  --color-ico-acc-pri: var(--nk-icoAccPri);
  --color-bor-pri: var(--nk-borPri);
  --color-bor-sec: var(--nk-borSec);
  --color-bor-acc-pri: var(--nk-borAccPri);
  --color-bac-pri: var(--nk-bacPri);
  --color-bac-sec: var(--nk-bacSec);
  --color-bac-ter: var(--nk-bacTer);
  --color-bac-ele: var(--nk-bacEle);
  --color-bac-acc-pri: var(--nk-bacAccPri);
  --color-bac-acc-sec: var(--nk-bacAccSec);


  /* Shadow */
  --shadow-out-sm: var(--nk-shadOutSm);
  --shadow-out-md: var(--nk-shadOutMd);
  --shadow-out-lg: var(--nk-shadOutLg);


  /* Border radius */
  --radius: 0.5rem;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius));
  --radius-lg: calc(var(--radius) + 2px);
  --radius-xl: calc(var(--radius) + 4px);
  /* Text size */
  --leading-tight: 1.2;
  /* Animate */
  --animate-bg: background 200ms ease;
  --animate-bg-in: background 20ms ease-in;
  --animate-bg-out: background 200ms ease-out;
  /* Z indexes */
  --z-col: 30;
  --z-row: 40;
  --z-menu: 50;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-main text-primary;
  }
}

@utility notion-scrollbar {
  &::-webkit-scrollbar {
    @apply w-2.5;
  }
  &::-webkit-scrollbar-button {
    @apply hidden;
  }
  &::-webkit-scrollbar-thumb {
    @apply min-h-11 rounded-full border-solid border-popover bg-muted bg-clip-padding;
    @variant dark {
      @apply bg-main;
    }
  }
}

@utility cursor-webkit-grab {
  cursor: -webkit-grab;
}

@utility overflow-x-initial {
  overflow-x: initial;
}
