:root {
  color-scheme: light;
  /* palette */
  --nk-palUiBlu50: rgba(35, 131, 226, 0.035);
  --nk-palUiBlu75: rgba(35, 131, 226, 0.05);
  --nk-palUiBlu100: rgba(35, 131, 226, 0.07);
  --nk-palUiBlu200: rgba(35, 131, 226, 0.14);
  --nk-palUiBlu300: rgba(35, 131, 226, 0.21);
  --nk-palUiBlu400: rgba(35, 131, 226, 0.35);
  --nk-palUiBlu500: rgba(35, 131, 226, 0.57);
  --nk-palUiBlu600: #2383e2;
  --nk-palUiBlu700: #105fad;
  --nk-palPin30: rgba(231, 147, 188, 0.07);
  --nk-palPin50: #fcf1f6;
  --nk-palPin100: rgba(225, 136, 179, 0.27);
  --nk-palPin200: rgba(204, 92, 146, 0.4);
  --nk-palPin300: rgba(209, 91, 148, 0.65);
  --nk-palPin400: rgba(196, 84, 138, 0.82);
  --nk-palPin500: #c14c8a;
  --nk-palPin600: #a2336f;
  --nk-palPin700: #6f3151;
  --nk-palPin800: #4c2337;
  --nk-palPin900: #2c1420;
  --nk-palPur30: rgba(206, 175, 229, 0.07);
  --nk-palPur50: #f8f3fc;
  --nk-palPur100: rgba(168, 129, 197, 0.27);
  --nk-palPur200: rgba(141, 98, 174, 0.4);
  --nk-palPur300: rgba(154, 114, 185, 0.65);
  --nk-palPur400: rgba(148, 103, 182, 0.82);
  --nk-palPur500: #9065b0;
  --nk-palPur600: #754d92;
  --nk-palPur700: #5a3872;
  --nk-palPur800: #412454;
  --nk-palPur900: #26152e;
  --nk-palGre30: rgba(123, 183, 129, 0.07);
  --nk-palGre50: #edf3ec;
  --nk-palGre100: rgba(123, 183, 129, 0.27);
  --nk-palGre200: rgba(80, 144, 103, 0.4);
  --nk-palGre300: rgba(80, 144, 103, 0.65);
  --nk-palGre400: rgba(66, 133, 90, 0.82);
  --nk-palGre500: #448361;
  --nk-palGre600: #33684e;
  --nk-palGre700: #1f4f3b;
  --nk-palGre800: #1c3829;
  --nk-palGre900: #102416;
  --nk-palGra0: #fff;
  --nk-palGra30: rgba(84, 72, 49, 0.04);
  --nk-palGra50: #f8f8f7;
  --nk-palGra75: rgba(84, 72, 49, 0.08);
  --nk-palGra90: rgba(227, 226, 224, 0.7);
  --nk-palGra100: rgba(84, 72, 49, 0.15);
  --nk-palGra200: rgba(81, 73, 60, 0.32);
  --nk-palGra300: rgba(70, 68, 64, 0.45);
  --nk-palGra400: rgba(71, 70, 68, 0.6);
  --nk-palGra500: #73726e;
  --nk-palGra600: #5f5e5b;
  --nk-palGra700: #484743;
  --nk-palGra800: #32302c;
  --nk-palGra900: #1d1b16;
  --nk-palTraGra30: rgba(0, 0, 0, 0.01);
  --nk-palTraGra50: rgba(0, 0, 0, 0.04);
  --nk-palTraGra75: rgba(0, 0, 0, 0.05);
  --nk-palTraGra100: rgba(0, 0, 0, 0.06);
  --nk-palTraGra200: rgba(0, 0, 0, 0.07);
  --nk-palTraGra300: rgba(0, 0, 0, 0.11);
  --nk-palTraGra400: rgba(0, 0, 0, 0.157);
  --nk-palTraGra500: rgba(0, 0, 0, 0.333);
  --nk-palTraGra600: rgba(0, 0, 0, 0.46);
  --nk-palTraGra700: rgba(0, 0, 0, 0.62);
  --nk-palTraGra800: rgba(0, 0, 0, 0.816);
  --nk-palTraGra850: rgba(0, 0, 0, 0.89);
  --nk-palTraGra900: rgba(0, 0, 0, 0.99);
  --nk-palOra30: rgba(224, 124, 57, 0.07);
  --nk-palOra50: #fbecdd;
  --nk-palOra100: rgba(224, 124, 57, 0.27);
  --nk-palOra200: rgba(217, 95, 13, 0.4);
  --nk-palOra300: rgba(217, 95, 13, 0.65);
  --nk-palOra400: rgba(217, 95, 13, 0.82);
  --nk-palOra500: #d9730d;
  --nk-palOra600: #8d4e17;
  --nk-palOra700: #6a3b12;
  --nk-palOra800: #49290e;
  --nk-palOra900: #281809;
  --nk-palBro30: rgba(210, 162, 141, 0.07);
  --nk-palBro50: #f4eeee;
  --nk-palBro100: rgba(210, 162, 141, 0.35);
  --nk-palBro200: rgba(156, 76, 40, 0.32);
  --nk-palBro300: rgba(156, 76, 40, 0.5);
  --nk-palBro400: rgba(156, 76, 40, 0.68);
  --nk-palBro500: #9f6b53;
  --nk-palBro600: #80543f;
  --nk-palBro700: #613e2e;
  --nk-palBro800: #442a1e;
  --nk-palBro900: #2d1506;
  --nk-palRed30: rgba(243, 136, 118, 0.07);
  --nk-palRed50: #fdebec;
  --nk-palRed100: rgba(244, 171, 159, 0.4);
  --nk-palRed200: rgba(215, 38, 21, 0.32);
  --nk-palRed300: rgba(215, 38, 21, 0.5);
  --nk-palRed400: rgba(215, 38, 21, 0.68);
  --nk-palRed500: #cd3c3a;
  --nk-palRed600: #ae2f2e;
  --nk-palRed700: #862120;
  --nk-palRed800: #5d1715;
  --nk-palRed900: #30130f;
  --nk-palYel30: rgba(215, 177, 24, 0.07);
  --nk-palYel50: #fbf3db;
  --nk-palYel100: rgba(236, 191, 66, 0.39);
  --nk-palYel200: rgba(229, 175, 25, 0.55);
  --nk-palYel300: rgba(215, 150, 9, 0.75);
  --nk-palYel400: rgba(192, 125, 0, 0.82);
  --nk-palYel500: #cb912f;
  --nk-palYel600: #835e33;
  --nk-palYel700: #5f4023;
  --nk-palYel800: #402c1b;
  --nk-palYel900: #251910;
  --nk-palBlu30: rgba(91, 166, 209, 0.07);
  --nk-palBlu50: #e7f3f8;
  --nk-palBlu100: rgba(93, 165, 206, 0.27);
  --nk-palBlu200: rgba(57, 135, 184, 0.4);
  --nk-palBlu300: rgba(63, 137, 184, 0.65);
  --nk-palBlu400: rgba(54, 129, 177, 0.82);
  --nk-palBlu500: #337ea9;
  --nk-palBlu600: #2d6387;
  --nk-palBlu700: #1f4a68;
  --nk-palBlu800: #183347;
  --nk-palBlu900: #0c1d2b;
  --nk-palPagGla0: rgba(255, 255, 255, 0.8);
  --nk-palWasGla0: rgba(249, 249, 248, 0.8);
  /* text, icon, border */
  --nk-bluTexPri: #264a72;
  --nk-bluTexSec: #387dc9;
  --nk-bluTexTer: #83abe1;
  --nk-bluTexDis: #b6d4f3;
  --nk-bluTexAccPri: #2783de;
  --nk-bluTexInvPri: #f3f9fd;
  --nk-bluTexInvSec: #b6d4f3;
  --nk-bluTexDisTra: rgba(0, 112, 219, 0.286);
  --nk-bluIcoPri: #264a72;
  --nk-bluIcoSec: #387dc9;
  --nk-bluIcoTer: #83abe1;
  --nk-bluIcoDis: #b6d4f3;
  --nk-bluIcoAccPri: #2783de;
  --nk-bluIcoInvPri: #f3f9fd;
  --nk-bluIcoInvSec: #b6d4f3;
  --nk-bluBorPri: #cee3f7;
  --nk-bluBorSec: #e5f2fc;
  --nk-bluBorInvPri: #355f8b;
  --nk-bluBorAccPri: #2783de;
  --nk-bluBorStr: #b6d4f3;
  --nk-bluBorPriTra: rgba(0, 118, 217, 0.204);
  --nk-bluBorSecTra: rgba(0, 124, 215, 0.094);
  --nk-bluBorStrTra: rgba(0, 112, 219, 0.286);
  --nk-bluBacPri: #f3f9fd;
  --nk-bluBacSec: #e5f2fc;
  --nk-bluBacTer: #cee3f7;
  --nk-bluBacEle: #fff;
  --nk-bluBacAccPri: #2783de;
  --nk-bluBacAccSec: #5e9fe8;
  --nk-bluBacPriTra: rgba(0, 128, 213, 0.047);
  --nk-bluBacSecTra: rgba(0, 124, 215, 0.094);
  --nk-bluBacTerTra: rgba(0, 118, 217, 0.204);
  --nk-broTexPri: #584437;
  --nk-broTexSec: #9f765a;
  --nk-broTexTer: #bca290;
  --nk-broTexDis: #e0cdc0;
  --nk-broTexAccPri: #b68965;
  --nk-broTexInvPri: #faf8f6;
  --nk-broTexInvSec: #e0cdc0;
  --nk-broTexDisTra: rgba(129, 52, 0, 0.247);
  --nk-broIcoPri: #584437;
  --nk-broIcoSec: #9f765a;
  --nk-broIcoTer: #bca290;
  --nk-broIcoDis: #e0cdc0;
  --nk-broIcoAccPri: #b68965;
  --nk-broIcoInvPri: #faf8f6;
  --nk-broIcoInvSec: #e0cdc0;
  --nk-broBorPri: #ebdfd7;
  --nk-broBorSec: #f5ede9;
  --nk-broBorInvPri: #6d5340;
  --nk-broBorAccPri: #b68965;
  --nk-broBorStr: #e0cdc0;
  --nk-broBorPriTra: rgba(127, 51, 0, 0.157);
  --nk-broBorSecTra: rgba(139, 46, 0, 0.086);
  --nk-broBorStrTra: rgba(129, 52, 0, 0.247);
  --nk-broBacPri: #faf8f6;
  --nk-broBacSec: #f5ede9;
  --nk-broBacTer: #ebdfd7;
  --nk-broBacEle: #fff;
  --nk-broBacAccPri: #b68965;
  --nk-broBacAccSec: #bd9576;
  --nk-broBacPriTra: rgba(115, 59, 3, 0.035);
  --nk-broBacSecTra: rgba(139, 46, 0, 0.086);
  --nk-broBacTerTra: rgba(127, 51, 0, 0.157);
  --nk-graTexPri: #494846;
  --nk-graTexSec: #7d7a75;
  --nk-graTexTer: #ada9a3;
  --nk-graTexDis: #d4d3cf;
  --nk-graTexAccPri: #8e8b86;
  --nk-graTexInvPri: #f9f8f7;
  --nk-graTexInvSec: #d4d3cf;
  --nk-graTexDisTra: rgba(27, 21, 0, 0.19);
  --nk-graIcoPri: #494846;
  --nk-graIcoSec: #7d7a75;
  --nk-graIcoTer: #ada9a3;
  --nk-graIcoDis: #d4d3cf;
  --nk-graIcoAccPri: #8e8b86;
  --nk-graIcoInvPri: #f9f8f7;
  --nk-graIcoInvSec: #d4d3cf;
  --nk-graBorPri: #e6e5e3;
  --nk-graBorSec: #f0efed;
  --nk-graBorInvPri: #5f5e59;
  --nk-graBorAccPri: #8e8b86;
  --nk-graBorStr: #d4d3cf;
  --nk-graBorPriTra: rgba(28, 19, 1, 0.11);
  --nk-graBorSecTra: rgba(42, 28, 0, 0.07);
  --nk-graBorStrTra: rgba(27, 21, 0, 0.19);
  --nk-graBacPri: #f9f8f7;
  --nk-graBacSec: #f0efed;
  --nk-graBacTer: #e6e5e3;
  --nk-graBacEle: #fff;
  --nk-graBacAccPri: #8e8b86;
  --nk-graBacAccSec: #a19e99;
  --nk-graBacPriTra: rgba(66, 35, 3, 0.03);
  --nk-graBacSecTra: rgba(42, 28, 0, 0.07);
  --nk-graBacTerTra: rgba(28, 19, 1, 0.11);
  --nk-greTexPri: #2a533c;
  --nk-greTexSec: #50946e;
  --nk-greTexTer: #8bb79d;
  --nk-greTexDis: #bed9c9;
  --nk-greTexAccPri: #46a171;
  --nk-greTexInvPri: #f6f9f7;
  --nk-greTexInvSec: #bed9c9;
  --nk-greTexDisTra: rgba(0, 106, 43, 0.255);
  --nk-greIcoPri: #2a533c;
  --nk-greIcoSec: #50946e;
  --nk-greIcoTer: #8bb79d;
  --nk-greIcoDis: #bed9c9;
  --nk-greIcoAccPri: #46a171;
  --nk-greIcoInvPri: #f6f9f7;
  --nk-greIcoInvSec: #bed9c9;
  --nk-greBorPri: #d7e6dd;
  --nk-greBorSec: #e8f1ec;
  --nk-greBorInvPri: #37674c;
  --nk-greBorAccPri: #46a171;
  --nk-greBorStr: #bed9c9;
  --nk-greBorPriTra: rgba(0, 96, 38, 0.157);
  --nk-greBorSecTra: rgba(0, 100, 45, 0.09);
  --nk-greBorStrTra: rgba(0, 106, 43, 0.255);
  --nk-greBacPri: #f6f9f7;
  --nk-greBacSec: #e8f1ec;
  --nk-greBacTer: #d7e6dd;
  --nk-greBacEle: #fff;
  --nk-greBacAccPri: #46a171;
  --nk-greBacAccSec: #72bc8f;
  --nk-greBacPriTra: rgba(3, 87, 31, 0.035);
  --nk-greBacSecTra: rgba(0, 100, 45, 0.09);
  --nk-greBacTerTra: rgba(0, 96, 38, 0.157);
  --nk-oraTexPri: #6a4222;
  --nk-oraTexSec: #d27b2d;
  --nk-oraTexTer: #cba27d;
  --nk-oraTexDis: #eaccb2;
  --nk-oraTexAccPri: #d5803b;
  --nk-oraTexInvPri: #fcf7f4;
  --nk-oraTexInvSec: #eaccb2;
  --nk-oraTexDisTra: rgba(186, 86, 0, 0.3);
  --nk-oraIcoPri: #6a4222;
  --nk-oraIcoSec: #d27b2d;
  --nk-oraIcoTer: #cba27d;
  --nk-oraIcoDis: #eaccb2;
  --nk-oraIcoAccPri: #d5803b;
  --nk-oraIcoInvPri: #fcf7f4;
  --nk-oraIcoInvSec: #eaccb2;
  --nk-oraBorPri: #f3ddcb;
  --nk-oraBorSec: #fbebde;
  --nk-oraBorInvPri: #88522f;
  --nk-oraBorAccPri: #d5803b;
  --nk-oraBorStr: #eaccb2;
  --nk-oraBorPriTra: rgba(196, 88, 0, 0.204);
  --nk-oraBorSecTra: rgba(224, 101, 1, 0.13);
  --nk-oraBorStrTra: rgba(186, 86, 0, 0.3);
  --nk-oraBacPri: #fcf7f4;
  --nk-oraBacSec: #fbebde;
  --nk-oraBacTer: #f3ddcb;
  --nk-oraBacEle: #fff;
  --nk-oraBacAccPri: #d5803b;
  --nk-oraBacAccSec: #de9255;
  --nk-oraBacPriTra: rgba(186, 72, 3, 0.043);
  --nk-oraBacSecTra: rgba(224, 101, 1, 0.13);
  --nk-oraBacTerTra: rgba(196, 88, 0, 0.204);
  --nk-pinTexPri: #68354e;
  --nk-pinTexSec: #c14c8a;
  --nk-pinTexTer: #c897ad;
  --nk-pinTexDis: #eac4d5;
  --nk-pinTexAccPri: #db6999;
  --nk-pinTexInvPri: #fcf7f9;
  --nk-pinTexInvSec: #eac4d5;
  --nk-pinTexDisTra: rgba(164, 0, 73, 0.23);
  --nk-pinIcoPri: #68354e;
  --nk-pinIcoSec: #c14c8a;
  --nk-pinIcoTer: #c897ad;
  --nk-pinIcoDis: #eac4d5;
  --nk-pinIcoAccPri: #db6999;
  --nk-pinIcoInvPri: #fcf7f9;
  --nk-pinIcoInvSec: #eac4d5;
  --nk-pinBorPri: #f4d8e4;
  --nk-pinBorSec: #fae9f1;
  --nk-pinBorInvPri: #7b4760;
  --nk-pinBorAccPri: #db6999;
  --nk-pinBorStr: #eac4d5;
  --nk-pinBorPriTra: rgba(183, 0, 78, 0.153);
  --nk-pinBorSecTra: rgba(197, 0, 93, 0.086);
  --nk-pinBorStrTra: rgba(164, 0, 73, 0.23);
  --nk-pinBacPri: #fcf7f9;
  --nk-pinBacSec: #fae9f1;
  --nk-pinBacTer: #f4d8e4;
  --nk-pinBacEle: #fff;
  --nk-pinBacAccPri: #db6999;
  --nk-pinBacAccSec: #df84a8;
  --nk-pinBacPriTra: rgba(161, 3, 66, 0.03);
  --nk-pinBacSecTra: rgba(197, 0, 93, 0.086);
  --nk-pinBacTerTra: rgba(183, 0, 78, 0.153);
  --nk-purTexPri: #553b69;
  --nk-purTexSec: #9a6bb4;
  --nk-purTexTer: #b49cc6;
  --nk-purTexDis: #dbc8e8;
  --nk-purTexAccPri: #b577d6;
  --nk-purTexInvPri: #faf7fc;
  --nk-purTexInvSec: #dbc8e8;
  --nk-purTexDisTra: rgba(88, 1, 149, 0.216);
  --nk-purIcoPri: #553b69;
  --nk-purIcoSec: #9a6bb4;
  --nk-purIcoTer: #b49cc6;
  --nk-purIcoDis: #dbc8e8;
  --nk-purIcoAccPri: #b577d6;
  --nk-purIcoInvPri: #faf7fc;
  --nk-purIcoInvSec: #dbc8e8;
  --nk-purBorPri: #e8dbf2;
  --nk-purBorSec: #f3ebf9;
  --nk-purBorInvPri: #674d7b;
  --nk-purBorAccPri: #b577d6;
  --nk-purBorStr: #dbc8e8;
  --nk-purBorPriTra: rgba(92, 0, 163, 0.14);
  --nk-purBorSecTra: rgba(102, 0, 178, 0.08);
  --nk-purBorStrTra: rgba(88, 1, 149, 0.216);
  --nk-purBacPri: #faf7fc;
  --nk-purBacSec: #f3ebf9;
  --nk-purBacTer: #e8dbf2;
  --nk-purBacEle: #fff;
  --nk-purBacAccPri: #b577d6;
  --nk-purBacAccSec: #bf8eda;
  --nk-purBacPriTra: rgba(98, 3, 161, 0.03);
  --nk-purBacSecTra: rgba(102, 0, 178, 0.08);
  --nk-purBacTerTra: rgba(92, 0, 163, 0.14);
  --nk-redTexPri: #6d3531;
  --nk-redTexSec: #cf5148;
  --nk-redTexTer: #d0988d;
  --nk-redTexDis: #f0c5be;
  --nk-redTexAccPri: #e56458;
  --nk-redTexInvPri: #fdf6f6;
  --nk-redTexInvSec: #f0c5be;
  --nk-redTexDisTra: rgba(196, 27, 0, 0.255);
  --nk-redIcoPri: #6d3531;
  --nk-redIcoSec: #cf5148;
  --nk-redIcoTer: #d0988d;
  --nk-redIcoDis: #f0c5be;
  --nk-redIcoAccPri: #e56458;
  --nk-redIcoInvPri: #fdf6f6;
  --nk-redIcoInvSec: #f0c5be;
  --nk-redBorPri: #f7d9d5;
  --nk-redBorSec: #fce9e7;
  --nk-redBorInvPri: #924943;
  --nk-redBorAccPri: #e56458;
  --nk-redBorStr: #f0c5be;
  --nk-redBorPriTra: rgba(206, 24, 0, 0.165);
  --nk-redBorSecTra: rgba(223, 22, 0, 0.094);
  --nk-redBorStrTra: rgba(196, 27, 0, 0.255);
  --nk-redBacPri: #fdf6f6;
  --nk-redBacSec: #fce9e7;
  --nk-redBacTer: #f7d9d5;
  --nk-redBacEle: #fff;
  --nk-redBacAccPri: #e56458;
  --nk-redBacAccSec: #e97366;
  --nk-redBacPriTra: rgba(199, 3, 3, 0.035);
  --nk-redBacSecTra: rgba(223, 22, 0, 0.094);
  --nk-redBacTerTra: rgba(206, 24, 0, 0.165);
  --nk-teaTexPri: #18505b;
  --nk-teaTexSec: #2c8b9e;
  --nk-teaTexTer: #7eb6c2;
  --nk-teaTexDis: #b0dbe4;
  --nk-teaTexAccPri: #37a4b4;
  --nk-teaTexInvPri: #f3fafb;
  --nk-teaTexInvSec: #b0dbe4;
  --nk-teaTexDisTra: rgba(0, 139, 168, 0.31);
  --nk-teaIcoPri: #18505b;
  --nk-teaIcoSec: #2c8b9e;
  --nk-teaIcoTer: #7eb6c2;
  --nk-teaIcoDis: #b0dbe4;
  --nk-teaIcoAccPri: #37a4b4;
  --nk-teaIcoInvPri: #f3fafb;
  --nk-teaIcoInvSec: #b0dbe4;
  --nk-teaBorPri: #cae9f0;
  --nk-teaBorSec: #e0f3f7;
  --nk-teaBorInvPri: #226471;
  --nk-teaBorAccPri: #37a4b4;
  --nk-teaBorStr: #b0dbe4;
  --nk-teaBorPriTra: rgba(0, 149, 183, 0.208);
  --nk-teaBorSecTra: rgba(1, 157, 189, 0.12);
  --nk-teaBorStrTra: rgba(0, 139, 168, 0.31);
  --nk-teaBacPri: #f3fafb;
  --nk-teaBacSec: #e0f3f7;
  --nk-teaBacTer: #cae9f0;
  --nk-teaBacEle: #fff;
  --nk-teaBacAccPri: #37a4b4;
  --nk-teaBacAccSec: #4fb9c9;
  --nk-teaBacPriTra: rgba(3, 150, 171, 0.047);
  --nk-teaBacSecTra: rgba(1, 157, 189, 0.12);
  --nk-teaBacTerTra: rgba(0, 149, 183, 0.208);
  --nk-yelTexPri: #655121;
  --nk-yelTexSec: #cb9434;
  --nk-yelTexTer: #d8c283;
  --nk-yelTexDis: #e8d497;
  --nk-yelTexAccPri: #d8a32f;
  --nk-yelTexInvPri: #fcfaef;
  --nk-yelTexInvSec: #e8d497;
  --nk-yelTexDisTra: rgba(199, 150, 0, 0.408);
  --nk-yelIcoPri: #655121;
  --nk-yelIcoSec: #cb9434;
  --nk-yelIcoTer: #d8c283;
  --nk-yelIcoDis: #e8d497;
  --nk-yelIcoAccPri: #d8a32f;
  --nk-yelIcoInvPri: #fcfaef;
  --nk-yelIcoInvSec: #e8d497;
  --nk-yelBorPri: #f2e3b7;
  --nk-yelBorSec: #f9f3dc;
  --nk-yelBorInvPri: #836426;
  --nk-yelBorAccPri: #d8a32f;
  --nk-yelBorStr: #e8d497;
  --nk-yelBorPriTra: rgba(209, 156, 0, 0.282);
  --nk-yelBorSecTra: rgba(211, 168, 0, 0.137);
  --nk-yelBorStrTra: rgba(199, 150, 0, 0.408);
  --nk-yelBacPri: #fcfaef;
  --nk-yelBacSec: #f9f3dc;
  --nk-yelBacTer: #f2e3b7;
  --nk-yelBacEle: #fff;
  --nk-yelBacAccPri: #d8a32f;
  --nk-yelBacAccSec: #eac26b;
  --nk-yelBacPriTra: rgba(207, 175, 0, 0.063);
  --nk-yelBacSecTra: rgba(211, 168, 0, 0.137);
  --nk-yelBacTerTra: rgba(209, 156, 0, 0.282);
  /* neutral */
  --nk-texPri: #2c2c2b;
  --nk-texSec: #7d7a75;
  --nk-texTer: #a19e99;
  --nk-texDis: #d4d3cf;
  --nk-texAccPri: #5f5e59;
  --nk-texInvPri: #f0efed;
  --nk-texInvSec: #ada9a3;
  --nk-texDisTra: rgba(27, 21, 0, 0.19);
  --nk-icoPri: #383836;
  --nk-icoSec: #8e8b86;
  --nk-icoTer: #ada9a3;
  --nk-icoDis: #d4d3cf;
  --nk-icoAccPri: #7d7a75;
  --nk-icoInvPri: #f0efed;
  --nk-icoInvSec: #ada9a3;
  --nk-borPri: #e6e5e3;
  --nk-borSec: #f0efed;
  --nk-borInvPri: #5f5e59;
  --nk-borAccPri: #8e8b86;
  --nk-borStr: #d4d3cf;
  --nk-borPriTra: rgba(28, 19, 1, 0.11);
  --nk-borSecTra: rgba(42, 28, 0, 0.07);
  --nk-borStrTra: rgba(27, 21, 0, 0.19);
  --nk-bacPri: #fff;
  --nk-bacSec: #f9f8f7;
  --nk-bacTer: #f0efed;
  --nk-bacEle: #fff;
  --nk-bacAccPri: #2c2c2b;
  --nk-bacAccSec: #a19e99;
  --nk-bacPriTra: rgba(255, 255, 255, 0);
  --nk-bacSecTra: rgba(66, 35, 3, 0.03);
  --nk-bacTerTra: rgba(42, 28, 0, 0.07);
  --nk-priBla: #000;
  --nk-pagTitPlaTexCol: rgba(55, 53, 47, 0.15);
  --nk-tabFroFilDivCol: #d5d4d2;
  --nk-tabFroSelDivCol: #cad4e1;
  --nk-linDecCol: rgba(55, 53, 47, 0.25);
  --nk-opaLinDecCol: rgba(55, 53, 47, 0.4);
  --nk-regEmoCol: #000;
  --nk-sidSecCol: #91918e;
  --nk-sidIteSelBac: rgba(0, 0, 0, 0.03);
  --nk-sidSecBac: rgba(0, 0, 0, 0.024);
  --nk-conBacTra: rgba(255, 255, 255, 0);
  --nk-carConBacTra: rgba(255, 255, 255, 0);
  --nk-oveSmo: rgba(15, 15, 15, 0.6);
  --nk-calIteBac: #fff;
  --nk-calIteHovBac: rgba(84, 72, 49, 0.08);
  --nk-popBac: #fff;
  --nk-popWaxPapBac: rgba(255, 255, 255, 0.9);
  --nk-boaIteDefBac: #fff;
  --nk-colGalPreCarBac: #fff;
  --nk-colGalPreCarCov: rgba(55, 53, 47, 0.024);
  --nk-modUndBac: rgba(15, 15, 15, 0.6);
  --nk-beiBanBac: #fbf8f3;
  --nk-darBanBac: #eae9e7;
  --nk-keyDonBarBac: #f0f1f2;
  --nk-keyActBarBac: #fff;
  --nk-UIUseAvaInnOut: rgba(255, 255, 255, 0.3);
  --nk-UIUseAvaIdlOut: #f1f1ef;
  --nk-susUIUseAvaBac: rgba(84, 72, 49, 0.08);
  --nk-codBloBac: #f7f6f3;
  --nk-codStiBloBac: #f7f6f3;
  --nk-tabHeaRowColBac: #f7f6f3;
  --nk-embPlaBac: #f2f1ee;
  --nk-tokInpMenIteBac: rgba(242, 241, 238, 0.6);
  --nk-hovDisBac: rgba(55, 53, 47, 0.03);
  --nk-hovMarDisBac: #f9f9f8;
  --nk-selMarDisBac: #fff;
  --nk-butHovBac: rgba(55, 53, 47, 0.06);
  --nk-tabRowHovBac: rgba(55, 53, 47, 0.024);
  --nk-outButHovBac: rgba(55, 53, 47, 0.06);
  --nk-outButPreBac: rgba(55, 53, 47, 0.16);
  --nk-butPreBac: rgba(55, 53, 47, 0.16);
  --nk-butPreBacLig: rgba(55, 53, 47, 0.1);
  --nk-carHovBac: rgba(55, 53, 47, 0.04);
  --nk-carPreBac: rgba(55, 53, 47, 0.06);
  --nk-bluButHovBac: #0077d4;
  --nk-bluButPreBac: #006bc7;
  --nk-whi: #fff;
  --nk-whiButBac: #fff;
  --nk-assCorButBac: #fff;
  --nk-assCorButBacHov: #efefee;
  --nk-assCorButBacPre: #dfdfde;
  --nk-ligGraButHovBac: rgba(227, 226, 224, 0.7);
  --nk-ligGraButPreBac: rgba(84, 72, 49, 0.15);
  --nk-butGroBac: #fff;
  --nk-whiButHovBac: #efefee;
  --nk-whiButPreBac: #dfdfde;
  --nk-timBac: #fdfdfd;
  --nk-peeTimBac: #fdfdfd;
  --nk-timDarBac: #f7f7f7;
  --nk-topFav: #f6c050;
  --nk-homEmpStaPreJoiButBac: rgba(84, 72, 49, 0.04);
  --nk-homEmpStaPreCalInd: rgba(84, 72, 49, 0.08);
  --nk-homScrButBacBas: #fff;
  --nk-homScrButBacPre: rgba(84, 72, 49, 0.08);
  --nk-homTilBac: rgba(255, 255, 255, 0.9);
  --nk-homCarCovPhoBas: rgba(84, 72, 49, 0.04);
  --nk-homCarBacBas: #fff;
  --nk-homCarBacHov: #fff;
  --nk-homCarBacPre: rgba(84, 72, 49, 0.08);
  --nk-homCarTemCarBacBas: #fff;
  --nk-homCarTemCarBacHov: #fff;
  --nk-homCarTemCarBacPre: rgba(0, 0, 0, 0.024);
  --nk-perHomBacPho: rgba(84, 72, 49, 0.04);
  --nk-sitPagPreWinChrBar: #f5f5f5;
  --nk-seoPreTit: #1d13a3;
  --nk-sitBuiBac: #fcfcfc;
  --nk-sitInsSte: rgba(84, 72, 49, 0.08);
  --nk-selLigGra30: rgba(249, 249, 245, 0.5);
  --nk-selLigGra50: rgba(241, 241, 239, 0.5);
  --nk-selLigGra100: rgba(227, 226, 224, 0.5);
  --nk-selLigGra200: rgba(199, 198, 196, 0.5);
  --nk-selLigGra300: rgba(172, 171, 169, 0.5);
  --nk-selLigGra400: rgba(145, 145, 142, 0.5);
  --nk-selLigGra500: rgba(120, 119, 116, 0.5);
  --nk-selLigGra700: rgba(72, 71, 67, 0.5);
  --nk-equTemPlaBac: rgba(35, 131, 226, 0.14);
  --nk-finHigMatSelBac: rgba(255, 205, 56, 0.9);
  --nk-finHigMatUnsBac: rgba(255, 205, 56, 0.4);
  --nk-marStaDef: rgba(255, 177, 16, 0.3);
  --nk-marStaSel: #ffb110;
  --nk-pilBacYel: rgba(215, 177, 24, 0.07);
  --nk-pilBacBlu: rgba(35, 131, 226, 0.035);
  --nk-pilBacRed: rgba(243, 136, 118, 0.07);
  --nk-pilBacWhi: rgba(84, 72, 49, 0.04);
  --nk-pilBorYel: #fbf3db;
  --nk-pilBorBlu: rgba(35, 131, 226, 0.07);
  --nk-pilBorRed: #fdebec;
  --nk-pilBorWhi: rgba(84, 72, 49, 0.08);
  --nk-pilIcoYel: #ffb110;
  --nk-pilIcoBlu: #2383e2;
  --nk-pilIcoRed: #cd3c3a;
  --nk-pilIcoWhi: rgba(71, 70, 68, 0.6);
  --nk-pilOutYel: rgba(236, 191, 66, 0.39);
  --nk-pilOutBlu: rgba(35, 131, 226, 0.14);
  --nk-pilOutRed: rgba(244, 171, 159, 0.4);
  --nk-pilOutWhi: rgba(84, 72, 49, 0.08);
  --nk-pilHovBacYel: #fbf3db;
  --nk-pilHovBacBlu: rgba(35, 131, 226, 0.14);
  --nk-pilHovBacRed: #fdebec;
  --nk-pilHovBacWhi: rgba(0, 0, 0, 0.1);
  --nk-pilHovBorYel: rgba(236, 191, 66, 0.39);
  --nk-pilHovBorBlu: rgba(35, 131, 226, 0.07);
  --nk-pilHovBorRed: rgba(244, 171, 159, 0.4);
  --nk-pilHovBorWhi: rgba(84, 72, 49, 0.15);
  --nk-pilHovTexYel: #402c1b;
  --nk-pilHovTexBlu: #2383e2;
  --nk-pilHovTexRed: #cd3c3a;
  --nk-pilHovTexWhi: #73726e;
  --nk-pilPreBacYel: rgba(236, 191, 66, 0.39);
  --nk-pilPreBacBlu: rgba(35, 131, 226, 0.21);
  --nk-pilPreBacRed: rgba(244, 171, 159, 0.4);
  --nk-pilPreBacWhi: rgba(0, 0, 0, 0.2);
  --nk-pilPreBorYel: rgba(236, 191, 66, 0.39);
  --nk-pilPreBorBlu: rgba(35, 131, 226, 0.07);
  --nk-pilPreBorRed: rgba(244, 171, 159, 0.4);
  --nk-pilPreBorWhi: rgba(81, 73, 60, 0.32);
  --nk-pilSelBacYel: #fbf3db;
  --nk-pilSelBacBlu: rgba(35, 131, 226, 0.07);
  --nk-pilSelBacRed: #fdebec;
  --nk-pilSelBacWhi: rgba(84, 72, 49, 0.08);
  --nk-pilSelBorYel: rgba(255, 177, 16, 0.5);
  --nk-pilSelBorBlu: rgba(35, 131, 226, 0.35);
  --nk-pilSelBorRed: rgba(215, 38, 21, 0.5);
  --nk-pilSelBorWhi: rgba(71, 70, 68, 0.6);
  --nk-pilSelHovBacYel: rgba(236, 191, 66, 0.39);
  --nk-pilSelHovBacBlu: rgba(35, 131, 226, 0.14);
  --nk-pilSelHovBacRed: rgba(244, 171, 159, 0.4);
  --nk-pilSelHovBacWhi: rgba(84, 72, 49, 0.15);
  --nk-pilSelHovBorYel: rgba(255, 177, 16, 0.5);
  --nk-pilSelHovBorBlu: rgba(35, 131, 226, 0.35);
  --nk-pilSelHovBorRed: rgba(215, 38, 21, 0.5);
  --nk-pilSelHovBorWhi: rgba(71, 70, 68, 0.6);
  --nk-pilSelPreBacYel: #fce2ab;
  --nk-pilSelPreBacBlu: rgba(35, 131, 226, 0.21);
  --nk-pilSelPreBacRed: rgba(215, 38, 21, 0.32);
  --nk-pilSelPreBacWhi: rgba(81, 73, 60, 0.32);
  --nk-pilSelPreBorYel: rgba(255, 177, 16, 0.5);
  --nk-pilSelPreBorBlu: rgba(35, 131, 226, 0.35);
  --nk-pilSelPreBorRed: rgba(215, 38, 21, 0.5);
  --nk-pilSelPreBorWhi: rgba(71, 70, 68, 0.6);
  --nk-marTopTexHovRed: #f64932;
  --nk-marTopTexHovYel: #ffb110;
  --nk-marTopTexHovBlu: #2383e2;
  --nk-marTopTexHovWhi: rgba(0, 0, 0, 0.65);
  --nk-marTopTexPreRed: #ba1d08;
  --nk-marTopTexPreYel: #db9400;
  --nk-marTopTexPreBlu: #1761ab;
  --nk-marTopTexPreWhi: #000;
  --nk-marTopTexDroVieAllRed: #cd3c3a;
  --nk-marTopTexDroVieAllYel: #d99e35;
  --nk-marTopTexDroVieAllBlu: #2383e2;
  --nk-marTopTexDroVieAllWhi: #000;
  --nk-marEdiIllRed: transparent;
  --nk-marEdiIllYel: transparent;
  --nk-marEdiIllBlu: transparent;
  --nk-marEdiIllWhi: transparent;
  --nk-marEdiIcoRed: #f64932;
  --nk-marEdiIcoYel: #ffb110;
  --nk-marEdiIcoBlu: #2383e2;
  --nk-marEdiIcoWhi: rgba(71, 70, 68, 0.6);
  --nk-marEdiBorRed: #fdebec;
  --nk-marEdiBorYel: #fbf3db;
  --nk-marEdiBorBlu: #f0f6fd;
  --nk-marEdiBorWhi: rgba(0, 0, 0, 0.024);
  --nk-marEdiBorHovRed: rgba(244, 171, 159, 0.4);
  --nk-marEdiBorHovYel: rgba(236, 191, 66, 0.39);
  --nk-marEdiBorHovBlu: #e0eefb;
  --nk-marEdiBorHovWhi: rgba(0, 0, 0, 0.05);
  --nk-marEdiBorPreRed: transparent;
  --nk-marEdiBorPreYel: transparent;
  --nk-marEdiBorPreBlu: transparent;
  --nk-marEdiBorPreWhi: transparent;
  --nk-marEdiBacRed: rgba(243, 136, 118, 0.07);
  --nk-marEdiBacYel: rgba(215, 177, 24, 0.07);
  --nk-marEdiBacBlu: rgba(35, 131, 226, 0.035);
  --nk-marEdiBacWhi: rgba(84, 72, 49, 0.04);
  --nk-marEdiBacHovRed: #fdebec;
  --nk-marEdiBacHovYel: #fbf3db;
  --nk-marEdiBacHovBlu: #f0f6fd;
  --nk-marEdiBacHovWhi: rgba(0, 0, 0, 0.08);
  --nk-marEdiBacPreRed: rgba(244, 171, 159, 0.4);
  --nk-marEdiBacPreYel: rgba(236, 191, 66, 0.39);
  --nk-marEdiBacPreBlu: #d1e5f9;
  --nk-marEdiBacPreWhi: rgba(84, 72, 49, 0.15);
  --nk-creProInRevTex: #f97b2d;
  --nk-creProInRevHovTex: #c76224;
  --nk-creProInRevBac: #fde6d9;
  /* shadow */
  --nk-shaCol: #0f0f0f;
  --nk-botActBarSha:
    0 -1px 0 1px rgba(15, 15, 15, 0.05), 0 -3px 6px rgba(15, 15, 15, 0.1);
  --nk-butBoxSha:
    inset 0 0 0 1px rgba(15, 15, 15, 0.1), 0 1px 2px rgba(15, 15, 15, 0.1);
  --nk-avaBoxSha: 0 2px 4px rgba(15, 15, 15, 0.1);
  --nk-butBluFocRin:
    0px 0px 0px 2px #f8f8f7, 0px 0px 0px 4px #2383e2,
    0px 0px 0px 6px rgba(255, 255, 255, 0.25);
  --nk-inpRedFocRin: 0px 0px 0px 1px #cd3c3a inset, 0px 0px 0px 1px #cd3c3a;
  --nk-inpBluFocRin: 0px 0px 0px 1px #2383e2 inset, 0px 0px 0px 1px #2383e2;
  --nk-secSidBorBoxSha: inset calc(var(--direction, 1) * -1px) 0px 0px 0px
    rgba(84, 72, 49, 0.08);
  --nk-topAndSha:
    rgba(15, 15, 15, 0.1) 0px 2px 4px, rgba(15, 15, 15, 0.15) 0px 2px 8px;
  --nk-topAndShaCol: rgba(15, 15, 15, 0.1) 0px 1px 0px, transparent 0px 0px 0px;
  --nk-homScrButSha:
    0 0 0 1px rgba(15, 15, 15, 0.1), 0 2px 4px rgba(15, 15, 15, 0.1);
  --nk-homShaCarBas: 0 0 0 1px rgba(0, 0, 0, 0.05);
  --nk-homShaCarHov: 0 0 0 1px rgba(0, 0, 0, 0.1);
  --nk-homShaTemCarBas: 0 0 0 1px rgba(0, 0, 0, 0.06);
  --nk-homShaTemCarHov: 0 0 0 1px rgba(0, 0, 0, 0.12);
  --nk-focSha:
    rgba(35, 131, 226, 0.57) 0px 0px 0px 1px inset,
    rgba(35, 131, 226, 0.35) 0px 0px 0px 2px;
  --nk-shaSMThiOut:
    0px 4px 12px -2px rgba(0, 0, 0, 0.08), 0 0 0 2px rgba(84, 72, 49, 0.08);
  --nk-shaMDPriOut:
    0px 14px 28px -6px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06),
    0 0 0 1px rgba(28, 19, 1, 0.11);
  --nk-shaMDThiOut:
    0px 14px 28px -6px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06),
    0 0 0 2px rgba(84, 72, 49, 0.08);
  --nk-shaOutMd:
    0px 8px 12px 0px rgba(25, 25, 25, 0.027),
    0px 2px 6px 0px rgba(25, 25, 25, 0.027),
    0px 0px 0px 1px rgba(42, 28, 0, 0.07);
  --nk-shaOutSm:
    0px 2px 4px 0px rgba(0, 0, 0, 0.04), 0px 0px 0px 1px rgba(42, 28, 0, 0.07);
  --nk-shaOutLg:
    0px 20px 24px 0px rgba(25, 25, 25, 0.05),
    0px 5px 8px 0px rgba(25, 25, 25, 0.027),
    0px 0px 0px 1px rgba(42, 28, 0, 0.07);
  --nk-shaOutDif:
    0px 12px 32px 0px rgba(25, 25, 25, 0.027),
    0px 0px 0px 1px rgba(42, 28, 0, 0.07);
  --nk-shaOutScr:
    0px 24px 48px 0px rgba(25, 25, 25, 0.24),
    0px 4px 12px 0px rgba(25, 25, 25, 0.14),
    0px 0px 0px 1px rgba(42, 28, 0, 0.07);
  --nk-shaBasLg:
    0px 20px 24px 0px rgba(25, 25, 25, 0.05),
    0px 5px 8px 0px rgba(25, 25, 25, 0.027);
  --nk-shaBasMd:
    0px 8px 12px 0px rgba(25, 25, 25, 0.027),
    0px 2px 6px 0px rgba(25, 25, 25, 0.027);
  --nk-shaBasSm:
    0px 4px 12px 0px rgba(25, 25, 25, 0.027),
    0px 1px 2px 0px rgba(25, 25, 25, 0.02);
  --nk-shaBasScr:
    0px 24px 48px 0px rgba(25, 25, 25, 0.24),
    0px 4px 12px 0px rgba(25, 25, 25, 0.14);
  --nk-shaBasDif: 0px 12px 32px 0px rgba(25, 25, 25, 0.027);
  /* misc. */
  --nk-aiChaButUns: transparent;
  --nk-aiChaButUnsHov: transparent;
  --nk-aiChaButSel: #fff;
  --nk-aiChaButSelHov: #fff;
  --nk-aiChaButPre: #fff;
  --nk-staHov: rgba(55, 53, 47, 0.04);
  --nk-staPre: rgba(55, 53, 47, 0.1);
  --nk-glaPag: rgba(255, 255, 255, 0.8);
  --nk-glaWas: rgba(249, 249, 248, 0.8);
  --nk-popOveBac: rgba(15, 15, 15, 0.6);
  --nk-froColDivShaBacFil: linear-gradient(
    to right,
    rgba(135, 131, 120, 0.15),
    rgba(135, 131, 120, 0.1),
    transparent
  );
  --nk-froColDivShaBac: linear-gradient(
    to right,
    rgba(135, 131, 120, 0.35),
    rgba(135, 131, 120, 0.2),
    transparent
  );
  --nk-swiButTeaBg: rgba(135, 131, 120, 0.3);
  --nk-swiTogDesTraBg: rgba(135, 131, 120, 0.4);
  --nk-swiTogDesTraBgVar: rgba(206, 205, 202, 0.3);
  --nk-embBloResInnBg: rgba(15, 15, 15, 0.6);
  --nk-calEveHovBac: rgba(55, 53, 47, 0.02);
}
.dark {
  color-scheme: dark;
  --nk-palUiBlu300: rgba(35, 131, 226, 0.2);
  --nk-palUiBlu700: #4fa7ff;
  --nk-palUiBlu150: rgba(35, 131, 226, 0.1);
  --nk-palPin30: #f6daf7;
  --nk-palPin50: rgba(220, 76, 145, 0.06);
  --nk-palPin100: #302228;
  --nk-palPin200: rgba(220, 76, 145, 0.22);
  --nk-palPin300: #4e2c3c;
  --nk-palPin400: rgba(220, 76, 145, 0.4);
  --nk-palPin500: rgba(220, 76, 145, 0.6);
  --nk-palPin600: rgba(220, 76, 145, 0.82);
  --nk-palPin700: rgba(216, 87, 149, 0.91);
  --nk-palPin800: #c94b8c;
  --nk-palPin900: #d15796;
  --nk-palPin75: rgba(220, 76, 145, 0.09);
  --nk-palPur30: #e8def6;
  --nk-palPur50: rgba(155, 97, 211, 0.08);
  --nk-palPur100: #2b2431;
  --nk-palPur200: rgba(155, 97, 211, 0.18);
  --nk-palPur300: #3c2d49;
  --nk-palPur400: rgba(168, 91, 242, 0.34);
  --nk-palPur500: rgba(155, 97, 211, 0.65);
  --nk-palPur600: rgba(155, 97, 211, 0.82);
  --nk-palPur700: rgba(155, 97, 211, 0.91);
  --nk-palPur800: #9d67d2;
  --nk-palPur900: #9d68d3;
  --nk-palPur75: rgba(155, 97, 211, 0.1);
  --nk-palGre30: #d7e8d9;
  --nk-palGre50: rgba(45, 153, 100, 0.08);
  --nk-palGre100: #222b26;
  --nk-palGre200: rgba(45, 153, 100, 0.2);
  --nk-palGre300: #243d30;
  --nk-palGre400: rgba(45, 153, 100, 0.5);
  --nk-palGre500: rgba(44, 167, 106, 0.65);
  --nk-palGre600: rgba(44, 167, 106, 0.82);
  --nk-palGre700: rgba(44, 167, 106, 0.91);
  --nk-palGre800: #3c9d6a;
  --nk-palGre900: #529e72;
  --nk-palGre75: rgba(45, 153, 100, 0.12);
  --nk-palGra0: #000;
  --nk-palGra30: #151515;
  --nk-palGra50: #191919;
  --nk-palGra75: #1c1c1c;
  --nk-palGra90: #1e1e1e;
  --nk-palGra100: #202020;
  --nk-palGra200: #252525;
  --nk-palGra300: #2f2f2f;
  --nk-palGra400: #373737;
  --nk-palGra500: #5a5a5a;
  --nk-palGra600: #7f7f7f;
  --nk-palGra700: #9b9b9b;
  --nk-palGra800: #d3d3d3;
  --nk-palGra900: #fff;
  --nk-palGra850: #e1e1e1;
  --nk-palTraGra30: #151515;
  --nk-palTraGra50: #191919;
  --nk-palTraGra75: rgba(255, 255, 255, 0.016);
  --nk-palTraGra100: rgba(255, 255, 255, 0.03);
  --nk-palTraGra200: rgba(255, 255, 255, 0.055);
  --nk-palTraGra300: rgba(255, 255, 255, 0.094);
  --nk-palTraGra400: rgba(255, 255, 255, 0.13);
  --nk-palTraGra500: rgba(255, 255, 255, 0.282);
  --nk-palTraGra600: rgba(255, 255, 255, 0.46);
  --nk-palTraGra700: rgba(255, 255, 255, 0.565);
  --nk-palTraGra800: rgba(255, 255, 255, 0.81);
  --nk-palTraGra850: rgba(255, 255, 255, 0.87);
  --nk-palTraGra900: rgba(255, 255, 255, 0.96);
  --nk-palOra30: #f0e0c8;
  --nk-palOra50: rgba(233, 126, 40, 0.06);
  --nk-palOra100: #38281e;
  --nk-palOra200: rgba(233, 126, 37, 0.2);
  --nk-palOra300: #5c3b23;
  --nk-palOra400: rgba(233, 126, 35, 0.45);
  --nk-palOra500: rgba(233, 126, 34, 0.6);
  --nk-palOra600: rgba(233, 126, 33, 0.8);
  --nk-palOra700: rgba(233, 126, 32, 0.91);
  --nk-palOra800: #e48539;
  --nk-palOra900: #c77d48;
  --nk-palOra75: rgba(233, 126, 39, 0.15);
  --nk-palBro30: #f4f4d3;
  --nk-palBro50: rgba(184, 101, 72, 0.08);
  --nk-palBro100: #2f2723;
  --nk-palBro200: rgba(184, 101, 69, 0.25);
  --nk-palBro300: #4a3228;
  --nk-palBro400: rgba(184, 101, 67, 0.45);
  --nk-palBro500: rgba(239, 153, 118, 0.6);
  --nk-palBro600: rgba(209, 138, 109, 0.75);
  --nk-palBro700: rgba(187, 125, 100, 0.91);
  --nk-palBro800: #b27e67;
  --nk-palBro900: #ba856f;
  --nk-palBro75: rgba(184, 101, 71, 0.15);
  --nk-palRed30: #fddada;
  --nk-palRed50: rgba(222, 85, 88, 0.1);
  --nk-palRed100: #362422;
  --nk-palRed200: rgba(222, 85, 85, 0.25);
  --nk-palRed300: #522e2a;
  --nk-palRed400: rgba(222, 85, 83, 0.45);
  --nk-palRed500: rgba(222, 85, 82, 0.6);
  --nk-palRed600: rgba(222, 85, 81, 0.8);
  --nk-palRed700: rgba(222, 85, 80, 0.91);
  --nk-palRed800: #de5550;
  --nk-palRed900: #e65b58;
  --nk-palRed75: rgba(222, 85, 87, 0.15);
  --nk-palYel30: #f0e2cb;
  --nk-palYel50: rgba(162, 105, 50, 0.1);
  --nk-palYel100: #392e1e;
  --nk-palYel200: rgba(179, 129, 61, 0.2);
  --nk-palYel300: #564328;
  --nk-palYel400: rgba(250, 177, 67, 0.5);
  --nk-palYel500: rgba(240, 166, 51, 0.6);
  --nk-palYel600: rgba(232, 162, 37, 0.8);
  --nk-palYel700: rgba(221, 154, 34, 0.91);
  --nk-palYel800: #d99e35;
  --nk-palYel900: #ca984d;
  --nk-palYel75: rgba(152, 102, 48, 0.15);
  --nk-palBlu30: #cbe6f7;
  --nk-palBlu50: rgba(51, 126, 169, 0.08);
  --nk-palBlu100: #1d282e;
  --nk-palBlu200: rgba(51, 126, 169, 0.2);
  --nk-palBlu300: #143a4e;
  --nk-palBlu400: rgba(51, 126, 169, 0.5);
  --nk-palBlu500: rgba(51, 126, 169, 0.65);
  --nk-palBlu600: rgba(51, 126, 169, 0.82);
  --nk-palBlu700: rgba(51, 126, 169, 0.91);
  --nk-palBlu800: #388ebf;
  --nk-palBlu900: #379ad3;
  --nk-palBlu75: rgba(51, 126, 169, 0.12);
  --nk-palPagGla0: rgba(25, 25, 25, 0.8);
  --nk-palWasGla0: rgba(32, 32, 32, 0.8);
  --nk-bluTexPri: #e5f2fc;
  --nk-bluTexTer: #355f8b;
  --nk-bluTexDis: #233850;
  --nk-bluTexDisTra: rgba(67, 155, 255, 0.24);
  --nk-bluIcoPri: #e5f2fc;
  --nk-bluIcoSec: #83abe1;
  --nk-bluIcoTer: #387dc9;
  --nk-bluIcoDis: #264a72;
  --nk-bluBorPri: #233850;
  --nk-bluBorSec: #213041;
  --nk-bluBorStr: #355f8b;
  --nk-bluBorPriTra: rgba(67, 155, 255, 0.24);
  --nk-bluBorSecTra: rgba(71, 157, 255, 0.173);
  --nk-bluBorStrTra: rgba(81, 166, 255, 0.494);
  --nk-bluBacPri: #1a2027;
  --nk-bluBacSec: #233850;
  --nk-bluBacTer: #355f8b;
  --nk-bluBacEle: #213041;
  --nk-bluBacPriTra: rgba(41, 139, 253, 0.063);
  --nk-bluBacSecTra: rgba(67, 155, 255, 0.24);
  --nk-bluBacTerTra: rgba(81, 166, 255, 0.494);
  --nk-broTexPri: #f5ede9;
  --nk-broTexTer: #6d5340;
  --nk-broTexDis: #45362d;
  --nk-broTexDisTra: rgba(255, 177, 129, 0.192);
  --nk-broIcoPri: #f5ede9;
  --nk-broIcoSec: #bca290;
  --nk-broIcoTer: #9f765a;
  --nk-broIcoDis: #584437;
  --nk-broBorPri: #45362d;
  --nk-broBorSec: #382d26;
  --nk-broBorStr: #6d5340;
  --nk-broBorPriTra: rgba(255, 177, 129, 0.192);
  --nk-broBorSecTra: rgba(255, 174, 122, 0.133);
  --nk-broBorStrTra: rgba(255, 184, 132, 0.365);
  --nk-broBacPri: #25201d;
  --nk-broBacSec: #45362d;
  --nk-broBacTer: #6d5340;
  --nk-broBacEle: #382d26;
  --nk-broBacPriTra: rgba(253, 158, 101, 0.05);
  --nk-broBacSecTra: rgba(255, 177, 129, 0.192);
  --nk-broBacTerTra: rgba(255, 184, 132, 0.365);
  --nk-graTexPri: #f0efed;
  --nk-graTexTer: #5f5e59;
  --nk-graTexDis: #383836;
  --nk-graTexDisTra: rgba(255, 255, 235, 0.1);
  --nk-graIcoPri: #f0efed;
  --nk-graIcoTer: #5f5e59;
  --nk-graIcoDis: #494846;
  --nk-graBorPri: #383836;
  --nk-graBorSec: #2c2c2b;
  --nk-graBorStr: #5f5e59;
  --nk-graBorPriTra: rgba(255, 255, 235, 0.1);
  --nk-graBorSecTra: rgba(255, 255, 243, 0.082);
  --nk-graBorStrTra: rgba(255, 252, 235, 0.306);
  --nk-graBacPri: #202020;
  --nk-graBacSec: #383836;
  --nk-graBacTer: #5f5e59;
  --nk-graBacEle: #2c2c2b;
  --nk-graBacPriTra: rgba(252, 252, 252, 0.03);
  --nk-graBacSecTra: rgba(255, 255, 235, 0.1);
  --nk-graBacTerTra: rgba(255, 252, 235, 0.306);
  --nk-greTexPri: #e8f1ec;
  --nk-greTexTer: #37674c;
  --nk-greTexDis: #263d30;
  --nk-greTexDisTra: rgba(108, 255, 172, 0.157);
  --nk-greIcoPri: #e8f1ec;
  --nk-greIcoSec: #8bb79d;
  --nk-greIcoTer: #50946e;
  --nk-greIcoDis: #2a533c;
  --nk-greBorPri: #263d30;
  --nk-greBorSec: #24342b;
  --nk-greBorStr: #37674c;
  --nk-greBorPriTra: rgba(108, 255, 172, 0.157);
  --nk-greBorSecTra: rgba(119, 255, 179, 0.118);
  --nk-greBorStrTra: rgba(113, 255, 175, 0.337);
  --nk-greBacPri: #1b211d;
  --nk-greBacSec: #263d30;
  --nk-greBacTer: #37674c;
  --nk-greBacEle: #24342b;
  --nk-greBacPriTra: rgba(83, 255, 140, 0.035);
  --nk-greBacSecTra: rgba(108, 255, 172, 0.157);
  --nk-greBacTerTra: rgba(113, 255, 175, 0.337);
  --nk-oraTexPri: #fbebde;
  --nk-oraTexTer: #88522f;
  --nk-oraTexDis: #53361f;
  --nk-oraTexDisTra: rgba(255, 147, 75, 0.28);
  --nk-oraIcoPri: #fbebde;
  --nk-oraIcoSec: #cba27d;
  --nk-oraIcoTer: #d27b2d;
  --nk-oraIcoDis: #6a4222;
  --nk-oraBorPri: #53361f;
  --nk-oraBorSec: #3d2a1d;
  --nk-oraBorStr: #88522f;
  --nk-oraBorPriTra: rgba(255, 147, 75, 0.28);
  --nk-oraBorSecTra: rgba(255, 134, 51, 0.157);
  --nk-oraBorStrTra: rgba(255, 143, 71, 0.482);
  --nk-oraBacPri: #231e1b;
  --nk-oraBacSec: #53361f;
  --nk-oraBacTer: #88522f;
  --nk-oraBacEle: #3d2a1d;
  --nk-oraBacPriTra: rgba(254, 139, 71, 0.043);
  --nk-oraBacSecTra: rgba(255, 147, 75, 0.28);
  --nk-oraBacTerTra: rgba(255, 143, 71, 0.482);
  --nk-pinTexPri: #fae9f1;
  --nk-pinTexTer: #7b4760;
  --nk-pinTexDis: #4e2b3c;
  --nk-pinTexDisTra: rgba(255, 103, 177, 0.23);
  --nk-pinIcoPri: #fae9f1;
  --nk-pinIcoSec: #c897ad;
  --nk-pinIcoTer: #c14c8a;
  --nk-pinIcoDis: #68354e;
  --nk-pinBorPri: #4e2b3c;
  --nk-pinBorSec: #3f2631;
  --nk-pinBorStr: #7b4760;
  --nk-pinBorPriTra: rgba(255, 103, 177, 0.23);
  --nk-pinBorSecTra: rgba(255, 104, 171, 0.165);
  --nk-pinBorStrTra: rgba(255, 133, 192, 0.427);
  --nk-pinBacPri: #261c20;
  --nk-pinBacSec: #4e2b3c;
  --nk-pinBacTer: #7b4760;
  --nk-pinBacEle: #3f2631;
  --nk-pinBacPriTra: rgba(255, 78, 149, 0.055);
  --nk-pinBacSecTra: rgba(255, 103, 177, 0.23);
  --nk-pinBacTerTra: rgba(255, 133, 192, 0.427);
  --nk-purTexPri: #f3ebf9;
  --nk-purTexTer: #674d7b;
  --nk-purTexDis: #3c2d47;
  --nk-purTexDisTra: rgba(200, 125, 255, 0.2);
  --nk-purIcoPri: #f3ebf9;
  --nk-purIcoTer: #9a6bb4;
  --nk-purIcoDis: #553b69;
  --nk-purBorPri: #3c2d47;
  --nk-purBorSec: #36293f;
  --nk-purBorStr: #674d7b;
  --nk-purBorPriTra: rgba(200, 125, 255, 0.2);
  --nk-purBorSecTra: rgba(201, 122, 255, 0.165);
  --nk-purBorStrTra: rgba(208, 147, 255, 0.427);
  --nk-purBacPri: #221d25;
  --nk-purBacSec: #3c2d47;
  --nk-purBacTer: #674d7b;
  --nk-purBacEle: #36293f;
  --nk-purBacPriTra: rgba(196, 101, 253, 0.05);
  --nk-purBacSecTra: rgba(200, 125, 255, 0.2);
  --nk-purBacTerTra: rgba(208, 147, 255, 0.427);
  --nk-redTexPri: #fce9e7;
  --nk-redTexTer: #924943;
  --nk-redTexDis: #502c29;
  --nk-redTexDisTra: rgba(255, 104, 92, 0.24);
  --nk-redIcoPri: #fce9e7;
  --nk-redIcoSec: #d0988d;
  --nk-redIcoTer: #cf5148;
  --nk-redIcoDis: #6d3531;
  --nk-redBorPri: #502c29;
  --nk-redBorSec: #412725;
  --nk-redBorStr: #924943;
  --nk-redBorPriTra: rgba(255, 104, 92, 0.24);
  --nk-redBorSecTra: rgba(255, 106, 94, 0.173);
  --nk-redBorStrTra: rgba(255, 116, 105, 0.525);
  --nk-redBacPri: #241d1d;
  --nk-redBacSec: #502c29;
  --nk-redBacTer: #924943;
  --nk-redBacEle: #412725;
  --nk-redBacAccSec: #e56458;
  --nk-redBacPriTra: rgba(251, 107, 107, 0.047);
  --nk-redBacSecTra: rgba(255, 104, 92, 0.24);
  --nk-redBacTerTra: rgba(255, 116, 105, 0.525);
  --nk-teaTexPri: #e0f3f7;
  --nk-teaTexTer: #226471;
  --nk-teaTexDis: #143d45;
  --nk-teaTexDisTra: rgba(0, 205, 245, 0.2);
  --nk-teaIcoPri: #e0f3f7;
  --nk-teaIcoSec: #7eb6c2;
  --nk-teaIcoTer: #2c8b9e;
  --nk-teaIcoDis: #18505b;
  --nk-teaBorPri: #143d45;
  --nk-teaBorSec: #193439;
  --nk-teaBorStr: #226471;
  --nk-teaBorPriTra: rgba(0, 205, 245, 0.2);
  --nk-teaBorSecTra: rgba(25, 219, 255, 0.137);
  --nk-teaBorStrTra: rgba(49, 221, 255, 0.38);
  --nk-teaBacPri: #172124;
  --nk-teaBacSec: #143d45;
  --nk-teaBacTer: #226471;
  --nk-teaBacEle: #193439;
  --nk-teaBacPriTra: rgba(0, 126, 164, 0.08);
  --nk-teaBacSecTra: rgba(0, 205, 245, 0.2);
  --nk-teaBacTerTra: rgba(49, 221, 255, 0.38);
  --nk-yelTexPri: #f9f3dc;
  --nk-yelTexTer: #836426;
  --nk-yelTexDis: #504425;
  --nk-yelTexDisTra: rgba(255, 205, 75, 0.24);
  --nk-yelIcoPri: #f9f3dc;
  --nk-yelIcoSec: #d8c283;
  --nk-yelIcoTer: #cb9434;
  --nk-yelIcoDis: #655121;
  --nk-yelIcoInvSec: #d8c283;
  --nk-yelBorPri: #504425;
  --nk-yelBorSec: #373325;
  --nk-yelBorStr: #836426;
  --nk-yelBorPriTra: rgba(255, 205, 75, 0.24);
  --nk-yelBorSecTra: rgba(255, 225, 117, 0.13);
  --nk-yelBorStrTra: rgba(255, 188, 53, 0.46);
  --nk-yelBacPri: #23221a;
  --nk-yelBacSec: #504425;
  --nk-yelBacTer: #836426;
  --nk-yelBacEle: #373325;
  --nk-yelBacPriTra: rgba(255, 232, 48, 0.043);
  --nk-yelBacSecTra: rgba(255, 205, 75, 0.24);
  --nk-yelBacTerTra: rgba(255, 188, 53, 0.46);
  --nk-texPri: #f0efed;
  --nk-texSec: #ada9a3;
  --nk-texTer: #7d7a75;
  --nk-texDis: #383836;
  --nk-texAccPri: #bcbab6;
  --nk-texDisTra: rgba(255, 255, 235, 0.1);
  --nk-icoPri: #e6e5e3;
  --nk-icoSec: #ada9a3;
  --nk-icoTer: #7d7a75;
  --nk-icoDis: #494846;
  --nk-icoAccPri: #bcbab6;
  --nk-borPri: #383836;
  --nk-borSec: #2c2c2b;
  --nk-borStr: #5f5e59;
  --nk-borPriTra: rgba(255, 255, 235, 0.1);
  --nk-borSecTra: rgba(255, 255, 243, 0.082);
  --nk-borStrTra: rgba(255, 252, 235, 0.306);
  --nk-bacPri: #191919;
  --nk-bacSec: #202020;
  --nk-bacTer: #383836;
  --nk-bacEle: #202020;
  --nk-bacPriTra: rgba(25, 25, 25, 0);
  --nk-bacSecTra: rgba(252, 252, 252, 0.03);
  --nk-bacTerTra: rgba(255, 255, 243, 0.082);
  --nk-priBla: #fff;
  --nk-pagTitPlaTexCol: #373737;
  --nk-tabFroFilDivCol: #464646;
  --nk-tabFroSelDivCol: #2f3a48;
  --nk-linDecCol: #373737;
  --nk-opaLinDecCol: rgba(255, 255, 255, 0.282);
  --nk-regEmoCol: #fff;
  --nk-sidSecCol: #9b9b9b;
  --nk-sidIteSelBac: rgba(255, 255, 255, 0.055);
  --nk-conBacTra: rgba(241, 241, 239, 0);
  --nk-carConBacTra: rgba(227, 226, 224, 0);
  --nk-oveSmo: rgba(15, 15, 15, 0.8);
  --nk-calIteBac: #2f2f2f;
  --nk-calIteHovBac: #373737;
  --nk-popBac: #252525;
  --nk-popWaxPapBac: rgba(32, 32, 32, 0.9);
  --nk-boaIteDefBac: rgba(255, 255, 255, 0.055);
  --nk-colGalPreCarBac: rgba(255, 255, 255, 0.055);
  --nk-colGalPreCarCov: rgba(255, 255, 255, 0.03);
  --nk-modUndBac: rgba(15, 15, 15, 0.8);
  --nk-beiBanBac: #373c3f;
  --nk-darBanBac: #373c3f;
  --nk-keyDonBarBac: #27292b;
  --nk-keyActBarBac: #272829;
  --nk-UIUseAvaInnOut: rgba(25, 25, 25, 0.3);
  --nk-UIUseAvaIdlOut: #555553;
  --nk-susUIUseAvaBac: #373737;
  --nk-codBloBac: rgba(255, 255, 255, 0.03);
  --nk-codStiBloBac: #272727;
  --nk-tabHeaRowColBac: rgba(255, 255, 255, 0.03);
  --nk-embPlaBac: rgba(255, 255, 255, 0.03);
  --nk-tokInpMenIteBac: rgba(255, 255, 255, 0.03);
  --nk-hovDisBac: #202020;
  --nk-hovMarDisBac: #202020;
  --nk-selMarDisBac: #252525;
  --nk-butHovBac: rgba(255, 255, 255, 0.055);
  --nk-tabRowHovBac: rgba(255, 255, 255, 0.055);
  --nk-outButHovBac: rgba(255, 255, 255, 0.055);
  --nk-outButPreBac: #252525;
  --nk-butPreBac: rgba(255, 255, 255, 0.03);
  --nk-butPreBacLig: rgba(255, 255, 255, 0.03);
  --nk-carHovBac: #2f2f2f;
  --nk-carPreBac: #252525;
  --nk-whi: #000;
  --nk-whiButBac: #252525;
  --nk-assCorButBac: #d3d3d3;
  --nk-ligGraButHovBac: rgba(255, 255, 255, 0.055);
  --nk-ligGraButPreBac: rgba(255, 255, 255, 0.094);
  --nk-butGroBac: #2f2f2f;
  --nk-whiButHovBac: #2f2f2f;
  --nk-whiButPreBac: #252525;
  --nk-timBac: #191919;
  --nk-peeTimBac: #202020;
  --nk-timDarBac: rgba(255, 255, 255, 0.03);
  --nk-topFav: #ca984d;
  --nk-homEmpStaPreJoiButBac: #252525;
  --nk-homEmpStaPreCalInd: #2f2f2f;
  --nk-homScrButBacBas: #252525;
  --nk-homScrButBacPre: #2f2f2f;
  --nk-homTilBac: rgba(32, 32, 32, 0.9);
  --nk-homCarCovPhoBas: rgba(255, 255, 255, 0.03);
  --nk-homCarBacBas: rgba(255, 255, 255, 0.05);
  --nk-homCarBacHov: rgba(255, 255, 255, 0.05);
  --nk-homCarBacPre: rgba(255, 255, 255, 0.07);
  --nk-homCarTemCarBacBas: rgba(255, 255, 255, 0.05);
  --nk-homCarTemCarBacHov: rgba(255, 255, 255, 0.05);
  --nk-homCarTemCarBacPre: rgba(255, 255, 255, 0.07);
  --nk-perHomBacPho: #191919;
  --nk-sitPagPreWinChrBar: #141414;
  --nk-seoPreTit: #9ebdf4;
  --nk-sitBuiBac: #1f1f1f;
  --nk-sitInsSte: #373737;
  --nk-selLigGra30: #151515;
  --nk-selLigGra50: #191919;
  --nk-selLigGra100: #202020;
  --nk-selLigGra200: #252525;
  --nk-selLigGra300: #2f2f2f;
  --nk-selLigGra400: #373737;
  --nk-selLigGra500: #5a5a5a;
  --nk-selLigGra700: #9b9b9b;
  --nk-equTemPlaBac: rgba(255, 255, 255, 0.03);
  --nk-finHigMatUnsBac: #444137;
  --nk-pilBacYel: rgba(162, 105, 50, 0.1);
  --nk-pilBacBlu: rgba(51, 126, 169, 0.08);
  --nk-pilBacRed: rgba(222, 85, 88, 0.1);
  --nk-pilBacWhi: #202020;
  --nk-pilBorYel: rgba(152, 102, 48, 0.15);
  --nk-pilBorRed: #362422;
  --nk-pilBorWhi: rgba(255, 255, 255, 0.055);
  --nk-pilIcoRed: #de5550;
  --nk-pilIcoWhi: #7f7f7f;
  --nk-pilOutYel: rgba(250, 177, 67, 0.5);
  --nk-pilOutBlu: rgba(35, 131, 226, 0.35);
  --nk-pilOutRed: rgba(222, 85, 83, 0.45);
  --nk-pilOutWhi: #1c1c1c;
  --nk-pilHovBacYel: #392e1e;
  --nk-pilHovBacRed: #362422;
  --nk-pilHovBorYel: #392e1e;
  --nk-pilHovBorRed: rgba(222, 85, 85, 0.25);
  --nk-pilHovBorWhi: rgba(255, 255, 255, 0.094);
  --nk-pilHovTexYel: rgba(255, 255, 255, 0.87);
  --nk-pilHovTexRed: #de5550;
  --nk-pilHovTexWhi: #7f7f7f;
  --nk-pilPreBacYel: rgba(179, 129, 61, 0.2);
  --nk-pilPreBacBlu: rgba(35, 131, 226, 0.2);
  --nk-pilPreBacRed: rgba(222, 85, 85, 0.25);
  --nk-pilPreBorYel: #392e1e;
  --nk-pilPreBorRed: #522e2a;
  --nk-pilPreBorWhi: rgba(255, 255, 255, 0.094);
  --nk-pilSelBacYel: rgba(152, 102, 48, 0.15);
  --nk-pilSelBacBlu: #1d282e;
  --nk-pilSelBacRed: #362422;
  --nk-pilSelBacWhi: #373737;
  --nk-pilSelBorBlu: #2383e2;
  --nk-pilSelBorRed: rgba(222, 85, 82, 0.6);
  --nk-pilSelBorWhi: rgba(255, 255, 255, 0.18);
  --nk-pilSelHovBacYel: #392e1e;
  --nk-pilSelHovBacRed: rgba(222, 85, 85, 0.25);
  --nk-pilSelHovBacWhi: rgba(0, 0, 0, 0.1);
  --nk-pilSelHovBorBlu: #2383e2;
  --nk-pilSelHovBorRed: rgba(222, 85, 82, 0.6);
  --nk-pilSelHovBorWhi: rgba(255, 255, 255, 0.18);
  --nk-pilSelPreBacYel: #564328;
  --nk-pilSelPreBacBlu: rgba(35, 131, 226, 0.35);
  --nk-pilSelPreBacRed: #522e2a;
  --nk-pilSelPreBacWhi: rgba(0, 0, 0, 0.2);
  --nk-pilSelPreBorBlu: #2383e2;
  --nk-pilSelPreBorRed: rgba(222, 85, 82, 0.6);
  --nk-pilSelPreBorWhi: rgba(255, 255, 255, 0.18);
  --nk-marTopTexHovWhi: #5a5a5a;
  --nk-marTopTexPreWhi: #7f7f7f;
  --nk-marTopTexDroVieAllRed: #de5550;
  --nk-marTopTexDroVieAllYel: #cb912f;
  --nk-marTopTexDroVieAllWhi: #7f7f7f;
  --nk-marEdiIllRed: #fdebec;
  --nk-marEdiIllYel: #fdecc8;
  --nk-marEdiIllBlu: #e0eefb;
  --nk-marEdiIllWhi: #fff;
  --nk-marEdiIcoWhi: #373737;
  --nk-marEdiBorRed: rgba(255, 255, 255, 0.03);
  --nk-marEdiBorYel: rgba(255, 255, 255, 0.03);
  --nk-marEdiBorBlu: rgba(255, 255, 255, 0.03);
  --nk-marEdiBorWhi: rgba(255, 255, 255, 0.055);
  --nk-marEdiBorHovRed: rgba(255, 255, 255, 0.03);
  --nk-marEdiBorHovYel: rgba(255, 255, 255, 0.03);
  --nk-marEdiBorHovBlu: rgba(255, 255, 255, 0.03);
  --nk-marEdiBorHovWhi: rgba(255, 255, 255, 0.055);
  --nk-marEdiBorPreRed: rgba(255, 255, 255, 0.03);
  --nk-marEdiBorPreYel: rgba(255, 255, 255, 0.03);
  --nk-marEdiBorPreBlu: rgba(255, 255, 255, 0.03);
  --nk-marEdiBorPreWhi: rgba(255, 255, 255, 0.055);
  --nk-marEdiBacRed: rgba(222, 85, 85, 0.25);
  --nk-marEdiBacYel: rgba(179, 129, 61, 0.2);
  --nk-marEdiBacBlu: rgba(35, 131, 226, 0.14);
  --nk-marEdiBacWhi: rgba(255, 255, 255, 0.055);
  --nk-marEdiBacHovRed: #522e2a;
  --nk-marEdiBacHovYel: #564328;
  --nk-marEdiBacHovBlu: rgba(35, 131, 226, 0.2);
  --nk-marEdiBacHovWhi: rgba(255, 255, 255, 0.094);
  --nk-marEdiBacPreRed: #362422;
  --nk-marEdiBacPreYel: #392e1e;
  --nk-marEdiBacPreBlu: rgba(35, 131, 226, 0.07);
  --nk-marEdiBacPreWhi: rgba(255, 255, 255, 0.03);
  --nk-marEdiIllRed2: #f64932;
  --nk-marEdiIllYel2: #f64932;
  --nk-marEdiIllBlu2: #f64932;
  --nk-marEdiIllWhi2: #f64932;
  --nk-creProInRevTex: #fde6d9;
  --nk-butBoxSha:
    inset 0 0 0 1px rgba(15, 15, 15, 0.2), 0 1px 2px rgba(15, 15, 15, 0.1);
  --nk-avaBoxSha: 0 2px 4px rgba(15, 15, 15, 0.2);
  --nk-butBluFocRin:
    0px 0px 0px 2px #191919, 0px 0px 0px 4px #2383e2, 0px 0px 0px 6px #191919;
  --nk-secSidBorBoxSha: inset calc(var(--direction, 1) * -1px) 0px 0px 0px
    rgba(255, 255, 255, 0.094);
  --nk-topAndSha:
    rgba(15, 15, 15, 0.2) 0px 2px 4px, rgba(15, 15, 15, 0.3) 0px 2px 8px;
  --nk-topAndShaCol: rgba(15, 15, 15, 0.2) 0px 1px 0px, transparent 0px 0px 0px;
  --nk-homScrButSha:
    0 0 0 1px rgba(15, 15, 15, 0.2), 0 2px 4px rgba(15, 15, 15, 0.2);
  --nk-homShaCarBas: unset;
  --nk-homShaCarHov: inset 0 0 0 1px rgba(255, 255, 255, 0.05);
  --nk-homShaTemCarBas: unset;
  --nk-homShaTemCarHov: inset 0 0 0 1px rgba(255, 255, 255, 0.05);
  --nk-shaSMThiOut: 0 0 0 2px #383836, 0px 4px 12px -2px rgba(0, 0, 0, 0.16);
  --nk-shaMDPriOut:
    inset 0 0 0 1px rgba(255, 255, 235, 0.1),
    0px 14px 28px -6px rgba(0, 0, 0, 0.2), 0px 2px 4px -1px rgba(0, 0, 0, 0.12);
  --nk-shaMDThiOut:
    0 0 0 2px #383836, 0px 14px 28px -6px rgba(0, 0, 0, 0.2),
    0px 2px 4px -1px rgba(0, 0, 0, 0.12);
  --nk-shaOutMd:
    0px 0px 0px 1px #383836, 0px 4px 12px -2px rgba(25, 25, 25, 0.08);
  --nk-shaOutSm:
    0px 0px 0px 1px #383836, 0px 2px 4px 0px rgba(25, 25, 25, 0.08);
  --nk-shaOutLg:
    0px 0px 0px 1px #383836, 0px 14px 28px -6px rgba(25, 25, 25, 0.2),
    0px 2px 4px -1px rgba(25, 25, 25, 0.118);
  --nk-shaOutDif:
    0px 0px 0px 1px #383836, 0px 12px 32px 0px rgba(25, 25, 25, 0.4);
  --nk-shaOutScr:
    0px 0px 0px 1px #383836, 0px 24px 48px 0px rgba(25, 25, 25, 0.64),
    0px 4px 12px 0px rgba(25, 25, 25, 0.56);
  --nk-shaBasLg:
    0px 14px 28px -6px rgba(25, 25, 25, 0.2),
    0px 2px 4px -1px rgba(25, 25, 25, 0.118);
  --nk-shaBasMd: 0px 4px 12px -2px rgba(25, 25, 25, 0.08);
  --nk-shaBasSm: 0px 2px 4px 0px rgba(25, 25, 25, 0.08);
  --nk-shaBasScr:
    0px 24px 48px 0px rgba(25, 25, 25, 0.64),
    0px 4px 12px 0px rgba(25, 25, 25, 0.56);
  --nk-shaBasDif: 0px 12px 32px 0px rgba(25, 25, 25, 0.4);
  --nk-aiChaButSel: rgba(255, 255, 255, 0.04);
  --nk-aiChaButSelHov: rgba(255, 255, 255, 0.06);
  --nk-aiChaButPre: rgba(255, 255, 255, 0.12);
  --nk-staHov: rgba(255, 255, 255, 0.055);
  --nk-staPre: rgba(255, 255, 255, 0.13);
  --nk-glaPag: rgba(25, 25, 25, 0.8);
  --nk-glaWas: rgba(32, 32, 32, 0.8);
  --nk-froColDivShaBacFil: linear-gradient(
    to right,
    rgba(120, 129, 135, 0.15),
    rgba(120, 129, 135, 0.1),
    transparent
  );
  --nk-froColDivShaBac: linear-gradient(
    to right,
    rgba(120, 129, 135, 0.35),
    rgba(120, 129, 135, 0.2),
    transparent
  );
  --nk-swiButTeaBg: rgba(120, 129, 135, 0.3);
  --nk-swiTogDesTraBg: rgba(120, 129, 135, 0.4);
  --nk-swiTogDesTraBgVar: rgba(202, 204, 206, 0.3);
}
